//可寫入web font的地方
@import url('https://fonts.googleapis.com/css?family=Oswald:200')
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap')
=artTxt
    font-family: 'Marck Script', cursive
@mixin fontSty
    font-family: 'Noto Sans TC','微軟正黑體',Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro','新細明體'
@mixin enFont
    font-family: 'Commissioner', sans-serif


//全域樣式，設定全站樣式統一的地方
.clearfix:after 
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
//.clearfix { display: inline-block;}
html[xmlns] .clearfix 
    display: block
* html .clearfix
    height: 1%
//全域樣式
body
    // min-width: 1024px
    +fontSty
    font-size: 16px
    // font-size: 100%
    color: $sta-block
    
input,textarea,select
    +fontSty
    color: $sta-block

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button 
    appearance: none

input[type=number] 
    -moz-appearance: textfield


