//===== input 輸入框 =====
.input-box-area
    width: 100%
    margin: 0 0 5px
    text-align: left
    label
        font-size: 86%
        color: #f9b601
        margin: 0 0 5px
        display: inline-block
    p
        color: #fff
        line-height: 40px
        display: block
.input-box
    position: relative
    label.error
        color: #fff
        padding: 3px 5px
        border-radius: 3px
        margin: 0
        background: #e53b57
        +position(50%, 3px, null, null,2)
        transform: translateY(-50%)
.input-sty
    font-size: 15px
    color: $sta-block
    width: 100%
    line-height: 38px
    padding: 0 10px
    border: 1px solid #A5A5A5
    border-radius: 3px
    //box-shadow: inset 0 2px 2px #000
    background: #fff
    box-sizing: border-box
    &::placeholder
        color: rgba($sta-block,0.8)
//===== input 輸入框(fin) =====
//===== input 點選框框共用設定 =====
.label-item-wrap
    +flex($flex-s,$c)
    label.error
        color: #fff
        padding: 3px 5px
        border-radius: 3px
        margin: 0 0 0 10px
        background: #e53b57

.input-tit
    font-size: 86%
    color: #f9b601
    margin: 0 0 5px
    display: inline-block

.label-item
    cursor: pointer
    padding: 5px
    margin: 0 5px
    +flex($flex-s,$c)
    span
        font-size: 86%
        margin: 0 0 0 5px
//===== input 點選框框共用設定(fin) =====
//===== input 單選框框 =====
.radio-box
    width: 14px
    height: 14px
    padding: 2px 0 0 2px
    border: 1px solid #009aff
    border-radius: 50%
    //background: #fff
    position: relative
    box-sizing: border-box
    +dvm

input[type="radio"]:checked + .radio-box::after
    content: ''
    width: 8px
    height: 8px
    border-radius: 50%
    background: #009aff
    display: block
    //+position(2px, null,null,2px,1)
    
input[type="radio"]
    opacity: 0
//===== input 單選框框(fin) =====
//===== input 復選框框 =====
.check-box
    width: 13px
    height: 13px
    border: 2px solid #009aff
    border-radius: 2px
    cursor: pointer
    +dvm

input[type="checkbox"]:checked + .check-box::after
    content: '\f00c'
    font-size: 15px
    color: #009aff
    transform: translateY(-1px)
    display: block
//===== input 復選框框(fin) =====
//===== 下拉單 =====
.input-sel
    font-size: 100%
    color: #f9b601
    width: 100%
    line-height: 32px
    padding: 0 10px
    border: 1px solid #f9b601
    background: #fff
    box-sizing: border-box
//===== input 復選框框(fin) =====
//===== switch 開關 =====
.switch
    position: relative
    +dvm
    width: 65px
    height: 30px
    input
        opacity: 0
        width: 0
        height: 0
        &:checked+.slider
            background: #329a04
        &:checked+.slider:after
            content: "on"
            right: 35px
        &:focus+.slider
            box-shadow: 0 0 5px #111111
        &:checked+.slider:before
            -webkit-transform: translateX(35px)
            -ms-transform: translateX(35px)
            transform: translateX(35px)

.slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #999999
    transition: .4s
    -webkit-transition: .4s
    border-radius: 50px
    padding: 3px
    &:before
        position: absolute
        content: ""
        height: 24px
        width: 24px
        background: #ffffff
        transition: .4s
        -webkit-transition: .4s
        border-radius: 30px
        left: 3px
        bottom: 3px
    &:after
        position: absolute
        content: "off"
        color: #ffffff
        line-height: 25px
        padding: 0 0 0 5px
        right: 15px
//===== switch 開關(fin) =====

//===== 一些設定 =====
//自動選填後會上的色
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0px 1000px rgba(51,51,51,1) inset
    transition: background-color 5000s ease-in-out 0s
    -webkit-text-fill-color: #fff

//暗碼CSS
.pasw
    -webkit-text-security: disc
//===== 一些設定(fin) =====

//===== 按鈕設定 =====
.btn-area
    text-align: center
    margin: 15px 0 0

.btn
    font-size: 125%
    color: #fff
    font-weight: 500
    width: 100px
    // line-height: 50px
    padding: 5px 10px
    background: #f9b601
    // background: url(../img/bg_btn.png) no-repeat center center
    +dvm
    cursor: pointer
    transition: .2s
    &:hover
        opacity: 0.9
.submit-btn
    position: relative
    input
        width: 100%
        +position(0,0,0,0,1)
        opacity: 0
        cursor: pointer
//===== 按鈕設定(fin) =====

.sub-filter-btn
    +dvm
    position: relative
    cursor: pointer
    input
        position: absolute
    label
        color: #d89f1f
        border-radius: 10px
        padding: 3px 10px
        display: block
        cursor: pointer
        transition: .2s
        &:hover
            color: #fff
    input[type="radio"]:checked + label
        color: #fff
        background: #d89f1f

.check-box2
    width: 13px
    height: 13px
    margin: 0 3px
    border: 2px solid #d1c0a5
    border-radius: 2px
    transition: .2s
    cursor: pointer
    +dvm

input[type="checkbox"]:checked + .check-box2::after
    content: '\f00c'
    font-size: 15px
    color: #d1c0a5
    transition: .2s

.check-box-c
    width: 30px
    height: 30px
    border: 2px solid #fff
    border-radius: 50%
    box-sizing: border-box
    position: relative

//複選
input[type="checkbox"]:checked + .check-box-c::after
    content: ''
    width: 30px
    height: 30px
    display: block
    background: url(../img/icon_c.png) no-repeat center center
    background-size: contain
    transition: .2s
    +position(-2px, null, null, -2px, null)

//單選
input[type="radio"]:checked + .check-box-c::after
    content: ''
    width: 30px
    height: 30px
    display: block
    background: url(../img/icon_c.png) no-repeat center center
    background-size: contain
    transition: .2s
    +position(-2px, null, null, -2px, null)

//input 範例元件
.ex-inp-wrap
    margin: 10px 20px
    border: 1px solid #009aff
    border-radius: 5px

.ex-tit
    font-size: 18px
    color: #fff
    padding: 5px
    background: #009aff

.ex-box
    padding: 5px
    p
        margin: 5px 0
    i
        color: #009aff
