@media screen and (max-width: 1679px)
    .slide-txt-cont
        .tit
            font-size: 2.5vw
        .cont
            font-size: 1.19vw
        .en
            img
                width: 50.6%
    .slide-txt-area
        width: 38.63%
    

@media screen and (max-width: 1550px)
    //=== about 關於 1550 ===
    .about-slogan
        padding-left: 65px
    .about-area1
        .main-cont
            width: 100%
    .about-solgan-area
        .img-box
            height: 600px
            width: calc(100% - 535px)
            // padding-bottom: 44%

@media screen and (max-width: 1440px)
    .ind-dot-side
        .main-area
            padding: 0 30px 0 0
    //=== ind area2 精選系列 1440 ===
    // .item-cube-end-box
    //     margin-right: 0

    //=== ind area4 咖啡新生活 ===
    // .slide-coffee-img.pc3
    //     right: calc(100% - 420px)

    //=== about 關於 1440 ===
    // .about-dot-side
    //     .main-area
    //         padding-left: 70px
    //= 品牌精神 1440 =
    .about-solgan-area
        width: 100%
        .cube-info-box
            width: 42%
            &:after
                width: 65%
        .img-box
            width: 58%
            // height: 0
            // padding-bottom: 57%

    //= 不妥協的品質 1440 =
    // .about-quality-box
    //     .info-box
    //         margin-left: 5%
    //     .img-area
    //         width: 67%
    //     .img-box
    //         width: calc(100% - 70px)
    //     &:nth-child(even)
    //         .info-box
    //             margin-right: 5%
    //         .img-box
    //             transform: translateX(-70px)
    //             z-index: 2

    //= 永續環境 1440 =
    // .about-care-area
    //     width: 100%
    //     padding-right: 30px
    // .about-env-swiper-area
    //     width: calc(100% - 60px)
    // .about-env-img-box
    //     width: 50%
    //     .about-env-img
    //         width: 100%
    // .about-env-info-box
    //     width: 50%

    // .about-care-info
    //     width: 50%
    // .about-care-cont
    //     width: 50%

    //=== 列表共用 1440 ===
    .list-page-area
        .m-tit-box
            width: 100%
            padding: 0 30px
        
    // //=== 即飲系列列表 1440 ===
    // .shop-item-img
    //     width: 100%
    //     padding-bottom: 100%
    //     height: 0
    //     // .icon-new
    //     //     right: 16%
    //     .bg-circle-box
    //         width: 65%
    //         padding-bottom: 65%
    //         height: 0
    //     .bg-circle
    //         padding-bottom: 100%

    //=== 商品內頁 1440 ===
    // .shop-banner-img
    //     align-items: center
    //     .shop-banner-item
    //         width: 90%
    //         padding-bottom: 90%
    //         height: 0
    //         margin-bottom: 0
    //         transform: translateY(20%)
    //     .circle
    //         width: 80%
    //         padding-bottom: 80%
    //         height: 0

    //=== 咖啡知識列表 1440 ===
    // .lifestyle-area
    //     padding: 0 30px 0 70px

    //=== 咖啡知識內頁 1440 ===
    .lifestyle-cont-info
        width: calc(100% - 465px)

    //=== 品牌快訊 1440 ===
    // .news-area
    //     padding: 0 30px
    // .news-list
    //     padding: 0 30px 200px

    //=== 隱私政策 1440 ===
    .column-main-area
        padding: 0 40px

@media screen and (max-width: 1400px)
    .nav-btn-box 
        span.zh
            font-size: 16px
        span.lan
            font-size: 16px
        span.en
            font-size: 16px
    .nav-mouse-box
        .title
            font-size: 16px
    .nav-sub-btn
        a
            font-size: 14px
    .ind-dot-side
        .main-area
            padding: 0 90px 0 90px
    .slide-txt-cont
        .arr-box
            font-size: 15px
    .m-tit
        h2
            font-size: 3.21vw
        .sup
            span
                font-size: 1.57vw
    .ind-cont01
        padding: 23% 0 0
    .ind-cont02
        padding: 23% 0 0
    .coffee-hr-box
        padding: 23% 0
    .ind-cont03
        padding: 43% 0 0

    .circle-hr-box
        width: 100px

    .slide-coffee-area
        width: 100%

    .gotop
        .txt
            font-size: 14px
    footer
        margin: 0 90px
    .footer-link
        .tit
            a,span
                font-size: 16px

        a
            font-size: 14px
        span
            font-size: 14px
    .footer-social-box
        a
            width: 24px
            margin-right: 24px
            &:last-child
                width: 34px
        a.privacy
            font-size: 13px

    

    // .side-act-area
    //     width: 50px
    //=== 首頁共用 1400 ===
    // .m-tit-box.ind
    //     margin: 0 auto

    //=== ind area1 探索伯朗 1400 ===
    .cube-info-txt
        .tit-box
            .tit
                font-size: 30px
            // .en
            //     img
            //         width: 29.7%
            

    
    .ind-val-area
        margin: 0 auto
        .cube-info-box
            min-width: 470px
            width: 52%
            padding: 60px 20px
        .cube-info-txt
            max-width: 430px
            margin: 0 auto
        .img-box
            // width: 600px
            // height: 800px
            width: 60%

    //=== ind area2 精選系列 1400 ===
    .item-cube-area
        width: 100%
    .item-cube-group
        width: calc(100% - 60px)
    // .item-cube-box
    //     width: 32%

    //=== 側邊點點寬度 1400 ===
    .dot-main-area
        padding: 0 30px 0 65px
    
    //=== 關於我們 1400 ===
    //= 品牌精神 =
    .about-slogan
        padding-right: 0
    //= 不妥協的品質 =
    .about-quality-area
        width: 100%
        padding: 0 106px
    //= 永續環境 =
    .about-care-area
        width: 100%

    //=== 即飲系列列表 1400 ===
    .shop-item-img
        width: 100%
        padding-bottom: 100%
        height: 0
        // .icon-new
        //     right: 16%
        .bg-circle-box
            width: 65%
            padding-bottom: 65%
            height: 0
        .bg-circle
            padding-bottom: 100%
    
    //=== 商品內頁 1400 ===
    .shop-cont-area
        width: 100%
        padding: 195px 40px 0
        box-sizing: border-box
    .shop-page-info-area
        width: 100%
    .shop-page-info-tit
        padding-left: 0

    //=== 咖啡知識列表 1400 ===
    .lifestyle-area
        .m-tit-box
            padding: 0
    .lifestyle-list
        padding-right: 100px

    //=== 其他系列 1400 ===
    .item-bottom-area
        padding: 0 40px 315px
    .item-page-cube-area
        width: 100%
    .item-page-cube-group
        .item
            width: 25%
            margin-right: 4%
        // .item.act
        //     .item-page-cube-info-box
        //         width: 67%
        .item.move
            left: 17%
    .item-page-cube-info-box
        width: 67%

    //=== 品牌快訊 1400 ===
    .news-area
        padding: 0 30px
        .m-tit-box
            padding: 0
    .news-list
        width: 100%

    //=== 隱私政策 1400 ===
    .column-info-box
        width: 652px
        padding-right: 0
    .privacy-info-box
        width: 652px


@media screen and (max-width: 1200px) 
    .nav-btn-box
        .tit
            padding-right: 50px
        span.zh
            font-size: 15px
        span.en
            font-size: 15px
    .nav-mouse-box
        .title
            font-size: 15px
            padding-right: 50px


    .slide-txt-cont 
        .arr-box
            font-size: 14px
        .tit
            font-size: 3vw
            margin: 0 0 45px
        .en
            margin: 0 0 20px
        .cont
            font-size: 1.4vw

    //涵蓋到平板打橫 1024//1024-1200
    //=== slide banner page 1200 ===
    .slide-txt-area
        padding: 70px 40px
    
    //=== ind area3 單醇新享受 1200 ===
    .ind-life-area
        width: 100%
        .img-box
            width: 51%
            height: 0
            padding-bottom: 70%
        .cube-info-box
            width: 49%
            padding: 60px 20px
            &:before
                width: 80%
        .cube-info-txt
            max-width: 440px
            margin: 0 auto

    //=== ind area4 咖啡新生活 1200 ===
    // .slide-coffee-area
    .swiper-coffee
        .swiper-slide-active
            .slide-coffee-img
                width: 50%//45%
                height: 690px
                right: 50%//calc(100% - 45%)
                transform: translateY(-62px)
    .slide-coffee-img
        width: 50%//45%
        right: 50%//calc(100% - 45%)
        height: 690px
    // .swiper-coffee
    //     width: 75%
    //     margin-left: 5%
    //     max-width: inherit
    .slide-coffee-info-cont
        width: 50%//calc(100% - 45%)
        // width: 55%
        padding: 50px 40px
        &:before
            width: 60%

    //=== about 關於 1200 ===
    //= 不妥協的品質 =
    .about-quality-area
        padding: 0 20px

    //= 伯朗大事紀 =
    // .about-event-area
    //     width: 100%
    // .about-event-box
    //     padding-left: 50px
    //     &:nth-child(even)
    //         padding-left: 0
    //         padding-right: 50px
    //     &:before
    //         width: 30px
    // .about-event-year
    //     padding: 15px
    //     &:after
    //         transform: translate(-50%,-15px)
    // .about-event-img
    //     width: 95%
    // .ey01,.ey02,.ey03,.ey04,.ey05,.ey06,.ey07
    //     top: auto
    //     bottom: -10px
    // .about-event-box.on
    //     .about-event-year
    //         top: auto
    //         bottom: -10px
    //= 永續環境 =
    .about-env-swiper-area
        width: calc(100% - 60px)
    .about-env-img-box
        width: 50%
        .about-env-img
            width: 100%
    .about-env-info-box
        width: 50%

    //=== 其他系列 1200 ===
    .item-page-cube-area
        .item-cube-group
            width: calc(100% - 80px)
    
    //=== 咖啡知識列表 1200 ===
    // .lifestyle-area
    //     padding: 0 30px 0 70px
    //     .m-tit-box
    //         padding: 0
    .lifestyle-list
        padding-right: 0
        &:before
            width: calc(485px + 30px)
            right: -30px
            transform: translateX(0)
            // width: calc(55% + 90px)
            // right: -90px
    .lifestyle-box
        width: 925px
    .lifestyle-info
        width: 465px

    // .lifestyle-box
    //     width: 100%
    // .lifestyle-info
    //     width: 45%
    //     .info-top
    //         .info-box
    //             margin: 0 0 30px
    //         .date-box
    //             margin: 0 0 50px
    // .lifestyle-img
    //     width: 55%
    //     padding-bottom: 70%
    //     height: auto

    //=== 咖啡知識內頁 1200 ===
    .lifestyle-cont-side
        width: 350px
    .lifestyle-cont-info
        width: calc(100% - 350px)
        padding: 50px

    //=== 品牌快訊 1200 ===
    // .news-area
    //     .m-tit-box
    //         padding: 0

    //===  聯絡我們 1200 ===
    // .contact-area
    //     padding: 100px 40px

@media screen and (max-width: 1023px) 
    //涵蓋到平板 768-1023
    //製作時最好是768-1024都能維持一樣，如不行，就是分1023跟1200
    //=== nav 1023 ===
    nav
        a.logo
            width: 100px
            height: 30px
    .nav-area
        padding: 8px 18px
    .nav-btn-box
        .tit
            padding: 10px 40px 12px 0
    .nav-mouse-box
        .title
            font-size: 14px
            padding: 10px 40px 12px 0
    .nav-sub-btn
        a
            font-size: 13px
    .nav-btn-box
        span.zh
            font-size: 14px
        span.en 
            font-size: 14px

    .ind-dot-side
        .main-area
            padding: 0 60px

    .m-tit
        h2
            font-size: 4vw
            margin: 0 -10px 6px 0
        .sup
            span
                font-size: 1.9vw
    

    //=== banner 1023 ===
    .slide-txt-area
        padding: 95px 30px
    .slide-txt-cont 
        .arr-box 
            font-size: 13px
            .arr
                width: 42.17%

    .slide-banner
        width: calc(100% - 50px)
    .swiper-side-banner
        width: 50px

    .ind-cont01 
        .m-tit-box.ind
            margin-bottom: 60px

    .ind-cont02
        .m-tit-box.ind
            margin-bottom: 60px


    

    // .ind-cont03
        // padding: 300px 0 80px
    .ind-cont04
        // padding: 150px 0 0
        .m-tit-box.ind
            margin-bottom: 180px

    .coffee-hr-box
        padding: 150px 0

    // .ind-bot-banner-box
    //     height: 150px
        // padding-top: 150px

    //=== ind area1 探索伯朗 1023 ===
    .ind-val-area
        .img-box
            height: 580px
        .cube-info-box
            height: 450px
            min-width: auto
            padding: 40px 30px
            bottom: 8%

    .cube-info-txt
        .tit-box
            .tit
                font-size: 3vw
                letter-spacing: 8px
        .cont-box
            .txt
                font-size: 1.8vw


    //=== ind area2 精選系列 1023 ===
    .icon-new
        font-size: 13px
        width: 45px
        height: 45px
        line-height: 43px
        top: 12px
        right: 15px
    .item-cube-group
        width: calc(100% - 50px)

    .item-cube-area
        .arr-btn
            margin: 0 0 87px

    .item-cube-img
        margin: 0 0 20px
        .item-info
            padding: 16px
            .en
                font-size: 2.2vw
                margin: 0 0 6px
            .tit
                font-size: 15px
            .info
                font-size: 13px
                line-height: 1.4
        .item-img
            img
                width: 90%
                height: 90%
                top: 5%
                left: 5%

    .item-cube-name
        .name
            font-size: 15px
            width: 100%
            margin: 0 0 8px
        a
            font-size: 13px
            width: 100%
        

    .circle-hr-box
        width: 80px

    //=== ind area3 單醇新享受 1023 ===
    .ind-cont03
        padding: 26% 0 0
    .ind-life-area
        .cube-info-box
            height: 480px
            padding: 40px 30px


    .side-act-area
        width: 36px
        height: 320px
        .tit
            font-size: 13px
    .act-dot-box
        .dot
            height: 30px
            margin: 0 0 12px

    .ind-cont04
        padding: 26% 0 0
    .tit-more
        span
            font-size: 13px
        img
            width: 50px


    .swiper-coffee
        .swiper-slide-active
            .slide-coffee-img
                height: 470px
                transform: translateY(-42px)
    .slide-coffee-info
        .tit
            font-size: 18px
            margin: 0 0 30px
        .date
            font-size: 13px
        .cont
            font-size: 14px
            line-height: 1.6
    .slide-coffee-link
        a
            font-size: 13px
    .slide-coffee-info-cont
        height: 450px
        padding: 40px 30px

    //=== about 關於 1023 ===
    //= 關於區域距離 =
    .about-area1
        padding: 100px 0
    .about-area2
        padding: 150px 0
    .about-area3
        padding: 150px 0 0
    .about-area4
        padding: 150px 0 200px

    //= 品牌精神 1023 =
    .about-solgan-area
        .cube-info-box
            width: 90%
            height: auto
            margin-right: 10%
            transform: translateY(0)
            padding: 50px 20px
            border-radius: 0 0 15px 15px
            order: 1
            &:after
                width: 100%
                top: 0
                height: 50%
                bottom: auto
                border-radius: 15px 15px 0 0
                transform: translateY(-99.5%)
        .m-tit-box
            margin: 0 0 60px
        .img-box
            width: 90%
            height: 0
            padding-bottom: 90%
            order: 0

    //= 不妥協的品質 1023 =
    // .about-quality-area
    //     .m-tit-box
    //         margin: 0 0 70px
    .about-quality-area
        padding: 0 30px
    .about-quality-box
        margin: 0 0 200px
        .info-box
            max-width: initial
            margin-bottom: 50px
        .tit-box
            margin: 0 0 50px
        .img-area
            width: 100%
            .str-more
                margin-left: 20px
            &:after
                width: 70%
                height: 100%
        .img-box
            width: 100%
            height: 0
            padding-bottom: 70%
        &:nth-child(even)
            .info-box
                order: 0
            .img-area
                order: 1
    //= 伯朗大事紀 1023 =
    .about-event-area
        .m-tit-box
            margin: 0 0 150px
    .about-event-list-area
        width: 100%
        padding: 90px 50px 0
    .about-event-box
        padding-left: 50px
        &:nth-child(even)
            padding-right: 50px
            .about-event-year
                left: -50px
    .about-event-year
        right: -50px
    .about-event-img
        width: 100%
        height: 0
        padding-bottom: 125%

    //= 永續環境 1023 =
    .about-env-info
        padding: 50px 30px

    //=== 即飲系列列表 1023 ===
    .shop-item-img
        .icon-new
            top: -15px
            right: -15px
    // .shop-area
    //     .m-tit-box
    //         padding: 0 30px
    // .list-page-area
        // .m-tit-box
        //     padding: 0 30px
            // .m-tit
            //     margin-left: 0
    
    //=== 商品內頁 1023 ===
    .shop-banner-cont
        height: 600px
    .shop-banner-img
        align-items: $c
        .shop-banner-item
            width: 100%
            height: 0
            padding-bottom: 100%
            margin: 0
        .circle
            width: 70%
            height: 0
            padding-bottom: 70%
    .shop-cont-area
        padding: 150px 40px 0
    // .shop-page-info-area
    //     padding: 150px 40px 0
    .shop-page-info-tit
        width: 100%
        margin: 0 0 80px
    .shop-page-info-cont
        width: 100%

    //= 其他系列 1023 =
    .item-bottom-area
        padding: 0 40px 150px
    .item-page-cube-group
        .item
            width: 26%
            margin-right: 2.2%
        .item.move
            left: 17.5%
    .item-page-cube-img
        .icon-new
            right: -10px
    .item-page-cube-info-box
        padding: 15px
    // .item-page-cube-group
    //     .swiper-slide
    //         width: 26%
    //         margin-right: 2%

    //=== 咖啡知識列表 1023 ===
    .lifestyle-list
        &:before
            width: calc(55% + 30px)
            right: -30px
    .lifestyle-box
        width: 100%
    .lifestyle-info
        width: 45%
        .info-top
            .info-box
                margin: 0 0 30px
            .date-box
                margin: 0 0 50px
    .lifestyle-img
        width: 55%
        padding-bottom: 70%
        height: auto

    //=== 咖啡知識內頁 1023 ===

    //=== 品牌快訊 1023 ===
    // .news-area
    //     .m-tit-box
    //         padding: 0
    .news-list
        padding: 0 0 200px
    .news-list-info-cont
        padding: 40px
    .news-list-info
        width: 100%
        padding-left: 20px
    .news-box:nth-child(even)
        .news-list-info
            padding-right: 20px

    //=== 活動影音 1023 ===
    .video-light-area
        width: 80%
    .video-light-box
        width: 100%
        height: 0
        padding-bottom: 56%

    //=== 隱私政策 1023 ===
    .column-info-box
        width: 100%
        padding-right: 0
    .privacy-info-box
        width: 100%

    //===  聯絡我們 1023 ===
    .contact-side-box
        width: 100%
        align-content: unset
        justify-content: $sb
        align-items: $c
    .contact-form-area
        width: 100%
    .contact-copyright
        width: auto

    .gotop
        .txt
            font-size: 12px

    //=== footer 1023 ===
    .footer-area
        padding: 50px 0 60px
    .f-logo
        margin: 0 0 20px
        img
            width: 150px
    footer
        margin: 0 40px  
    .footer-link
        min-width: 105px
        margin-right: 25px
        .tit
            margin: 0 0 14px
            a
                font-size: 14px
            span
                font-size: 14px
        a
            font-size: 13px
        span
            font-size: 13px
        ul.link
            li
                margin: 0 0 2px

    .footer-social-area
        width: 60px
    .footer-social-box
        a
            margin-right: 20px


@media screen and (max-width: 767px)
    .nav-area
        padding: 14px 25px 13px 29px
    nav
        a.logo
            width: 130px
            height: 35px

    .nav-btn-box
        display: none
    .ham-box
        display: flex
    
    .ind-dot-side
        .main-area
            padding: 0 30px

    .banner-area
        height: 735px
        bottom: 0

    //go top
    .arr-circle
        background: #5F1E00
        color: #fff

    //=== dot ===
    .side-act-area.on
        left: -60px

    .m-tit 
        .sup 
            span
                font-size: 15px

    //=== slide banner page 767 ===
    .slogin-box
        br
            display: block
        .tit
            font-size: 23px
            color: #E2DBD2
            font-weight: 400
        .cont
            font-size: 17px
            color: #E2DBD2
    .slide-banner
        width: 100%
    .slide-txt-area
        width: calc(100% - 98px)//75px
        padding: 31px 41px 44px//30px
        height: auto
        top: auto
        right: auto
        bottom: 0
        left: 0
        border-bottom: 7px solid $lat-color
    .slide-txt-cont
        .tit
            font-size: 18px//18px
            color: #E2DBD2
            letter-spacing: 3px
            margin: 0 0 14px
            .dot
                display: block
        .en
            display: none
        .cont
            font-size: 13px
            color: #E2DBD2
            margin: 0
            letter-spacing: 2.5px
        .arr-box
            display: none

    .swiper-side-banner
        display: none

    .swiper-slide-active
        .slide-coffee-info-cont
            transform: scale(1)
            opacity: 1


    //手機版slide
    .slide-coffee-area
        display: none
    .m-slide-group
        margin: 0 -20px
        position: relative
        display: block
        &:before
            content: ''
            width: calc(100% - 80px)
            height: 430px
            background: #C89664
            border-radius: 10px
            display: block
            position: absolute
            bottom: 0
            left: 40px
            z-index: 1
    .m-slide-coffee-area
        display: block
        position: relative
        left: 19.1%
        z-index: 2
        .swiper
            overflow: visible
        .m-slide-coffee-box
            border-radius: 10px
            overflow: hidden
    .m-slide-coffee-box
        width: 100%
        img
            width: 100%
            height: 100%
            object-fit: cover

    .m-slide-coffee-txt-area
        width: 235px
        margin: 0 auto
        padding: 40px 0 38px
        position: relative
        .swiper
            overflow: visible
        h3
            font-size: 18px
            font-weight: 300
            letter-spacing: 3px
            color: #E2DBD2
            padding: 0 0 7px
            margin: 0 0 12px
            border-bottom: 1px solid #E2DBD2
        .mb-swiper-btn-box
            display: flex
            position: absolute
            bottom: -50px
            z-index: 2
            padding: 0
            margin: 0

        
        
    .m-info
        display: flex
        justify-content: space-between
        align-items: center
        .date
            +enFont
            font-size: 13px
            font-weight: 300
            color: #E2DBD2
        a
            font-size: 13px
            letter-spacing: 3px
            font-weight: 300
            color: #E2DBD2
            display: block

    


    //=== 首頁共用 767 ===
    .mb-show
        display: block
    .m-tit
        h2
            font-size: 25px//40px
            margin: 0 0 5px
            letter-spacing: 5px
        .sup
            font-size: 15px//20px
            &:before,&:after
                width: 7px
                height: 10px
        
    .cube-info-txt
        .tit-box,.cont-box
            .en
                margin: 0 0 15px
            .tit
                font-size: 38px
        .tit-box
            margin: 0 0 30px

    .ind-cont01
        padding: 100px 0 0//50px
        .m-tit-box.ind
            margin-bottom: 60px
    .ind-cont02
        padding: 100px 0 0
        .m-tit-box.ind
            margin-bottom: 59px
    .ind-cont03
        padding: 150px 0 0//100px 0 0//60px
    .ind-cont04
        padding: 0//100px 0 0
        margin: 0 0 60px
        .m-tit-box.ind
            margin-bottom: 61px

    // .coffee-hr-box
    //     padding-top: 100px
    .circle-hr-box
        width: 80px

    .mb-swiper-btn-box
        display: flex
    //=== ind area1 探索伯朗 767 ===
    .mb-cube-area
        display: block
    .ind-val-area
        display: none
        justify-content: $flex-s
        .cube-info-box
            width: 90%
            min-width: auto
            height: auto
            margin-top: -20%
            order: 1
            position: relative
            bottom: 0
        .img-box
            width: 90%
            height: 0
            padding-bottom: 120%
            margin-left: 10%
            order: 0
    // .ind-bot-banner-box
    //     height: 100px
        // padding-top: 100px

    //=== ind area2 精選系列 767 ===
    // .item-cube-box
        // width: 100%
        // margin: 0 0 20px
        // &:last-child
        //     margin: 0
    .item-cube-end-box
        margin: 0 -30px
    .item-cube-area
        margin-top: 30px
        position: relative
        &:after
            content: ''
            display: block
            width: 88%
            height: 91%
            border-radius: 10px
            background: #F5F5EF
            +position(null,null,0,6%,0)
        .arr-btn
            display: none
        .swiper-button-prev,.swiper-button-next
            display: none
    .item-cube-group
        width: 100%
        transform: translateY(-30px)
        z-index: 2
        .swiper-slide
            .item-cube-name
                opacity: 0
                transition: .2s
                position: relative
        // .swiper-slide-active
        //     .item-cube-name
        //         opacity: 1
    .item-cube-img
        .item-info
            padding: 30px
            align-content: center
            .en
                margin: 0 0 30px
            .tit-box
                margin: 0 0 50px
    .item-cube-name
        .name
            font-size: 18px
        a
            font-size: 13px
            width: auto
    
    //=== ind area3 單醇新享受 767 ===
    .ind-life-area
        display: none
        .img-box
            width: 90%
            margin-right: 10%
            padding-bottom: 120%
            position: relative
            transform: translateY(0px)
        .cube-info-box
            width: 90%
            height: auto
            border-radius: 15px
            margin-top: -30%
            z-index: 2
            &:before
                display: none
        .cube-info-txt
            max-width: auto

    //=== ind area4 咖啡新生活 767 ===
    .tit-more
        font-size: 15px
    .swiper-coffee
        width: 100%
        margin-left: 0
    .slide-coffee-img
        width: 75%//90%
        height: 0
        left: auto
        right: auto
        padding-bottom: 100%
        margin: 0 auto
        position: relative
        transform: translateY(0px) scale(0.9)
    .swiper-coffee
        .swiper-slide-active
            .slide-coffee-img
                width: 75%
                height: 0
                right: 0
                padding-bottom: 100%
                transform: translateY(0px) scale(1)
        .swiper-slide-prev
            .slide-coffee-img
                right: -27%
        .swiper-slide-next
            .slide-coffee-img
                right: 27%
    // .slide-coffee-img.prve
    //     right: -27%
    // .slide-coffee-img.next
    //     left: -27%
    .slide-coffee-info-cont
        width: 100%
        // width: 90%
        border-radius: 0 0 15px 15px
        padding: 40px 45px//30px
        height: auto
        &:before
            width: 100%
            height: 130%
            top: 0
            bottom: auto
            border-radius: 15px 15px 0 0
            transform: translateY(-99.5%)
    .slide-coffee-info
        width: 100%
        max-width: none
        .tit
            font-size: 18px
            margin: 0 0 15px
        .date
            font-size: 13px
            margin: 0
            padding: 17px 0 0
            border-top: 1px solid $txt-sub
            border-bottom: none
            a
                font-size: 13px
                display: block
        .cont,.link
            display: none
    .slide-coffee-link
        display: none

    .ind-bot-banner
        height: 0
    .footer-video-bg
        display: none

    //=== 側邊點點寬度 767 ===
    .dot-main-area
        padding: 0 40px
    
    .m-tit.inn
        h2
            font-size: 24px
            letter-spacing: 5px
    //=== about 關於 767 ===
    // .about-dot-side
    //     .main-area
    //         padding: 0 30px
    //= 關於區域距離 =
    // .about-area1
    //     padding: 50px 0 100px
    .about-area2
        padding: 150px 0 0
    .about-area3
        padding: 150px 0 0
    .about-area4
        padding: 150px 0
    //= 品牌精神 767 =
    .about-area1
        .mb-cube-area
            width: 100%
    .about-solgan-area
        display: none

    .about-banner
        height: 430px
        .slogan-box
            display: none
        .mb-slogan-box
            display: block

    //= 不妥協的品質 767 =
    .about-quality-area
        padding-right: 0
    .about-quality-list
        display: none
    .about-quality-box
        .tit-box
            .tit
                font-size: 38px
            .sup
                font-size: 20px
        .info-box
            margin-left: 30px
            margin-bottom: 30px
        &:nth-child(even)
            .info-box
                margin-right: 30px
    .mb-about-quality-area
        display: block
    //= 不妥協的品質 - 燈箱 767 =
    .light-quality-info-box
        padding: 40px 50px
    .light-quality-info
        .en
            display: block
        .tit
            font-size: 18px
            padding-bottom: 10px
            border-bottom: 1px solid $txt-sub
        .txt
            font-size: 15px
    //= 伯朗大事紀 767 =
    .about-event-area
        .m-tit-box
            margin: 0 0 40px
    .about-event-list-area
        display: none
    .about-event-line
        left: 0
        transform: translateX(0px)
    .about-event-box
        width: 100%
        margin: 0 0 80px
        .about-event-year
            right: 10px
        &:nth-child(2),&:nth-child(odd)
            margin-top: 0
        &:nth-child(even)
            padding-left: 50px
            padding-right: 0
            justify-content: $flex-s
            .about-event-year
                left: 30px
            &:before
                right: auto
                left: 0
    .about-event-year
        font-size: 36px
        line-height: 1
        &:after
            transform: translate(-50%, -10px)
    .about-event-img
        height: 0
        padding-bottom: 120%
    // .about-event-img.txt-img
    //     height: auto
    //     padding-bottom: 0
    .about-event-txt
        padding: 25px 25px 90px
    
    .about-mb-event-list-area
        display: block

    //= 永續環境 767 =
    .about-care-area
        padding-right: 0
        .m-tit-box
            margin-bottom: 100px
        .swiper-pagination
            display: none
    .about-env-area
        .arr-btn
            display: none
    .about-env-swiper-area
        width: 100%
    .about-env-img-box
        width: 100%
        height: auto
        margin: 0
        transform: translateY(0px)
        .about-env-img
            width: 100%
            height: 0
            padding-bottom: 70%
            border-radius: 10px 10px 0 0
    .about-env-info-box
        width: 100%
        border-radius: 0 0 10px 10px
        height: auto
        &:before
            display: none
        .swiper-pagination
            bottom: 20px
            width: 100%
            left: 0
        .swiper-pagination-bullets
            .swiper-pagination-bullet
                margin: 0 10px
        .swiper-pagination-bullet
            width: 8px
            height: 8px
    .about-env-info
        .tit
            font-size: 21px
            letter-spacing: 3px
            padding-bottom: 20px
            margin: 0 0 50px
        .cont
            font-size: 15px
            height: 200px
    //= old =
    // .about-care-info
    //     width: 100%
    //     height: auto
    //     min-height: auto
    //     padding: 50px 20px
    //     top: 79px
    //     .tit-box
    //         .tit
    //             font-size: 36px
    //             margin: 0 0 30px
    //     .en-txt
    //         font-size: 50px
    //         margin: 30px 0 0
    // .about-care-cont
    //     width: 100%
    //     .txt-cont
    //         padding: 50px
    //         .txt
    //             max-width: inherit
    //= old e =
    
    //=== 即飲系列列表 767 ===
    .list-page-area
        .m-tit-box
            // padding: 0
            margin: 0 0 50px
    .shop-area
        padding: 0 30px
        .m-tit-box
            padding: 0
    // .shop-item-box
    //     width: 50%
    //     padding: 50px 20px
    .shop-class-box.pc
        display: none
    .select-mb-box
        display: block

    //= 其他系列 767 =
    .item-bottom-area
        padding: 0 40px 150px
        .m-tit-box
            justify-content: $flex-s
            margin: 0 0 70px
            padding: 0 20px

    //== new item ==
    // .shop-list
    //     padding: 0 30px
    .shop-item-box
        width: 100%
        padding: 0
        margin: 0 0 90px
        &:hover
            background: none
            .shop-item-tit
                opacity: 1
        &:last-child
            margin: 0
    .shop-item-img
        width: calc(100% - 40px)
        margin: 0 auto 35px
        border-radius: 15px
        background: #E4D8CB
        .bg-circle-box
            width: 100%
            height: 100%
            padding-bottom: 0
            left: 50%
        .bg-circle
            display: none
        .icon-new
            top: -30px
            right: -30px
    .shop-item-tit
        padding: 0 0 10px
        border-bottom: 1px solid #C8BEAF
        .tit
            font-size: 15px
            margin: 0 0 3px
        .en
            font-size: 13px
    .shop-item-cont
        display: none

    //=== 商品內頁 767 ===
    .shop-banner-area
        &:before,&:after
            display: none
    .shop-banner-cont
        height: auto
    .shop-banner-img
        width: 100%
        padding: 10% 0 0
        border-bottom: 7px solid $lat-color
        // .shop-banner-item
        //     width: 100%
        //     padding-bottom: 100%
        //     transform: translateY(0)
            // width: 50%
            // padding-bottom: 50%
        .circle
            width: 60%
            padding-bottom: 60%
        .icon-new
            width: 70px
            height: 70px
            line-height: 70px
            top: 0
            right: 26%
    .shop-banner-info
        color: $sta-block
        width: 100%
        padding: 50px 35px 0
        background: none
        .tit-box
            margin: 0 0 5px
            .en
                display: none
            .tit
                font-size: 15px
        .info-box
            width: 100%
            text-align: center
            .pc-en
                display: none
            .mb-en-txt
                font-size: 13px
                margin: 0 0 70px
                padding-bottom: 50px
                border-bottom: 1px solid #C8BEAF
                display: block
            .mb-en
                margin: 0 0 10px
                display: block
    .shop-cont-area
        padding: 0 40px
    .shop-cont-area + .coffee-hr-box
        display: none
    .shop-page-info-area
        padding: 15px
        border-radius: 15px
        background: #F5F5EF
        .coffee-hr-box
            background: #F5F5EF
            padding-bottom: 100px
    .shop-page-info-tit
        width: 100%
        margin: 0 0 50px
        padding: 20px
        .tit
            font-size: 21px
            margin: 0 0 10px
            br
                display: block
        .en
            font-size: 13px
    .shop-page-info-cont
        width: 100%
        p.shop-def
            padding: 0 20px

    .edit-area
        p.shop-def
            font-size: 15px

    .page-btn-box
        font-size: 13px
        margin-top: 50px
        i
            font-size: 22px
        .back
            i
                display: inline-block
        .prev,.next
            display: none
        &:after
            content: ''
            display: block
            width: calc(50% - 65px)
            height: 1px
            background: $m-bg-red
            +position(50%,20px,null,null,1)
    //= 其他系列 767 =
    .item-page-cube-area
        .page-btn
            display: block
    .item-page-cube-group
        display: none
    //= 手機 =
    .item-page-cube-mb-group
        display: block
    // .item-page-cube-group
    //     width: calc(100% - 70px)
    //     overflow: hidden
    //     .item
    //         width: 100%
    //     .item.act
    //         .item-page-cube-info-box
    //             width: calc(100% - 25px)
    //             transform: scale(1)
    //     .item.move
    //         left: 0
    // .item-page-cube-info-box
    //     width: calc(100% - 25px)
    //     height: auto
    //     transform: scale(1)
    //     position: relative
    //     bottom: 0
    //     left: 25px
    //     border-radius: 0 0 15px 15px
    //     &:before
    //         width: 100%
    //         height: 70%
    //         border-radius: 15px 15px 0 0
    //         transform: translateY(-99%)
    //     .tit
    //         display: block
    //     .cont
    //         display: none
    // .item-page-cube-img
    //     width: calc(100% - 60px)
    // .item-page-cube-name
    //     display: none

    //=== 咖啡知識列表 767 ===
    .lifestyle-area
        // padding: 0 30px
        // padding: 0 30px 0 70px
        .m-tit-box
            padding: 0
        .shop-class-box
            width: 100%
            margin: 20px 0 0
    .lifestyle-list
        &:before
            width: calc(55% + 40px)
            right: -40px
    .lifestyle-box
        margin: 0 0 100px
        &:hover
            .lifestyle-info
                .info-bot
                    &:after
                        width: calc(100% - 100px)
    .lifestyle-info
        width: 100%
        padding: 40px 25px 30px
        .info-top
            .info-box
                margin: 0 0 20px
                +flex($sb,$c)
                .zh
                    font-size: 15px
                .en
                    font-size: 13px
            .date-box
                font-size: 13px
                line-height: 2
                margin: 0 0 30px
            .tit
                margin: 0 0 80px
        .info-bot
            font-size: 13px
            padding-bottom: 0
            border-bottom: none
            position: relative
            &:after
                content: ''
                display: block
                width: calc(100% - 90px)
                height: 1px
                background: $txt-sub
                +position(50%,0,null,null,1)
                transition: .2s
    .lifestyle-img
        width: 100%
        padding-bottom: 100%

    .pagination-box
        a,span
            margin-right: 20px

    //=== 咖啡知識內頁 767 ===
    .lifestyle-cont-area
        align-items: $str
        padding-bottom: 0
    .lifestyle-cont-side.nofix
        align-content: $flex-e
        .tit-mb-box
            position: relative
            top: 0
    .lifestyle-cont-side
        width: 80px
        height: auto
        padding: 180px 0 100px
        position: relative
        top: 0
        background: none
        z-index: 3
        &:before
            display: none
        .tit-box
            display: none
        .tit-mb-box.on
            color: $sta-block
            .en
                img
                    opacity: 0
                img.on
                    opacity: 1
        .tit-mb-box.ontrans
            transition: 0s
        .tit-mb-box
            color: $txt-sub
            position: sticky
            top: 245px
            transition: .4s
            margin: 0 0 30px
            display: block
            .zh
                font-size: 13px
                margin: 0 auto 40px
                letter-spacing: 3px
                writing-mode: vertical-lr
            .en
                +artTxt
                writing-mode: vertical-lr
                position: relative
                img
                    opacity: 1
                    transition: .4s
                img.on
                    opacity: 0
                    +position(0,null,null,0,2)
        .side-bot-box
            .tit-en
                display: none
        // width: 100%
        // height: auto
        // padding: 30px 20px
        // position: relative
        // top: 0
        // display: none
        // .tit-box
        //     margin: 0 0 30px
    .lifestyle-social-cont
        .tit
            font-size: 13px
            color: $m-bg-red
            writing-mode: vertical-lr
            width: auto
            margin: 0 auto 30px
    .lifestyle-social-box
        a
            width: 30px
            height: 30px
            margin: 0 20px 25px
            &:last-child
                margin-bottom: 0
        .social-fb
            background: url(../img/icon_mbfb.svg) no-repeat center center/contain
        .social-ig
            background: url(../img/icon_mbig.svg) no-repeat center center/contain
        .social-google
            background: url(../img/icon_mbgoogle.svg) no-repeat center center/contain
        .social-line
            background: url(../img/icon_mbline.svg) no-repeat center center/contain
    .lifestyle-banner-mb-img-box
        // margin: 0 0 30px
        // padding-bottom: 100%
        height: 600px
        position: relative
        display: block
        img
            +imgfull(1)
        &:before
            content: ''
            display: block
            width: 90px
            height: 100%
            background: $m-color
            transform: translateX(-85px)
        .cover
            width: calc(100% + 80px)
            height: 100%
            background: $m-bg-color
            transition-timing-function: ease-in
            +position(0,null,null,101%,2)
            transition: .4s
        .cover.on
            left: -80px
    .lifestyle-cont-info
        width: calc(100% - 80px)
        padding: 0
        // width: 100%
    .lifestyle-banner-img-box
        display: none
    .lifestyle-cont-info-txt
        padding: 30px 50px 30px 10px
        .date
            font-size: 13px
            margin: 0 0 30px
            text-align: left
        .tit-box
            font-size: 21px
            text-align: left
        .page-btn-box
            padding: 0 20px
            justify-content: $flex-s
            &:after
                width: calc(100% - 120px)

    //=== 品牌快訊 767 ===
    .news-area
        padding: 0 40px
    // .news-area
        // .m-tit-box
        //     padding: 0
        // .shop-class-box
        //     width: 100%
        //     margin: 20px 0 0

    .news-list
        padding: 0 0 150px
        .pagination-area
            margin: 50px auto 0
    .news-box
        margin: 0 0 60px
        &:nth-child(even)
            flex-flow: wrap
            .news-list-info-cont
                justify-content: $flex-s
            .news-list-info
                padding: 0
            .news-list-more
                flex-flow: row
        &:hover
            .news-list-more
                border-color: $txt-sub
    .news-list-img
        width: 100%
        border-radius: 15px 15px 0 0
    .news-list-info-cont
        width: 100%
        padding: 15px 25px 25px
    .news-list-info
        padding: 0
        margin: 0 0 30px
        .tit
            margin: 0 0 55px
        .info
            .date
                display: none
            .txt
                width: 100%
                padding: 0
                border-left: none
    .news-list-more
        width: 100%
        padding-top: 15px
        border-top: 1px solid $m-color
        justify-content: $sb
        .mb-date,i
            display: block
        .arr-box
            span
                font-size: 13px
        .icon-pc-arr
            display: none

    //=== 活動影音 767 ===
    .video-light-area
        width: 90%

    //=== 隱私政策 1023 ===
    .column-area
        padding: 80px 0 100px

    //===  聯絡我們 767 ===
    // .contact-area
    //     padding: 100px 30px
    .contact-form-box.hasval
        label
            opacity: 0
    .contact-form-box
        position: relative
        label
            font-size: 13px
            +position(50%,null,null,10px,2)
            transform: translateY(-50%)
            opacity: 1
            // transition: .2s
    .label-top
        label
            +position(12px,null,null,10px,2)
            transform: translateY(0)
    .input-box
        width: 100%
    //     margin: 5px 0 0
    // .w150
    //     margin: 0
    .submit-input-area
        width: 100%
    .input-box.w150
        width: 150px
    
    .contact-copyright
        display: none
    .contact-info-area
        font-size: 13px
        margin: 0 0 70px
    .contact-form-cont
        margin: 0
    .contact-form-area
        +flex($flex-s,$flex-s)
        p.note,.contact-form-cont,.contact-info-area
            width: 100%
        .contact-info-area
            order: 0
        p.note
            font-size: 13px
            order: 1
        .contact-form-cont
            order: 2
            
    //=== footer 767 ===
    .footer-area
        padding: 60px 40px 30px
    footer
        margin: 0
    .footer-link-area
        margin: 0 0 30px
    .footer-link-box
        width: calc(100% - 75px)
        // margin: 0 0 30px
        align-content: flex-start
        align-items: unset
        margin: 0
    .footer-social-area
        width: 55px
    .footer-social-box
        // flex-grow: unset
        display: block
        +flex($flex-e,$c)
        a
            margin: 0 10px 0 0
            width: 25px
            display: block
            img
                width: 100%
            &:last-child
                width: 35px
                margin: 0
        a.privacy
            margin: 0 10px 0 0
    .footer-link
        width: 100%
        min-width: auto
        margin: 0
        &:after
            display: none
        a
            font-size: 13px
        .tit
            font-size: 15px
            margin: 0 0 15px
            +flex($flex-s,$c)
            span
                font-size: 15px
                cursor: pointer
                &:hover
                    color: $lat-color
                    text-decoration: underline
            a
                font-size: 15px
            .icon
                display: block
        .link
            margin: 0 0 20px
            display: none
            span
                font-size: 13px
    .mb-footer-info
        display: block
    .copyright
        font-size: 10px
        padding: 30px 0 0
    .gotop
        margin: 0 0 20px
    // .footer-link
    //     width: calc((100% - 21%)/4)
    //     min-width: auto
    //     margin-right: 7%

@media screen and (max-width: 600px)
    //=== footer 600 ===
    // .footer-area
    //     padding: 50px 30px
    // .footer-link-area
    //     margin: 0 0 40px
    // .footer-link
    //     width: 50%
    //     margin-right: 0
    //     text-align: center
    //     &:nth-child(1),&:nth-child(2)
    //         margin: 0 0 30px
    //     &:nth-child(2)
    //         &:after
    //             display: none
    // .footer-social-box
    //     justify-content: $c

@media screen and (max-width: 480px)
    .ind-dot-side
        .main-area
            padding: 0 20px
    .side-act-area
        width: 40px
    .act-dot-box
        .dot
            height: 30px

    //=== 首頁共用 480 ===
    // .m-tit
    //     h2
    //         font-size: 36px
    //         margin: 0 0 10px
    //     .sup
    //         font-size: 18px

    .cube-info-txt
        .tit-box
            .tit
                font-size: 32px
        .cont-box
            .en
                font-size: 28px

    .tit-more
        width: 100%
        margin-top: 15px

    //=== ind area2 精選系列 480 ===
    .item-cube-end-box
        margin: 0 -20px
    .item-cube-img
        margin: 0 0 44px
        .item-info
            .en
                margin: 0 0 10px
            .tit-box
                margin: 0 0 20px
    .item-cube-name
        .name
            font-size: 18px

    //=== ind area4 咖啡新生活 480 ===
    // .slide-coffee-info
    //     .tit
    //         margin: 0 0 20px
    //     .date
    //         margin: 0 0 20px
    //     .cont
    //         margin: 0 0 10px

    .slide-coffee-img.prve
        right: -31%
    .slide-coffee-img.next
        left: -31%

    //=== about 關於 480 ===
    // .about-dot-side
    //     .main-area
    //         padding: 0 20px
    //= 關於區域距離 =
    .about-area1
        padding: 50px 0 100px
    .about-area2
        padding: 80px 0 30px
    // .about-area3
    //     padding: 100px 0 0
    // .about-area4
    //     padding: 100px 0
    //= 品牌精神 480 =
    .about-banner
        .slogan-box
            padding: 0 50px
    //= 不妥協的品質 480 =
    // .about-quality-area
    //     padding-right: 20px
    .about-quality-box
        margin: 0 0 100px
        .tit-box
            .tit
                font-size: 32px
            .sup
                font-size: 18px
        .info-box
            margin-left: 20px
            margin-bottom: 20px
        .tit-box
            margin: 0 0 30px
        .img-area
            width: 100%
            .str-more
                margin-left: 10px
            &:after
                transform: translate(40px, 15%)
        .img-box
            width: calc(100% - 50px)
            padding-bottom: 65%
        &:nth-child(even)
            .info-box
                margin-right: 20px
            .img-area
                &:after
                    transform: translate(-50px, 15%)
    .mb-about-quality-info-box
        &:before
            height: 150%
    .mb-about-quality-img-box.next
        left: -31%
    .mb-about-quality-img-box.prve
        right: -31%
    //= 永續環境 480 =
    // .about-care-area
    //     padding-right: 20px
    // .about-care-info
    //     padding: 30px 20px

    //=== 即飲系列列表 480 ===
    .list-page-area
        padding-top: 50px
        // .m-tit-box
        //     padding: 0 20px
    .shop-area
        padding: 0 20px
    // .shop-list
    //     padding: 0 20px
    // .shop-item-box
    //     width: 100%

    //=== 商品內頁 480 ===
    .shop-banner-info
        padding: 50px 25px 0
    .shop-cont-area
        padding: 0 20px

    //= 其他系列 480 =
    .item-bottom-area
        padding: 0 10px 150px

    .item-page-cube-mb-img-box
        width: calc(100% - 30px)

    //=== 咖啡知識列表 480 ===
    // .lifestyle-area
    //     padding: 20px
        // padding: 0 20px 0 50px
        // .m-tit-box
        //     padding: 0
    .lifestyle-list
        margin: 0 0 100px
        &:before
            width: 150px
            // width: calc(55% + 20px)
            // right: -20px
    .lifestyle-box
        margin: 0 0 80px
    .lifestyle-info
        padding: 30px

    .pagination-box
        a,span
            margin-right: 15px

    //=== 咖啡知識內頁 480 ===
    .lifestyle-cont-side
        padding: 70px 0 100px
        .tit-mb-box
            top: 135px
    .lifestyle-banner-mb-img-box
        height: 385px
    // .lifestyle-cont-info
    //     padding: 30px

    //=== 品牌快訊 480 ===
    // .news-area
    //     padding: 0 20px
    .news-list
        padding: 0 0 100px
        .pagination-area
            margin: 100px auto 0
    .news-list-info-cont
        padding: 30px
    .news-list-info
        padding: 0
    .news-box
        &:nth-child(even)
            .news-list-info
                padding: 0

    //=== 隱私政策 480 ===
    .column-info-box
        padding-top: 50px

    //===  聯絡我們 480 ===
    // .contact-area
    //     padding: 50px 20px
    .contact-copyright
        width: 100%
        margin: 30px 0 0
    // .contact-form-area
    //     padding-top: 30px
    .stbmit-btn-box
        width: 100%
        margin: 10px 0 0
    .stbmit-btn
        display: inline-block
    // .stbmit-btn
    //     width: 100%
    //     text-align: center
    //     margin: 20px 0 0

    //=== footer 480 ===
    .f-logo
        img
            width: 189px

    .f-logo
        margin: 0 0 53px
    .copyright
        line-height: 1.8
        padding: 25px 0 0
        br
            display: block
    // .gotop
    //     right: 10px
    // .gotop.on
    //     bottom: 10px

    .social-side-area
        right: 15px  
    .social-side-area.on
        bottom: 15px

@media screen and (max-width: 414px)
    .m-tit-box.ind
        padding: 0 30px
    
    //=== ind area1 探索伯朗 ===
    //= 手機 =
    .mb-cube-area
        padding: 0 20px
        
    //=== ind area2 精選系列 414 ===
    .item-cube-img
        .icon-new
            font-size: 13px
            width: 52px
            height: 52px
            line-height: 52px
            top: 14px
            right: 14px
    //=== ind area4 咖啡新生活 414 ===
    .slide-coffee-box
        +flex($c,$c)
    .slide-coffee-info-cont
        width: 90%
        &:before
            // height: 129.5%
            height: 259px
    .swiper-coffee
        .swiper-slide-active
            .slide-coffee-img
                width: 69%
                padding-bottom: 89.6%
        .swiper-slide-prev
            .slide-coffee-img
                right: -41.5%
        .swiper-slide-next
            .slide-coffee-img
                right: 41.5%
    .slide-coffee-img
        width: 56%
        padding-bottom: 83.5%
    .slide-coffee-info
        .tit
            margin: 0 0 7px
    
    //=== footer 414 ===
    .footer-area
        padding: 49px 46px
    .gotop
        .txt
            font-size: 13px
    .footer-link-area
        padding: 0 10px 0 7px
        margin: 0 0 55px
    .mb-footer-social-box
        +flex($flex-e,$flex-e)
        a
            width: 20px
            display: block
            margin: 0 auto 21px
            img
                width: 100%
            &:nth-child(3)
                width: 26px
                margin: 0 auto

        .social
            width: 30px
            margin: 0 0 32px
        a.privacy
            color: $txt-sub
            font-size: 13px
            letter-spacing: 2px
            width: 75px
            margin: 0
    .footer-social-box
        display: none

@media screen and (max-width: 320px)
    .m-slide-group
        &:before
            width: calc(100% - 60px)
            height: 350px
            left: 30px
    .m-slide-coffee-txt-area
        width: 190px
        padding: 30px 0 30px
        h3
            font-size: 16px
    .m-info
        .date
            font-size: 12px
        a
            font-size: 12px
    