@import reset
//全站a ul li h1-h6 img 等基本設定
@import color
//字色 主色系與輔助色 物件色系
@import mixins
//浮動 btn 圓角 ht ct 等設定
@import global
//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import input_sty
//input 樣式
// 字級換算對照表(思源黑體)
// 13px = font-size: 80%
// 14px = font-size: 86%
// 15px = font-size: 93%
// 16px = font-size: 100%
// 17px = font-size: 105%;
// 18px = font-size: 110%;
// 20px = 125%
// 22px = 138%
// 24px = 150%
// 25px = 157%
// 26px = 163%
// 27px = 169%
// 28px = 175%
// 30px = 188%
// 36px = 225%
// 60px = 375%
// 72px = 450%

//PUG 筆記=====
.pug-h1
    font-size: 150%
    font-weight: bold
    color: #db972e
    margin: 10px

.pug-box
    border: 1px solid #db972e
    border-radius: 5px
    margin: 10px

.pug-nuit
    color: #fff
    font-weight: bold
    padding: 5px 10px
    background: #db972e

.pug-txt
    font-size: 90%
    color: #555
    padding: 5px 10px
    span
        color: #db972e
    a
        color: #fff
        background: #db972e
        padding: 5px 10px
        border-radius: 5px
        margin: 0 10px
        display: inline-block

.ex-box
    padding: 3px 10px
    color: #db972e
    span
        color: #3d80bf

.mail-box
    width: 300px
    margin: 10px
    border: 1px solid #ff6060
    border-radius: 5px
    position: relative

.mail-tag
    color: #fff
    padding: 0 10px
    border-radius: 5px
    background: #2bc7b5
    +position(5px,5px,null,null,2)

.mail-tit
    color: #fff
    background: #ff6060
    padding: 5px 10px

.mail-txt
    padding: 5px 10px

.mail-date
    color: #ff6060
    text-align: right

//=== pug 表單驗證頁面 ===
.de-input-box
    width: 300px
    padding: 10px

//=============

.test-wrap
    width: 300px
    height: 200px
    margin: 10px
    background: #ff6c6c
    +flex($sa,$c)
    // display: flex
    // flex-wrap: wrap
    // justify-content: space-between
    // align-content: center

.test-box
    width: 45%
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
    .t-img
        width: 80%

.radio-wrap
    +dvm

.border-grad
    +grad-border
    padding: 50px
    margin: 10px
    display: inline-block
    background: rgba(#331c12,0.35)
    p
        +grad-txt

//RWD 手機版css 
@import m_sty