@import reset
//全站a ul li h1-h6 img 等基本設定
@import color
//字色 主色系與輔助色 物件色系
@import mixins
//浮動 btn 圓角 ht ct 等設定
@import global
//全域樣式，設定全站樣式統一的地方(文字顏色字型大小和input及按鈕)
@import input_sty
//input 樣式

body
    background: $m-bg-color
//=== loading ===
.loading
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    background: $m-color
    z-index: 20
    transition: .2s
    opacity: 1
    visibility: visible
.loading.on
    opacity: 0
    visibility: hidden
.loading-box
    width: 140px
    height: 165px
    +position(50%,0,0,50%,1)
    transform: translate(-50%,-50%)
.loadin-img
    width: 100px
    margin: 0 auto 25px
    img
        width: 100%
.loadin-txt
    font-size: 20px
    color: $txt-sub
    +flex($sb,$c)
    animation: load 1.5s infinite ease-in-out
@keyframes load
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1
//=== 進度條 ===
.progress-box
    width: 100%
    background: #C8BEAF
    +position(null,null,0,0,2)
    .progress
        height: 10px
        background: $lat-color
        width: 0


//=== nav ===
.nav-area-bg
    width: 100%
    height: 0
    transition: .4s
    background: #EDE9DF
    position: fixed
    top: 0
    left: 0
    z-index: 9
.nav-area
    width: 100%
    padding: 16px 45px
    position: fixed
    top: 0
    box-sizing: border-box
    z-index: 10
    &:after
        content: ''
        display: block
        height: 0
        background: #EDE9DF
        +position(0,0,null,0,1)
        transition: .2s

.nav-area.on
    box-shadow: 0 0 15px rgba(#000,0.10)
    &:after
        height: 100%
    nav
        a.logo
            background: url(../img/logo_b.svg) no-repeat center center/contain
    .nav-btn-box .tit
        color: $sta-block
        &:hover
            color: $m-bg-red
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
        background: $sta-block
.nav-area.page
    top: 0
    position: sticky
    background: #EDE9DF
    box-shadow: 0 4px 4px rgba(#000,0.25)
    nav
        a.logo
            background: url(../img/logo_b.svg) no-repeat center center/contain
    .nav-btn-box .tit
        color: $sta-block
        &:hover
            color: $m-bg-red
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
        background: $sta-block
    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before
        background: $sta-block
nav
    // max-width: 1440px
    margin: 0 auto
    +flex($sb,$c)
    position: relative
    z-index: 11
    a.logo
        width: 150px
        height: 40px
        display: inline-block
        background: url(../img/logo.svg) no-repeat center center/contain
        transition: .2s
        &:hover
            opacity: 0.8
    h1
        line-height: 0
        opacity: 0
.nav-btn-box
    position: relative
    +flex($flex-e,$c)
    .tit
        color: #fff
        line-height: 1
        padding: 15px 0
        padding-right: 62px
        display: inline-block
        position: relative
        z-index: 2
        +tcursor
        //= nav mouse use =
        &:nth-last-child(2)
            +enFont
            letter-spacing: 0
            padding-right: 0
        // &:last-child
        //     +enFont
        //     letter-spacing: 0
        //     padding-right: 0
        &:hover
            color: $m-bg-red
    span
        display: inline-block
        transition: .2s
    span.lan
        font-size: 18px
    span.zh
        font-size: 18px
        letter-spacing: 2px
        position: relative
    span.en
        +enFont
        font-size: 20px
        letter-spacing: 0
        color: $m-bg-red
        font-weight: 400
        text-decoration: underline
        text-underline-offset: 5px
        text-decoration-thickness: 1px
        +position(12px,null,null,0,1)
        opacity: 0
    .tit.hover
        &:hover
            span.zh
                // transform: translateY(-16px)
                opacity: 0
            span.en
                // bottom: 14px
                opacity: 1
            #navSub1
                height: 136px
            #navSub2
                height: 170px
            #navSub3,#navSub4
                height: 68px
    .tit.act
        span.zh
            opacity: 0
        span.en
            opacity: 1
.nav-sub
    +position(100%,null,null,0,1)
    height: 0px
    transition: .2s
    overflow: hidden
.nav-sub-btn
    padding: 5px 0
    a
        font-size: 15px
        line-height: 1
        color: $sta-block
        &:hover
            color: $m-bg-red
.mb-txt
    +enFont
    font-weight: 500
    font-size: 15px
    color: $sta-block
    margin-right: 10px

//= nav mousearea =
.nav-mouse-area
    width: calc(100% + 2px)
    +position(0,null,null,0,1)
    +flex($flex-s,$flex-s)
.nav-mouse-area.act
    height: 218px
.nav-mouse-box
    .title
        font-size: 18px
        color: #fff
        line-height: 1
        letter-spacing: 2px
        padding: 15px 0
        padding-right: 62px
        display: inline-block
        opacity: 0
    &:last-child
        .title
            +enFont
            padding-right: 0
            letter-spacing: 0
.nav-mouse-link-box
    height: 0
    transition: .2s
    overflow: hidden
    &:last-child
        padding-right: 0
#navSub1.act
    height: 170px//136
#navSub2.act
    height: 170px
#navSub3.act,#navSub4.act
    height: 170px//68

.nav-social-box.act
    display: block
    height: auto
.nav-social-box
    width: 30px
    height: 0
    text-align: center
    +position(null,-2px,0,null,1)
    display: none
    a
        width: 24px
        height: 24px
        margin-top: 24px
        display: inline-block
        position: relative
        img
            +imgfull(1)
            object-fit: contain
        &:hover
            opacity: 0.8
        &:first-child
            margin-top: 0
        &:last-child
            width: 30px
            height: 21px
            margin-top: 21px

//=== ham ===
.ham-box
    +flex($flex-e,$c)
    display: none
.hamburger
    padding: 0
    height: 20px
.hamburger-inner
    background: none
    top: 14px
.hamburger-box
    width: 20px
    height: 20px
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    width: 20px
    height: 2px
.hamburger-inner:before
    top: 0
.hamburger-inner:after
    bottom: -5px
.hamburger.is-active .hamburger-inner
    background: #000

// .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
//     background: #fff
// .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before
//     background: #fff

//=== mb nav ===
.mb-nav-bg
    width: 100%
    height: 0
    background: #EDE9DF
    // background: #000
    position: fixed
    top: 0
    left: 0
    z-index: 11
.mb-nav-area
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 12
    display: none
.mb-nav-top
    padding: 15px 20px
    background: #EDE9DF
    +flex($sb,$c)
    .logo-box
        width: 130px
        height: 35px
        +flex($c,$c)
        overflow: hidden
        img
            position: relative
            transform: translateY(30px)
.mb-nav
    height: calc(100vh - 65px)
    padding: 50px 20px 20px
    // background: #EDE9DF
    overflow: scroll
    +flexs($c,$sb)
.mb-nav-cont-top
    width: 100%
.mb-nav-cont-cover
    overflow: hidden
.mb-nav-tit-box.on
    transform: translateY(0)
.mb-nav-tit-box
    color: $sta-block
    padding: 7px 0
    border-bottom: 1px solid #E2DBD2
    +flex($sb,$c)
    cursor: pointer
    transform: translateY(30px)
    transition: .2s
    .tit
        font-size: 15px
    .arrow-box
        +flex($flex-e,$c)
        span
            font-size: 13px
            margin-right: 15px
        i
            font-size: 20px
.mb-nav-sub
    padding: 5px 0
    border-bottom: 1px solid #E2DBD2
    display: none
    .item
        padding: 5px 0
        a
            font-size: 13px
            color: $sta-block
            &:hover
                color: $lat-color
.mb-social-area
    font-size: 15px
    padding: 20px 0
    a
        color: $sta-block
        &:hover
            color: $lat-color
.mb-social-cover
    overflow: hidden
.mb-social-cont
    transform: translateY(30px)
    +flex($sb,$c)
.mb-social-box
    font-size: 20px
    +flex($flex-e,$c)
    .box
        margin-right: 15px
        display: block
        &:last-child
            margin-right: 0
.mb-copyright-box
    font-size: 10px
    color: $sta-block
    text-align: center
    overflow: hidden
.mb-copyright
    transform: translateY(30px)

//=== dot ===
.side-act-area
    width: 52px
    height: 396px
    text-align: center
    position: fixed
    top: 50%
    left: -60px
    transform: translateY(-50%)
    +flexs($c,$sb)
    z-index: 5
    transition: .2s
    .tit
        font-size: 15px
        color: $m-bg-red
        letter-spacing: 3px
        writing-mode: vertical-rl
.side-act-area.on
    left: 0
.act-dot-box
    width: 100%
    .dot
        width: 100%
        height: 34px
        border-radius: 0 20px 20px 0
        margin: 0 0 25px
        display: block
        position: relative
        +tcursor
        &:last-child
            margin: 0
        &:after
            content: ''
            display: block
            width: 8px
            height: 8px
            border-radius: 50%
            background: $m-bg-red
            +position(50%,null,null,50%,2)
            transform: translate(-50%,-50%)
        &:hover
            background: rgba($m-bg-red,0.5)
            &:after
                background: $m-bg-color
    .dot.act
        background: $m-bg-red
        &:after
            background: $m-bg-color

//=== slidebanner page ===
.slide-banner-area
    width: 100%
    height: 100%
    overflow: hidden
    +position(0,null,null,0,1)
    display: flex
.slide-banner
    width: calc(100% - 100px)
    height: 100%
    overflow: hidden
    +position(0,null,null,0,1)
    .swiper-slide
        position: relative
        img
            +imgfull(1)
.slide-txt-area
    color: $txt-sub
    width: 610px
    height: 100%
    padding: 70px 60px
    background: $m-color
    +flex($flex-s,$flex-e)
    +position(0,0,null,null,2)
.slide-txt-cont
    width: 100%
    +flex($flex-e,$flex-s)
    transform: translateX(100px)
    opacity: 0
    transition-timing-function: cubic-bezier(.54,.14,.34,.99)
    transition-duration: 1s
    transition-delay: .1s
    // display: none
    >div
        width: 100%
    .tit
        font-size: 42px
        letter-spacing: 7px
        margin: 0 0 95px
        +flex($flex-s,$c)
        .dot
            width: 15px
            height: 15px
            margin-right: 5px
            background: url(../img/coffeedot_on.svg) no-repeat center center/contain
            display: none
    .en
        +artTxt
        font-size: 52px
        margin: 0 0 40px
    .cont
        font-size: 20px
        letter-spacing: 2px
        font-weight: 300
        line-height: 1.5
        margin: 0 0 100px
    .arr-box
        font-size: 16px
        font-weight: 300
        letter-spacing: 2px
        color: $txt-sub
        +flex($flex-e,$bsl)
        transition: .2s
        &:hover
            transform: translateX(15px)
        span
            margin-right: 10px
        .arr
            width: 47.17%
            transition: .2s
            img
                width: 100%
            
        // img
        //     transform: rotateY(180deg)
.change-data 
    // position: relative
    transform: translateX(0)
    opacity: 1
    // animation-duration: .8s
    // animation-name: changeData
    // animation-delay: 0.3s
    // animation-fill-mode: forwards
    // transition-timing-function: cubic-bezier(.77,0,1,.8)
    
@keyframes changeData
    0%
        transform: translateX(100px)
        opacity: 0
        
    100%
        transform: translateX(100px)
        opacity: 1

.swiper-side-banner
    width: 100px
    height: 100%
    overflow: hidden
    +position(0,0,null,null,1)
    .swiper-slide
        position: relative
        img
            +imgfull(1)

//=== index ===
.ind-dot-side
    .main-area
        background: #EDE9DF
.banner-area
    // height: 950px
    padding-bottom: 56.6%
    position: relative
    background: #EDE9DF
.banner-video-box
    width: 100%
    height: 100%
    background: $lat-color
    +position(0,null,null,0,2)
.banner-video
    width: 100%
    height: 100%
    +position(0,null,null,0,1)
    video
        width: 100%
        height: 100%
        object-fit: cover
.swiper-banner
    height: 100%
    overflow: hidden
    .swiper-slide
        img
            width: 100%
            height: 100%
            object-fit: cover
.slogin-box
    color: #fff
    width: 100%
    padding: 0 10px
    text-align: center
    letter-spacing: 3px
    +position(50%,null,null,50%,2)
    transform: translate(-50%,-50%)
    br
        display: none
    .tit
        font-size: 42px
        margin: 0 0 15px
    .cont
        font-size: 17px
.banner-icon
    +position(null,null,10%,50%,2)
    transform: translateX(-50%)
    // img
    //     animation: iconCircle 5s infinite linear

@keyframes iconCircle
    0%
        transform: rotate(0)
    100%
        transform: rotate(360deg)

// .main-area
//     padding: 0 30px 0 0
.ind-main-area
    overflow: hidden
.main-cont
    max-width: 1680px
    // max-width: 1440px
    // max-width: 1165px
    margin: 0 auto

.ind-cont01
    padding: 300px 0 0
    .m-tit-box.ind
        margin-bottom: 110px
.ind-cont02
    padding: 300px 0 0
    .m-tit-box.ind
        margin-bottom: 130px
.ind-cont02 + .coffee-hr-box
    padding-bottom: 0
.ind-cont03
    padding: 435px 0 0
.ind-cont04
    padding: 300px 0 0
    .m-tit-box.ind
        margin-bottom: 246px

//=== 首頁共用 ===
.mb-show
    display: none
.m-tit-box
    color: $m-color
    // max-width: 1165px
    // margin: 0 auto
    // margin-left: 170px
    +flex($sb,$flex-e)
.m-tit-box.ind
    max-width: 1120px
    margin: 0 auto
    // margin-left: 170px
.m-tit
    text-align: center
    display: inline-block
    h2
        font-size: 46px
        font-weight: 500
        margin: 0 -10px 14px 0
        letter-spacing: 10px
    .sup
        +enFont
        font-size: 22px
        font-weight: 500
        +flex($c,$c)
        span
            margin: 0 10px
            display: inline-block
        &:before,&:after
            content: ''
            width: 11px
            height: 16px
            margin: 2px 0 0
            background: url(../img/icon_cofdot.svg) no-repeat center center/contain
.m-tit.inn
    h2
        font-size: 50px
        margin-bottom: 3px
.m-tit.w
    .sup
        &:before,&:after
            background: url(../img/icon_cofdotw.svg) no-repeat center center/contain
.tit-more
    color: $m-color
    +flex($flex-e,$c)
    span
        font-size: 15px
        letter-spacing: 2px
        font-weight: 300
        display: inline-block
        margin-right: 5px
    img
        transition: .2s
    &:hover
        color: darken($m-color,10%)
        img
            transform: translateX(5px)

//=== ind area1 探索伯朗 ===
.ind-val-area
    max-width: 1007px
    margin: 0 auto
    +flex($flex-e,$c)
    position: relative
    .img-box
        width: 550px
        height: 750px
        border-radius: 15px
        overflow: hidden
        position: relative
        img
            +imgfull(1)
    .cube-info-box
        +position(null,null,65px,0,3)
.cube-info-box
    color: $txt-sub
    width: 520px
    height: 510px
    padding: 60px 50px
    border-radius: 15px
    text-align: center
    letter-spacing: 3px
    background: $m-bg-red
.img-load-scale img
    transition: 1s
    transition-timing-function: ease-in-out
    transform: scale(1)
.img-load-scale.off img
    transform: scale(1.2)
.img-mask
    width: 100%
    height: 100%
    background: $lat-color
    +position(0,null,null,0,2)
.cube-info-txt
    height: 100%
    +flexs($c,$sb)
    .tit-box,.cont-box
        width: 100%
        .en
            margin: 0 0 25px
            +artTxt
            img
                margin: 0 auto
        .tit
            font-size: 37px
            letter-spacing: 10px
        .txt
            font-size: 15px
            line-height: 1.8
            font-weight: 300
            text-align: center
    .tit-box .en
        font-size: 25px
    .cont-box .en
        font-size: 35px
        img
            width: 130px

//= 手機 =
.mb-cube-area
    display: none
    .top-box
        width: calc(100% - 35px)
        margin-left: 35px
        border-radius: 10px 10px 0 0
        background: $m-bg-red
        +flex($flex-e,$flex-s)
    .title-box
        padding: 38px 30px 0
        width: 100%
        +flex($c,$flex-s)
        .en
            margin: 0 0 15px
        .tit
            font-size: 21px
            color: $txt-sub
            width: 100%
            text-align: center
            letter-spacing: 3px
    .img-box
        width: 100%//calc(100% - 20px)
        padding-bottom: 124%
        margin-top: -33px//-15px
        // margin-right: 20px
        border-radius: 10px 10px 10px 0
        transform: translate(-35px,60px)
        position: relative
        overflow: hidden
        img
            +imgfull(1)
    .bot-box
        width: 100%
        padding: 98px 32px 40px//60px 35px 35px
        border-radius: 0 0 10px 10px
        background: #F5F5EF
        .info-box
            color: $m-color
            font-size: 15px
            letter-spacing: 3px
            line-height: 1.5
            .en
                +artTxt
                margin: 0 0 12px

//=== ind area2 精選系列 ===
.item-cube-end-box
    // margin-right: 30px
    +flex($flex-e,$c)
.item-cube-area
    width: 1280px//1260//1216
    margin: 0 auto
    +flex($sb,$c)
    .swiper-button-disabled
        opacity: .35
        cursor: auto
        pointer-events: none
    // .swiper-button-prev,.swiper-button-next
    //     font-size: 50px
    //     color: $m-color
    //     width: auto
    //     height: auto
    //     margin-top: -6%
    //     position: relative
    //     background: none
    //     z-index: 9
    // .swiper-button-prev
    //     left: 0
    // .swiper-button-next
    //     right: 0
.str-more
    font-size: 15px
    color: $m-color
    width: 40px
    +flex($c,$c)
    span
        letter-spacing: 3px
        writing-mode: vertical-rl
        display: inline-block
        margin: 0 0 25px
    .arr
        width: 40px
        height: 40px
        font-size: 20px
        text-align: center
        line-height: 40px
        border: 1px solid $m-color
        border-radius: 50%
        transition: .2s
    &:hover
        .arr
            color: #fff
            background: $m-color
.item-cube-group
    width: 1090px
    overflow: hidden
    // margin: 0 auto
    // +flex($sb,$c)
// .item-cube-box
//     width: 370px
.item-cube-img
    margin: 0 0 36px//35px
    border-radius: 15px
    overflow: hidden
    position: relative
    .item-img
        padding-bottom: 100%
        position: relative
        background: $pb-bg
        img
            +imgfull(1)
            transition: 0.1s ease-out
            opacity: 1
            
    .item-info
        color: $txt-sub
        width: 100%
        height: 100%
        padding: 35px 25px
        text-align: center
        border-radius: 15px
        overflow: hidden
        +flexs($flex-s,$sb)
        background: $m-color
        +position(0,null,null,0,2)
        transition: .25s
        opacity: 0
        >div
            width: 100%
        .en
            font-size: 25px
            margin: 0 0 35px
        .tit
            font-size: 17px
            font-weight: 400
            letter-spacing: 3px
        .info
            font-size: 15px
            font-weight: 300
            letter-spacing: 2px
            line-height: 1.8
    &:hover
        .item-img
            img
                opacity: 0
        .item-info
            opacity: 1

.icon-new
    +enFont
    font-size: 18px
    color: #fff
    width: 65px
    height: 65px
    line-height: 64px
    text-align: center
    border-radius: 50%
    background: #FFA20C
    +position(25px,30px,null,null,1)
.item-cube-name
    letter-spacing: 3px
    padding: 0 10px 13px
    border-bottom: 1px solid $m-color
    +flex($sb,$c)
    .name
        color: $m-color
        font-size: 17px
    a
        color: $m-color
        font-size: 15px
        display: inline-block
        text-align: right
        flex-grow: 1
        i
            transition: .2s
        &:hover
            color: darken($m-color,10%)
            i
                transform: translateX(5px)
.mb-swiper-btn-box
    width: 100%
    margin-top: 53px
    +flex($c,$c)
    display: none
    .swiper-pagination-fraction
        width: auto
        font-size: 13px
    .page
        width: 27px
        color: $m-bg-red
        margin: 0 21px
        text-align: center
    .left,.right
        width: 36px
        height: 36px
        +tcursor
    .left
        background: url(../img/mb_arrl.svg) no-repeat center center/contain
        &:hover
            background: url(../img/mb_arrl_on.svg) no-repeat center center/contain
    .right
        background: url(../img/mb_arrr.svg) no-repeat center center/contain
        &:hover
            background: url(../img/mb_arrr_on.svg) no-repeat center center/contain


.coffee-hr-box
    padding: 300px 0
    position: relative
    z-index: 2
    // background: #EDE9DF
.circle-hr-box
    width: 140px
    margin: 0 auto
    position: relative
    img
        width: 100%
    img.circle
        animation: iconCircle 5s infinite linear
    img.dot
        +position(0,null,null,0,1)

//=== ind area3 單醇新享受 ===
.ind-life-area
    max-width: 1010px
    margin: 0 auto
    +flex($flex-e,$flex-e)
    position: relative
    .img-box
        width: 505px
        height: 700px
        border-radius: 15px
        transform: translateY(-65px)
        overflow: hidden
        +position(null,null,0,0,2)
        img
            +imgfull(1)
    .cube-info-box
        width: 460px
        height: 630px
        padding: 80px 50px 80px 0
        border-radius: 0 15px 15px 0
        position: relative
        &:before
            content: ''
            display: block
            width: 380px
            height: 100%
            border-radius: 15px 0 0 15px
            background: $m-bg-red
            +position(null,null,0,0,1)
            transform: translateX(-99%)
    .cube-info-txt
        .cont-box
            .en
                img
                    width: 100px
.mb-cube-area.life
    .top-box
        margin: 0
    .img-box
        margin-right: 0
        border-radius: 10px 10px 0 10px
        transform: translate(35px, 45px)

//=== ind area4 咖啡新生活 ===
.m-slide-group
    display: none
.slide-coffee-area
    max-width: 100%
    // max-width: 61.31%
    max-width: 1030px
    // max-width: 900px
    margin: 0 auto
    .swiper
        overflow: unset
.swiper-coffee
    // max-width: auto
    .swiper-slide-active
        .slide-coffee-img
            width: 515px
            height: 690px
            right: calc(100% - 515px)
            transform: translateY(-62px)
    .swiper-slide-next
        .slide-coffee-img
            right: calc(100% - 487px)
            // right: calc(100% - 515px)
.slide-coffee-box
    position: relative
    +flex($flex-e,$c)
.slide-coffee-img
    width: 490px//515px//420
    height: 655px//690px//555
    border-radius: 15px
    overflow: hidden
    +position(null,0,0,null,2)
    // +position(null,calc(100% - 515px),0,null,2)
    transform: translateY(-79px)
    transition: 1s
    cursor: pointer
    img
        +imgfull(1)
// .slide-coffee-img.prve
//     right: 0
// .slide-coffee-img.pc1
//     right: 0
// .slide-coffee-img.pc3
//     right: calc(100% + 100px)
// .slide-coffee-info-box
//     color: $txt-sub
//     width: 840px
//     height: 530px
//     border-radius: 15px
//     background: $lat-color
//     position: relative
//     +flex($flex-e,$c)
.slide-coffee-info-cont
    width: 515px//480
    height: 630px
    padding: 83px 66px 61px
    +flexs($flex-e,$sb)
    color: $txt-sub
    border-radius: 0 15px 15px 0
    background: $lat-color
    position: relative
    // transform: scale(0)
    // transform-origin: top left
    // transition: .8s ease-out
    // opacity: 0
    &:before
        content: ''
        display: block
        width: 340px
        height: 100%
        border-radius: 15px 0 0 15px
        background: $lat-color
        +position(null,null,0,0,1)
        transform: translateX(-99%)
// .swiper-slide-active
//     .slide-coffee-info-cont
//         transform: scale(1)
//         opacity: 1
.slide-coffee-info
    max-width: 400px
    margin: 0 auto
    >div
        width: 100%
    .tit
        font-size: 21px
        font-weight: 300
        line-height: 1.5
        letter-spacing: 3px
        margin: 0 0 50px
    .date
        +enFont
        font-weight: 300
        font-size: 15px
        border-bottom: 1px solid $txt-sub
        padding: 10px 0
        margin: 0 0 24px
        +flex($sb,$c)
        span
            display: block
        a
            display: none
            color: $txt-sub
            letter-spacing: 3px
            // &:hover
            //     color: $m-color
            //     i
            //         transform: translateX(5px)
            // i
            //     transition: .2s
    .cont
        font-size: 15px
        font-weight: 300
        line-height: 1.8
        letter-spacing: 3px
        margin: 0 0 25px
.slide-coffee-link
    text-align: right
    a
        font-size: 15px
        color: $txt-sub
        letter-spacing: 3px
        // &:hover
        //     color: $m-color
        //     i
        //         transform: translateX(5px)
    i
        transition: .2s

.ind-bot-banner-box
    height: 0
    background: #EDE9DF
.ind-bot-banner
    // height: 200px
    height: 865px
    // background: url(../img/banner_bot.jpg) no-repeat center center/cover
    // background-attachment: fixed
    position: relative
    img
        +imgfull(1)

.footer-video-bg
    width: 100%
    height: 100%
    bottom: 0
    position: fixed
    z-index: -1
    // transform: translateY(250px)
    video
        width: 100%
        height: 100%
        object-fit: cover

//=== about 關於 ===
.about-dot-side
    .main-area
        overflow: hidden
//= 關於區域距離 =
.about-area1
    max-width: 1680px
    padding: 100px 0 435px
    +flex($flex-e,$flex-s)
    .main-cont
        max-width: 1475px
        margin: unset
.about-area2
    padding: 300px 0 77px
    +flex($flex-e,$c)
.about-area2 + .coffee-hr-box
    padding-bottom: 0
.about-area3
    padding: 300px 0 15px
.about-area3 + .coffee-hr-box
    padding-bottom: 0
.about-area4
    padding: 300px 0 320px
    +flex($flex-e,$flex-s)

//= 品牌精神 =
.about-solgan-area
    width: 100%
    +flex($flex-e,$flex-e)
    .cube-info-box
        width: 535px
        height: 600px
        border-radius: 15px 0 0 15px
        padding: 90px 20px 95px
        position: relative
        transform: translateY(67px)
        z-index: 3
        &:after
            content: ''
            display: block
            width: 300px
            height: 100%
            border-radius: 0 15px 15px 0
            background: $m-bg-red
            +position(null,0,0,null,1)
            transform: translateX(99.5%)
    .m-tit-box
        color: $txt-sub
    .img-box
        width: 940px
        height: 650px
        position: relative
        z-index: 3
        img
            +imgfull(1)

.about-banner
    height: 980px
    position: relative
    img
        +imgfull(1)
    .slogan-box
        color: $txt-sub
        text-align: center
        width: 100%
        padding: 0 70px
        +position(42%,null,null,0,2)
        transform: translateY(-50%)
        .tit
            font-size: 37px
            margin: 0 0 24px
            letter-spacing: 7px
        .cont
            font-size: 17px
            line-height: 1.6
            letter-spacing: 3px
            span
                display: block
    .mb-slogan-box
        width: 100%
        color: $txt-sub
        text-align: center
        font-size: 18px
        letter-spacing: 3px
        line-height: 1.5
        +position(50%,null,null,0,2)
        transform: translateY(-50%)
        display: none
        .tit
            margin: 0 0 80px
        .circle-hr-box
            height: 80px
            margin: 0 auto

.about-main-area
    .m-tit-box
        max-width: 1120px

//= 不妥協的品質 =
.about-quality-area
    width: 1008px
    margin: 0 auto
    .m-tit-box
        margin: 0 0 140px
.about-quality-box
    margin: 0 0 290px
    +flex($sb,$c)
    .info-box
        max-width: 236px
        // margin-left: 90px
    .tit-box
        color: $m-color
        margin: 0 0 92px
        .tit
            font-size: 37px
            margin: 0 0 27px
            letter-spacing: 7px
        .sup
            font-size: 25px
    .cont
        font-size: 15px
        color: $sta-block
        line-height: 1.7
        letter-spacing: 3px
    .img-area
        +flex($flex-e,$flex-e)
        position: relative
        .str-more
            color: $txt-sub
            margin-left: 30px
            position: relative
            z-index: 2
            .arr
                border-color: $txt-sub
        &:after
            content: ''
            width: 575px
            height: 500px
            border-radius: 15px
            background: $m-color
            +position(null,0,0,null,1)
            transform: translate(106px,62px)
    .img-box
        width: 653px
        height: 518px
        border-radius: 15px
        overflow: hidden
        position: relative
        z-index: 2
        img
            +imgfull(2)
    &:nth-child(even)
        .info-box
            order: 1
        .tit-box
            text-align: right
        .img-area
            justify-content: $flex-e
            order: 0
            &:after
                background: $lat-color
                right: auto
                left: 0
                transform: translate(-106px,62px)
    &:last-child
        margin: 0
//= 不妥協的品質 - 手機 =
.mb-about-quality-area
    display: none
.swiper-quality
    .swiper-slide-active
        .mb-about-quality-info-box
            transform: scale(1)
        .mb-about-quality-img
            transform: scale(1)
.mb-about-quality-img-box
    width: 80%
    margin: 0 auto
    position: relative
    z-index: 2
.mb-about-quality-img-box.next
    left: -27%
.mb-about-quality-img-box.prve
    right: -27%
.mb-about-quality-img
    padding-bottom: 135%
    border-radius: 10px
    overflow: hidden
    position: relative
    transform: scale(0.8)
    img
        +imgfull(1)
.mb-about-quality-info-box
    padding: 35px 25px
    border-radius: 0 0 10px 10px
    background: $m-color
    +flex($flex-e,$c)
    position: relative
    transform: scale(0)
    transition: .2s
    &:before
        content: ''
        display: block
        width: 100%
        height: 230%
        border-radius: 10px 10px 0 0
        background: $m-color
        +position(0,null,null,0,1)
        transform: translateY(-99%)
    .tit-box
        width: 100%
        color: $txt-sub
        padding-bottom: 25px
        margin: 0 0 10px
        border-bottom: 1px solid $txt-sub
        .en
            font-size: 13px
            margin: 0 0 5px
        .tit
            font-size: 18px
            letter-spacing: 3px
    .arr-box
        color: $txt-sub
        display: block
        i
            margin-left: 5px
            transition: .2s
        &:hover
            i
                transform: translateX(5px)
//= 不妥協的品質 - 燈箱 =
.light-quality-area
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 20
    overflow: hidden
    display: none
    background: #000
.light-close
    width: 18px
    height: 18px
    background: url(../img/icon_close.svg) no-repeat center center/contain
    +position(20px,20px,null,null,21)
    +tcursor
    &:hover
        transform: rotate(90deg)
.light-quality-img-box
    width: 100%
    height: 100%
    position: relative
    img
        +imgfull(1)
.light-quality-info-box
    width: 100%
    height: 0%
    padding: 66px 134px
    background: $m-color
.light-quality-info
    color: $txt-sub
    max-width: 560px
    position: relative
    top: 100px
    opacity: 0
    .en
        font-size: 13px
        margin: 0 0 8px
        display: none
    .tit
        font-size: 37px
        letter-spacing: 7px
        margin: 0 0 41px
    .txt
        font-size: 15px
        line-height: 1.7
        letter-spacing: 3px
        
    
//= 伯朗大事紀 =
.about-event-area
    max-width: 1120px
    margin: 0 auto
    .m-tit-box
        margin: 0 0 300px
.about-event-list-area
    width: 744px
    margin: 0 auto
    padding-top: 90px
    position: relative
.about-event-line
    width: 2px
    height: 95%
    background: $lat-color
    +position(0,null,null,50%,2)
    transform: translateX(-50%)
    &:before,&:after
        content: ''
        display: block
        width: 12px
        height: 12px
        border-radius: 50%
        background: $lat-color
        position: absolute
        left: -5px
    &:before
        top: 0
    &:after
        bottom: 0
.about-event-list
    +flex($sb,$flex-s)
    flex-direction: row-reverse
.about-event-box
    width: calc(50% - 1px)
    padding-left: 72px
    position: relative
    margin-bottom: 80px
    // margin-top: -120px
    // .about-event-year
    //     right: 0
    &:nth-child(2)
        margin-top: 120px
    &:nth-child(odd)
        margin-top: -120px
    &:nth-child(1)
        margin-top: 0
    &:nth-child(even)
        padding-left: 0
        padding-right: 72px
        +flex($flex-e,$c)
        .about-event-year
            left: -85px
            right: auto
        &:before
            right: 0
            left: auto
    &:last-child
        margin-bottom: 0
    &:before
        content: ''
        display: block
        width: 40px
        height: 2px
        background: $lat-color
        position: absolute
        top: 50%
        left: 0
        transform: translateY(1px)
.about-event-year
    font-size: 25px
    color: $txt-sub
    line-height: 55px
    width: 170px
    text-align: center
    padding: 0 10px
    background: $lat-color
    +position(null,-85px,41px,null,3)
    transition: .2s
    // &:after
    //     content: ''
    //     display: block
    //     width: 80px
    //     height: 2px
    //     background: $txt-sub
    //     +position(null,null,0,50%,2)
    //     transform: translate(-50%,-25px)
// .ey01
//     top: 60px
// .ey02
//     top: 210px
// .ey03
//     top: 210px
// .ey04
//     top: 290px
// .ey05
//     top: 245px
// .ey06
//     top: 150px
// .ey07
//     top: 55px
.about-event-img
    width: 300px
    height: 375px
    border-radius: 15px
    overflow: hidden
    position: relative
    img
        +imgfull(1)
.about-event-txt
    font-size: 15px
    color: $txt-sub
    letter-spacing: 3px
    line-height: 1.6
    height: 100%
    padding: 25px
    background: $m-color
    +position(0,null,null,0,2)
    box-sizing: border-box
    opacity: 0
    transition: .2s
.about-event-box.on
    .about-event-year
        display: none
    .about-event-txt
        opacity: 1
//= 伯朗大事紀 - 手機=
.about-mb-event-list-area
    padding-top: 60px
    border-top: 1px solid $txt-sub
    display: none
.about-mb-event-box
    margin: 0 0 40px
    &:last-child
        margin: 0
    .tit
        font-size: 15px
        color: $m-color
        padding-bottom: 30px
        text-align: center
        position: relative
        &:before,&:after
            content: ''
            display: block
            transform: translateX(-50%)
        &:before
            width: 10px
            height: 10px
            border-radius: 50%
            background: $m-color
            +position(null,null,15px,50%,1)
            transition: .2s
        &:after
            width: 2px
            height: 10px
            background: #C8BEAF
            +position(null,null,0,50%,1)
    .info-box
        font-size: 13px
        color: $sta-block
        letter-spacing: 3px
        padding: 20px 15px
        border-radius: 10px
        background: #F5F5EF
        transition: .2s
        .info-list
            padding-left: 20px
            li
                margin: 0 0 15px
                list-style: disc
                &:last-child
                    margin: 0
        .img
            padding-bottom: 0
            position: relative
            transition: .2s
            img
                +imgfull(1)
.about-mb-event-box.on
    .tit
        font-size: 21px
        color: $lat-color
        &:before
            background: $lat-color
    .info-box
        color: $txt-sub
        background: $m-color
        .img
            margin: 15px 0 0
            padding-bottom: 55%



//= 永續環境 =
// .about-area4
//     padding: 0 0 300px
    // +flex($flex-e,$flex-s)
.about-care-area
    width: 1280px
    margin: 0 auto
    .m-tit-box
        // max-width: 1120px
        margin: 0 auto 174px
    .swiper-pagination
        margin: 78px 0 0
        position: relative
        // bottom: 40px
        // width: calc(100% + 140px)
        // left: -140px
    .swiper-pagination-bullets
        // width: calc(100% + 140px)
        // left: -140px
        .swiper-pagination-bullet
            margin: 0 20px
    .swiper-pagination-bullet
        width: 10px
        height: 10px
        background: #C8BEAF
        opacity: 1
    .swiper-pagination-bullet-active
        background: $m-bg-red
.about-env-area
    // width: 1009px
    // margin: 0 auto
    +flex($sb,$c)
    .swiper-button-disabled
        opacity: .35
        cursor: auto
        pointer-events: none
.about-env-swiper-area
    width: 1009px
    +flex($c,$flex-e)
.about-env-img-box
    width: 510px
    height: 753px
    // margin: 125px 0 0
    transform: translateY(-62px)
    overflow: hidden
    z-index: 2
    .about-env-img
        width: 510px
        height: 753px
        border-radius: 15px
        position: relative
        overflow: hidden
        img
            +imgfull(1)
.about-env-info-box
    width: 499px
    height: 684px
    color: $txt-sub
    border-radius: 0 15px 15px 0
    background: $m-color
    position: relative
    &:before
        content: ''
        display: block
        width: 155px
        height: 100%
        border-radius: 15px 0 0 15px
        background: $m-color
        +position(0,null,null,0,1)
        transform: translateX(-99%)
    // .swiper-pagination
    //     bottom: 40px
    //     width: calc(100% + 140px)
    //     left: -140px
    // .swiper-pagination-bullets
    //     // width: calc(100% + 140px)
    //     // left: -140px
    //     .swiper-pagination-bullet
    //         margin: 0 20px
    // .swiper-pagination-bullet
    //     width: 10px
    //     height: 10px
    //     background: $txt-sub
    //     opacity: 1
    // .swiper-pagination-bullet-active
    //     background: $lat-color
.about-env-info-swiper
    overflow: hidden
    position: relative
.about-env-info
    padding: 71px 60px 62px 62px
    .tit
        font-size: 37px
        letter-spacing: 7px
        padding-bottom: 25px
        margin: 0 0 85px
        border-bottom: 1px solid $txt-sub
    .cont
        font-size: 15px
        letter-spacing: 3px
        line-height: 1.7
        height: 310px
.arr-btn
    width: 13px
    height: 26px
    background: url(../img/sw_arrow.svg) no-repeat center center/contain
    cursor: pointer
    // font-size: 50px
    // color: $m-color
.arr-next-btn
    transform: rotateY(180deg)
//== 永續 old ==
// .about-care-group
//     +flex($flex-e,$str)
// .about-care-info
//     color: $txt-sub
//     width: 720px
//     // height: 1020px
//     min-height: 900px
//     height: calc(100vh - 80px)
//     padding: 200px 20px 100px
//     border-bottom: 20px solid $lat-color
//     background: $m-color
//     +flexs($c,$sb)
//     position: sticky
//     top: 80px
//     .tit-box
//         width: 100%
//         text-align: center
//         margin: 0 auto
//         .tit
//             font-size: 42px
//             letter-spacing: 7px
//             margin: 0 0 90px
//         .txt
//             font-size: 20px
//             letter-spacing: 3px
//             line-height: 1.6
//     .en-txt
//         font-size: 55px
// .about-care-cont
//     width: 625px
//     background: #fff
//     .img-box
//         img
//             width: 100%
//     .txt-cont
//         font-size: 15px
//         color: $sta-block
//         line-height: 1.6
//         letter-spacing: 3px
//         padding: 100px 70px 65px
//         +flex($flex-e,$c)
//         .txt
//             max-width: 380px
    
//=== 即飲系列列表 ===
.list-page-area
    padding-top: 120px
    .m-tit-box
        max-width: 1406px
        // padding: 0 50px
        margin: 0 auto 170px
        // .m-tit
        //     margin-left: 50px
.shop-class-box
    font-size: 18px
    color: $m-color
    margin: 0 0 10px
    flex-grow: 1
    +flex($flex-e,$c)
    .item
        color: $m-color
        margin-right: 25px
        letter-spacing: 1px
        display: block
        +tcursor
        &:last-child
            margin-right: 0
        &:hover
            color: darken($m-color,10%)
    .item.act
        border-bottom: 1px solid $m-color
.select-mb-box
    width: 100%
    padding: 5px 10px
    margin: 50px 0 0
    border-bottom: 1px solid $m-color
    background: #EDE9DF
    position: relative
    cursor: pointer
    display: none
    z-index: 3
    .tit
        color: $m-color
        +flex($sb,$c)
    .select-list.on
        display: block
    .select-list
        width: 100%
        border: 1px solid $m-color
        background: #EDE9DF
        +position(32px,null,null,0,1)
        display: none
        .item
            color: $m-color
            display: block
            border-bottom: 1px solid $m-color
            padding: 5px 10px
            transition: .2s
            &:hover
                color: #fff
                background: $m-color
            &:last-child
                border: none

.shop-list
    +flex($flex-s,$str)
.shop-item-box
    width: calc(100% / 3)
    padding: 105px 20px 85px
    +flex($c,$c)
    box-sizing: border-box
    &:hover
        background: #C8BEAF
        .shop-item-tit
            opacity: 0
        .shop-item-cont
            opacity: 1
            // display: block
            transform: translateY(0)
        .bg-circle
            transform: scale(1)
.shop-item-img
    width: 400px
    height: 400px
    margin:  0 0 15px
    position: relative
    img
        +imgfull(2)
    .icon-new
        top: 3%
        right: 0
        z-index: 3
    .bg-circle-box
        width: 246px
        height: 246px
        +position(0,null,null,50%,1)
        transform: translateX(-50%)
    .bg-circle
        width: 100%
        height: 100%
        border-radius: 50%
        background: #EDE9DF
        transform: scale(0)
        transition: .2s
.shop-item-info-area
    color: $sta-block
    text-align: center
    width: 100%
    position: relative
.shop-item-tit
    transition: .2s
    .tit
        font-size: 21px
        letter-spacing: 3px
        margin: 0 0 2px
    .en
        font-size: 21px
.shop-item-cont
    font-size: 15px
    letter-spacing: 3px
    line-height: 1.6
    width: 100%
    opacity: 0
    // display: none
    transform: translateY(100px)
    transition: .2s
    +position(0,null,null,0,2)

//= 其他系列 =
.item-bottom-area
    padding: 0 0 315px
    .m-tit-box
        justify-content: $c
        margin: 0 0 144px
.item-page-cube-area
    width: 1308px
    margin: 0 auto
    +flex($sb,$c)
    .page-btn
        font-size: 50px
        color: $m-color
        display: none
    .swiper-button-disabled
        opacity: .35
        cursor: auto
        pointer-events: none
.item-page-cube-group
    width: 100%
    padding: 30px 0 0
    +flex($flex-s,$flex-s)
    // overflow: hidden
    .item
        width: 325px //24.9%
        margin-right: 58px //4.5%
        // width: 25.4%
        // margin-right: 3%
        left: 0
        // transition: .4s
        // position: relative
        &:last-child
            margin-right: 0
    .item.act
        .item-page-cube-box
            .item-img
                border-radius: 15px 0 0 15px
            .item-page-cube-name
                opacity: 0
                visibility: hidden
                // display: none
        .item-page-cube-info-box
            // width: 216px//67%
            // transform: scale(1)
            transform: translateX(0%)
    .item.move
        left: 216px
        // left: 18%
    //- click -
    // .swiper-slide.act
    //     width: 43%
    //     .item-page-cube-box
    //         width: 59%
    //         .item-page-cube-name
    //             display: none
    //     .item-page-cube-info-box
    //         width: 41%
    //         transform: scale(1)
.item-page-cube-inn
    position: relative
//= 文字區塊 =
.item-page-cube-cont
    transition: .4s
    transition-timing-function: ease-in-out
    position: relative
    // +flex($flex-s,$c)
.item-page-cube-box
    width: 100%
.item-page-cube-info-box
    width: 216px//0
    height: 100%
    color: $txt-sub
    padding: 32px 38px 26px
    // padding: 25px
    border-radius: 0 15px 15px 0
    background: $m-color
    // transform: scale(0)
    transform: translateX(-101%)
    transform-origin: 0 0
    +flexs($flex-s,$sb)
    position: relative
    transition: .4s
    +position(null,null,0,100%,1)
    // +position(null,null,-90px,100%,1)
    // +position(null,null,-25%,100%,1)
    transition-timing-function: ease-in-out
    &:before
        // content: ''
        // display: block
        width: 95%
        // width: 90%
        height: 100%
        border-radius: 15px 0 0 15px
        background: $m-color
        +position(0,null,null,0,1)
        transform: translateX(-99%)
    .cont
        letter-spacing: 1px
        line-height: 1.6
        height: calc(100% - 35px)
        text-align: justify
        position: relative
        top: 30px
        opacity: 0
    .arr-box
        width: 100%
        +flexs($flex-e,$c)
        a
            color: $txt-sub
            letter-spacing: 2px
            i
                margin-left: 2px 
                transition: .2s
            &:hover
                i
                    transform: translateX(5px)
//= 圖片 =
.item-page-cube-img
    position: relative
    z-index: 2
    .icon-new
        top: -30px
        right: -30px
    .item-img
        height: 0
        padding-bottom: 100%
        border-radius: 15px
        overflow: hidden
        position: relative
        background: $pb-bg
        transition: .3s
        img
            +imgfull(1)
.item-page-cube-name
    padding: 13px
    margin: 23px 0 0
    border-bottom: 1px solid $sta-block
    +flex($sb,$c)
    opacity: 1
    transition: .3s
    .name
        font-size: 17px
        color: $sta-block
        letter-spacing: 3px
    a
        font-size: 15px
        color: $sta-block
        letter-spacing: 2px
        display: inline-block
        text-align: right
        flex-grow: 1
        i
            margin-left: 2px
            transition: .2s
        &:hover
            color: darken($m-color,10%)
            i
                transform: translateX(5px)
    // .item-cube-group
    //     width: 1070px
    // .item-cube-name
    //     border-color: $sta-block
    //     .name
    //         color: $sta-block
    // a
    //     color: $sta-block
//= 手機 =
.item-page-cube-mb-group
    width: calc(100% - 60px)
    padding-top: 20px
    overflow: hidden
    display: none
.item-page-cube-mb-img-box
    width: calc(100% - 60px)
    position: relative
    z-index: 2
    .icon-new
        top: -20px
        right: -20px
.item-page-cube-mb-img
    padding-bottom: 100%
    border-radius: 15px
    background: $pb-bg
    position: relative
    overflow: hidden
    img
        +imgfull(1)
.item-page-cube-mb-info-box
    width: calc(100% - 25px)
    padding: 20px 30px
    border-radius: 0 0 15px 15px
    background: $m-color
    left: 25px
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        height: 70%
        background: $m-color
        border-radius: 15px 15px 0 0
        transform: translateY(-99%)
        +position(0,null,null,0,1)
    .tit
        color: $txt-sub
        margin: 0 0 70px
        .en
            font-size: 13px
            margin: 0 0 15px
        .zh
            font-size: 18px
            letter-spacing: 3px
    .arr-box
        width: 100%
        +flexs($flex-e,$c)
        a
            color: $txt-sub
            i
                transition: .2s
            &:hover
                i
                    transform: translateX(5px)

//=== 商品內頁 ===
.shop-banner-area
    position: relative
    &:before,&:after
        content: ''
        display: block
        width: 50%
        height: 100%
    &:before
        +position(0,null,null,0,1)
        background: #C8BEAF
    &:after
        +position(0,0,null,null,1)
        background: $m-bg-red

.shop-banner-cont
    max-width: 1680px
    height: 890px
    margin: 0 auto
    +flex($c,$str)
    position: relative
    z-index: 2
.shop-banner-img
    width: 50%
    position: relative
    background: #C8BEAF
    +flex($c,$flex-e)
    .shop-banner-item
        width: 520px
        height: 520px
        margin-bottom: 155px
        position: relative
        img
            +imgfull(2)
    .circle
        width: 366px
        height: 366px
        border-radius: 50%
        background: #EDE9DF
        +position(0,null,null,50%,1)
        transform: scale(0) translateX(-50%)
        transform-origin: left
        transition: .5s
    .circle.on
        transform: scale(1) translateX(-50%)
    .icon-new
        width: 80px
        height: 80px
        line-height: 80px
        +position(25px,15%,null,null,2)
.shop-banner-info
    width: 50%
    color: $txt-sub
    background: $m-bg-red
    +flexs($c,$c)
    .tit-box
        width: 100%
        text-align: center
        margin: 0 0 138px
        .en
            font-size: 25px
            margin: 0 0 17px
            img
                margin: 0 auto
        .tit
            font-size: 37px
            letter-spacing: 7px
    .info-box
        text-align: center
        .pc-en
            +artTxt
            // font-size: 55px
            margin: 0 0 27px
            img
                display: inline-block  
        .mb-en-txt
            display: none
            font-size: 55px
            margin: 0 0 25px
        .mb-en
            +artTxt
            display: none
            img
                display: inline-block
        .txt
            font-size: 15px
            letter-spacing: 3px
            line-height: 1.7
.shop-cont-area
    width: 1280px
    margin: 0 auto
    padding: 195px 0 0
.shop-page-info-area
    width: 1220px
    margin: 0 auto
    +flex($sb,$flex-s)
    .coffee-hr-box
        width: 100%
.shop-page-info-tit
    color: $sta-block
    width: calc(100% - 600px)
    padding-left: 50px
    // width: 50%
    .tit
        font-size: 37px
        letter-spacing: 8px
        margin: 0 0 12px
        br
            display: none
    .en
        font-size: 25px
.shop-page-info-cont
    width: 600px
    // width: 50%
    img
        border-radius: 15px
    p
        line-height: 1.6
        margin: 60px 0
.page-btn-box
    font-size: 15px
    letter-spacing: 3px
    width: 100%
    padding: 0 100px
    margin: 200px 0 0
    position: relative
    +flex($c,$c)
    a
        color: $m-bg-red
        +flex($c,$c)
        &:hover
            color: darken($m-bg-red,10%)
        span
            display: inline-block
    i
        font-size: 24px
    .arr
        width: 13px
        height: 26px
        background: url(../img/sw_arrow.svg) no-repeat center center/contain
    .back
        i
            display: none
            margin-right: 5px
    .prev,.next
        position: absolute
    .prev
        left: 0
        i
            margin-right: 5px
        .arr
            margin-right: 25px
    .next
        right: 0
        i
            margin-left: 5px
        .arr
            margin-left: 25px
            transform: rotateY(180deg)

//=== 咖啡知識列表 ===
.lifestyle-area
    overflow: hidden
    // .m-tit-box
    //     width: 1405px
    //     margin: 0 auto 170px
        // padding: 0 140px 50px 100px
.lifestyle-list
    padding-right: 230px
    // padding-right: 130px
    margin: 0 0 150px
    +flex($flex-e,$flex-s)
    position: relative
    &:before
        content: ''
        display: block
        width: calc(690px + 1000px)
        // width: calc(615px + 1000px)
        height: 80%
        background: $lat-color
        transform: translateX(1000px)
        +position(10%,0,null,null,1)
    .pagination-area
        margin-top: 194px
.lifestyle-box
    width: 931px
    // width: 890px
    margin: 0 0 140px
    border-radius: 15px
    overflow: hidden
    background: $m-bg-red
    +flex($flex-s,$str)
    position: relative
    z-index: 2
    &:nth-last-child(2)
        margin: 0
    &:hover
        i
            transform: translateX(5px)
        .arr
            transform: translateX(5px)
        .lifestyle-img
            img
                transform: scale(1.05)
.lifestyle-info
    width: 471px
    // width: 405px
    color: $txt-sub
    padding: 50px 62px
    background: $m-bg-red
    +flexs($flex-s,$sb)
    z-index: 2
    >div
        width: 100%
    .info-top
        .info-box
            font-size: 21px
            margin: 0 0 56px
            .zh
                letter-spacing: 4px
        .date-box
            font-size: 15px
            margin: 0 0 60px
            padding-top: 10px
            border-top: 1px solid $txt-sub
        .tit
            font-size: 21px
            letter-spacing: 4px
            margin: 0 0 20px
    .info-bot
        font-size: 15px
        width: 100%
        letter-spacing: 3px
        padding-bottom: 17px
        border-bottom: 1px solid $txt-sub
        +flex($flex-s,$c)
        >div
            +flex($flex-s,$c)
        i
            font-size: 22px
            transition: .2s
            margin-left: 5px
        .arr
            width: 7px
            height: 14px
            margin-left: 2px
            background: url(../img/txt_arrow.svg) no-repeat center center/contain
            transition: .2s
.lifestyle-img
    width: 460px
    // width: 485px
    height: 595px
    position: relative
    overflow: hidden
    img
        +imgfull(1)
        transition: .2s
.pagination-area
    width: 100%
    max-width: 1029px
    position: relative
    +flex($flex-s,$c)
    &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background: $m-color
        +position(50%,0,null,null,1)
        transform: translateY(-50%)
.pagination-box
    position: relative
    z-index: 2
    background: #EDE9DF
    +flex($flex-s,$c)
    a
        color: $m-color
        margin-right: 35px
        display: block
        &:hover
            color: darken($m-color,10%)
    span
        margin-right: 35px
        display: block

//=== 咖啡知識內頁 ===
.lifestyle-cont-area
    padding-bottom: 140px
    +flex($flex-s,$flex-s)
.lifestyle-cont-side
    width: 620px
    // width: 465px
    padding: 110px 20px
    height: calc(100vh - 80px)
    background: $m-color
    position: sticky
    top: 80px
    +flexs($c,$sb)
    &:before
        content: ''
        display: block
        width: 1000px
        height: 100%
        background: $m-color
        +position(0,null,null,-1000px,1)
    .tit-box
        font-size: 37px
        color: $txt-sub
        letter-spacing: 7px
        width: 100%
        text-align: center
    .tit-mb-box
        display: none
    // .tit-en
    //     font-size: 55px
    //     color: $txt-sub
    //     margin: 0 0 50px
    //     text-align: center
    //     +artTxt
    .side-bot-box
        .tit-en
            margin: 0 0 36px
            img
                margin: 0 auto
.lifestyle-social-cont
    .tit
        font-size: 17px
        color: $lat-color
        letter-spacing: 3px
        width: 100%
        margin: 0 0 15px
        text-align: center
.lifestyle-social-box
    +flex($c,$c)
    a
        width: 35px
        height: 35px
        margin: 0 15px
        display: block
        &:hover
            opacity: 0.8
    .social-fb
        background: url(../img/icon_bfb.svg) no-repeat center center/contain
    .social-ig
        background: url(../img/icon_big.svg) no-repeat center center/contain
    .social-google
        background: url(../img/icon_bgoogle.svg) no-repeat center center/contain
    .social-line
        background: url(../img/icon_bline.svg) no-repeat center center/contain
.lifestyle-banner-mb-img-box
    display: none
.lifestyle-cont-info
    width: calc(100% - 620px)
    // width: 975px
    color: $sta-block
    padding: 120px 40px 80px
.lifestyle-cont-info-txt
    max-width: 600px
    margin: 0 auto
    .date
        font-size: 15px
        text-align: center
        margin: 0 0 26px
    .tit-box
        font-size: 25px
        line-height: 1.5
        letter-spacing: 3px
        text-align: center
        margin: 0 0 95px
.lifestyle-banner-img-box
    margin: 0 0 76px
.lifestyle-banner-img
    margin: 0 0 20px
    border-radius: 15px
    overflow: hidden
    img
        width: 100%
.lifestyle-banner-en
    font-size: 15px
    text-align: center

//=== 品牌快訊 ===
// .news-area
//     padding: 0 30px
.news-list
    width: 1220px
    margin: 0 auto
    padding-bottom: 413px
    // padding-bottom: 200px
    .pagination-area
        // width: auto
        // max-width: 1029px
        margin: 194px auto 0
.news-box
    margin: 0 0 44px
    border-radius: 15px
    overflow: hidden
    display: block
    +flex($sb,$str)
    &:last-child
        margin: 0
    &:nth-child(even)
        flex-flow: row-reverse
        .news-list-img
            border-radius: 0 15px 15px 0
        .news-list-info-cont
            padding: 58px 85px 44px 20px
            justify-content: $flex-e
        .news-list-info
            // padding-right: 20px
            padding-left: 60px
        .news-list-more
            flex-flow: row-reverse
            .arr-box
                .icon-pc-arr
                    transform: rotateY(180deg)
                span
                    margin-right: 0
                    margin-left: 10px
    &:hover
        .news-list-img img
            transform: scale(1.05)
        .news-list-info-cont
            color: $txt-sub
            background: $m-color
        .news-list-info
            .tit .icon-cof
                background: url(../img/coffeedot_on.svg) no-repeat center center/contain
            .info .txt
                border-color: $txt-sub
        .news-list-more
            .icon-pc-arr
                background: url(../img/news_arr_on.svg) no-repeat center center/contain
                // transform: translateX(-10px)
        // &:nth-child(even)
        //     .news-list-more
        //         .icon-pc-arr
        //             transform: translateX(10px) rotateY(180deg)
.news-list-img
    width: 50%
    height: 328px
    border-radius: 15px 0 0 15px
    position: relative
    overflow: hidden
    img
        +imgfull(1)
        transition: .2s
.news-list-info-cont
    width: 50%
    color: $m-color
    padding: 58px 20px 44px 85px
    background: #fff
    transition: .2s
    +flexs($flex-s,$sb)
.news-list-info
    width: 450px
    // width: 85%
    padding-left: 50px
    .tit
        margin: 0 0 43px
        +flex($flex-s,$c)
        .icon-cof
            width: 17px
            height: 17px
            margin-right: 10px
            background: url(../img/coffeedot.svg) no-repeat center center/contain
            transition: .2s
        span
            font-size: 21px
            letter-spacing: 3px
            display: block
    .info
        width: 100%
        +flex($sb,$c)
        .date
            width: 30px
            text-align: center
            .day
                font-size: 22px
            .mon
                font-size: 15px
        .txt
            font-size: 15px
            line-height: 1.6
            letter-spacing: 3px
            width: calc(100% - 40px)
            padding-left: 15px
            border-left: 2px solid $m-color
.news-list-more
    +flex($flex-s,$c)
    .mb-date
        font-size: 13px
        display: none
    i
        font-size: 20px
        margin-left: 5px
        display: none
    .arr-box
        +flex($flex-s,$c)
        .icon-pc-arr
            width: 85px
            height: 17px
            background: url(../img/news_arr.svg) no-repeat center center/contain
            // transform: rotateY(180deg)
            transition: .2s
        span
            font-size: 15px
            letter-spacing: 3px
            margin-left: 10px
            display: block

//=== 活動影音 ===
.mask
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: rgba($sta-block,0.9)
    z-index: 11
    display: none
.video-light-area
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 12
    display: none
    .close
        width: 18px
        height: 18px
        +position(-28px, 0,null,null,2)
        background: url(../img/video_close.svg) no-repeat center center/contain
        +tcursor
        &:hover
            transform: rotate(90deg)
.video-light-box
    width: 795px
    height: 446px
    iframe
        width: 100%
        height: 100%
        +position(0,null,null,0,2)

//=== 隱私政策 ===
.column-area
    max-width: 1410px
    margin: 0 auto
    padding: 120px 0 300px
    +flex($sb,$str)
.column-side-box
    width: 230px
    +flexs($flex-s,$sb)
.column-info-box
    padding-top: 100px
    padding-right: 96px
.privacy-info-box
    width: 632px
.privacy-box
    margin: 0 0 70px
    &:last-child
        margin: 0
    .tit
        font-size: 21px
        letter-spacing: 5px
        margin: 0 0 18px
    p
        font-size: 15px
        line-height: 1.6
        letter-spacing: 3px

//=== 聯絡我們 ===
// .contact-area
//     padding: 100px
//     +flex($sb,$str)
// .contact-side-cont
//     width: 230px
//     +flexs($flex-s,$sb)
.contact-copyright
    font-size: 12px
    color: $m-color
    line-height: 2
    width: 100%
.contact-form-area
    width: 652px
    // padding: 60px 0 0
    p.note
        font-size: 15px
        color: #A5A5A5
        letter-spacing: 3px
        margin: 0 0 19px
.contact-form-cont
    margin: 0 0 70px
.contact-form-box
    margin: 0 0 11px
    +flex($sb,$c)
    &:last-child
        margin: 0
    label
        color: #A5A5A5
        font-size: 15px
        width: 85px
        text-align-last: justify
.input-box
    width: calc(100% - 102px)
    textarea
        font-size: 15px
        width: 100%
        height: 130px
        padding: 10px
        border: 1px solid #A5A5A5
        border-radius: 3px
        resize: none
        box-sizing: border-box
.submit-input-area
    width: calc(100% - 102px)
    +flex($sb,$c)
.pass-area
    +flex($flex-s,$c)
.pass-box
    margin-left: 8px
.stbmit-btn
    font-size: 15px
    color: $txt-sub
    padding: 0 15px
    width: 90px
    letter-spacing: 5px
    line-height: 40px
    text-align: center
    border-radius: 3px
    background: $m-bg-red
    position: relative
    +tcursor
    &:hover
        background: darken($m-bg-red,10%)
    input
        opacity: 0
        +position(0,0,0,0,2)
.w150
    width: 150px
    margin-top: 0
.contact-info-area
    font-size: 15px
    color: $sta-block
    line-height: 1.7
    letter-spacing: 3px

//=== footer ===
.footer-area
    padding: 70px 0 80px
    background: $m-bg-red
.gotop
    color: $txt-sub
    width: 60px
    height: 55px
    font-size: 28px
    text-align: center
    border-radius: 10px
    background: $m-bg-red
    // position: fixed
    // bottom: -60px
    // right: 20px
    +tcursor
    z-index: 5
    .txt
        +enFont
        font-size: 15px
        margin-top: 3px
    i
        transition: .3s
    &:hover
        i
            transform: translateY(-5px)
        // background: darken($m-bg-red,10%)
// .gotop.on
//     bottom: 20px
footer
    margin: 0 107px
.f-logo
    margin: 0 0 30px
.footer-link-area
    margin: 0 0 35px
    padding: 0 17px 0 0
    +flex($sb,$str)
.footer-link-box
    margin: 0 0 35px
    +flex($flex-s,$flex-s)
.footer-link
    min-width: 120px
    margin-right: 40px
    position: relative
    &:after
        content: ''
        display: block
        height: 13px
        width: 1px
        background: $txt-sub
        +position(5px,0,null,null,1)
    .tit
        font-size: 17px
        letter-spacing: 3px
        font-weight: 300
        color: $txt-sub
        letter-spacing: 4px
        margin: 0 0 20px
        width: 100%
        a,span
            font-size: 17px
        .icon
            width: 12px
            height: 12px
            margin-left: 10px
            display: none
        .iconplus
            background: url(../img/icon_plus.svg) no-repeat center center/contain
        .iconplus.on
            background: url(../img/icon_minus.svg) no-repeat center center/contain
        .icongo
            background: url(../img/icon_right.svg) no-repeat center center/contain
    ul.link
        li
            +enFont
            font-weight: 200
            margin: 0 0 5px
            &:last-child
                margin: 0
    a
        font-size: 15px
        color: $txt-sub
        font-weight: 300
        letter-spacing: 4px
        display: inline-block
        &:hover
            color: $lat-color
            text-decoration: underline
    span
        font-size: 15px
        color: $txt-sub
    &:nth-last-child(2)
        margin-right: 0
        &:after
            display: none
.footer-social-area
    width: 60px
    +flexs($flex-e,$sb)
.footer-social-box
    flex-grow: 1
    +flex($flex-e,$flex-e)
    padding: 0 17px 0 0
    margin: 0 0 30px
    a.privacy
        color: #E2DBD2
        font-size: 15px
        font-weight: 300
        letter-spacing: 3px
        width: auto
    a
        width: 30px
        margin-right: 30px
        img
            width: 100%
        &:last-child
            width: 40px
            margin-right: 0
        &:hover
            opacity: 0.8
        
.mb-footer-info
    font-size: 13px
    color: $txt-sub
    margin: 72px 0 0//50px 0 0
    display: none
    span
        +enFont
        line-height: 2
        display: block
.mb-footer-social-box
    display: none
    
.copyright
    +enFont
    font-size: 10px
    color: $txt-sub
    padding: 40px 0 0
    text-align: center
    border-top: 1px solid $txt-sub
    br
        display: none

.social-side-area
    text-align: center
    width: 40px
    position: fixed
    bottom: -50px
    right: 20px
    transition: .2s
    z-index: 5
    &:hover
        .social-side-box
            display: block
        .arr-circle
            transform: rotate(180deg)
            color: #fff
            background: $m-bg-red
.social-side-area.on
    bottom: 20px
.social-side-box
    display: none
    padding-bottom: 25px
    .box
        font-size: 30px
        color: $m-bg-red
        margin: 0 0 5px
        display: block
        &:hover
            color: darken($m-bg-red,10%)
        &:last-child
            margin: 0
.arr-circle
    width: 40px
    height: 40px
    font-size: 20px
    color: $m-bg-red
    text-align: center
    line-height: 40px
    border: 1px solid $m-bg-red
    border-radius: 50%
    transition: .2s
    &:hover
        color: #fff
        background: $m-bg-red





    

.test-wrap
    width: 300px
    height: 200px
    margin: 10px
    background: #ff6c6c
    +flex($sa,$c)
    // display: flex
    // flex-wrap: wrap
    // justify-content: space-between
    // align-content: center

.test-box
    width: 45%
    border-radius: 10px
    overflow: hidden
    img
        width: 100%
    .t-img
        width: 80%

.radio-wrap
    +dvm

.border-grad
    +grad-border
    padding: 50px
    margin: 10px
    display: inline-block
    background: rgba(#331c12,0.35)
    p
        +grad-txt

//== 編輯器 ==
.edit-area
    p
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
    strong
        font-weight: bold
    em
        font-style: italic
    h1
        font-size: 2em
        margin-block-start: 0.67em
        margin-block-end: 0.67em
    h2
        font-size: 1.5em
        margin-block-start: 0.83em
        margin-block-end: 0.83em
    h3
        font-size: 1.17em
        margin-block-start: 1em
        margin-block-end: 1em
    h4
        margin-block-start: 1.33em
        margin-block-end: 1.33em
    h5
        font-size: 0.83em
        margin-block-start: 1.67em
        margin-block-end: 1.67em
    h6
        font-size: 0.67em
        margin-block-start: 2.33em
        margin-block-end: 2.33em
    h1,h2,h3,h4,h5,h6
        font-weight: normal
        line-height: 1.2
        display: block
        margin-inline-start: 0px
        margin-inline-end: 0px
    ol
        display: block
        list-style-type: decimal
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    ul
        display: block
        list-style-type: disc
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0px
        margin-inline-end: 0px
        padding-inline-start: 40px
    li
        display: list-item
        text-align: -webkit-match-parent
    img
        max-width: 100%
        margin: 0 auto !important
        height: auto !important
    blockquote
        font-style: italic
        padding: 2px 8px 2px 20px
        border-width: 0
        border-left: 5px solid #ccc
        display: block
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 40px
        margin-inline-end: 40px
    iframe
        width: 100%
    img.shop-def
        width: 100%
        border-radius: 15px
    p.shop-def
        line-height: 1.7
        letter-spacing: 3px
        margin: 60px 0
        padding-left: 20px
    p.def
        font-size: 15px
        line-height: 1.6
        color: $sta-block
        letter-spacing: 3px
        margin: 0 0 50px
    img.def
        border-radius: 15px
        overflow: hidden
        margin: 80px 0 !important
    img.def.def-txt
        margin: 0 0 20px !important
    .img-note
        font-size: 15px
        margin: 0 0 100px
        text-align: center

//== 自定義滾軸設定 ==
.mCSB_inside>.mCSB_container
    margin-right: 15px
.mCSB_scrollTools .mCSB_draggerRail
    width: 6px
    background: #eee
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
    width: 6px
    background: $lat-color
    &:hover
        background: $lat-color
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
    background: $lat-color

//RWD 手機版css 
@import m_sty