.footer-area
    //- .gotop#goTopBtn
    //-     <i class="fal fa-angle-up"></i>
    //-     .txt GO TOP
    .social-side-area#socialSide
        .social-side-box
            a(href="###" target="_blank").box <i class="fab fa-facebook-square"></i>
            a(href="###" target="_blank").box <i class="fab fa-instagram"></i>
            a(href="###" target="_blank").box <i class="fab fa-youtube"></i>
        .arr-circle <i class="fal fa-angle-down"></i>
    footer
        .f-logo
            img(src="img/logo_f.svg", alt="")
        .footer-link-area
            .footer-link-box
                -const fLink01={'tit':'探索伯朗','linkList':[{'name':'品牌精神','id':'fabout1','link':'about.html#a1'},{'name':'不妥協的品質','id':'fabout2','link':'about.html#a2'},{'name':'伯朗大事紀','id':'fabout3','link':'about.html#a3'},{'name':'永續發展','id':'fabout4','link':'about.html#a4'}]};
                +fLink(fLink01)
                -const fLink02={'tit':'最新消息','linkList':[{'name':'品牌快訊','link':'news_list.html'},{'name':'影音專區','link':'###'}]};
                +fLink(fLink02)
                -const fLink03={'tit':'友站連結','linkList':[{'name':'金車線上購','link':'###'},{'name':'伯朗咖啡館','link':'###'},{'name':'金車集團','link':'###'}]};
                +fLink(fLink03)
                -const fLink04={'tit':'聯絡我們','titUrl':'contact.html','isInfo': true ,'linkList':[{'name':'TEL  0800-231-136'},{'name':'FAX  (02)2368-8128'},{'name':'M-F  9:00am - 17:30pm'}]};
                +fLink(fLink04)
                .mb-footer-info
                    span TEL  0800-231-136
                    span FAX  (02)2368-8128
                    span M-F  9:00am - 17:30pm   
            .footer-social-area
                .gotop#goTopBtn
                    <i class="fal fa-angle-up"></i>
                    .txt GO TOP
                .mb-footer-social-box
                    .social
                        a(href="###" target="_blank")
                            img(src="img/icon_fb.svg", alt="")
                        a(href="###" target="_blank")
                            img(src="img/icon_ig.svg", alt="")
                        a(href="###" target="_blank")
                            img(src="img/icon_yt.svg", alt="")
                    a.privacy(href="privacy.html" target="_blank") 隱私權政策
                
        .footer-social-box
            a.privacy(href="privacy.html" target="_blank") 隱私權政策
            a(href="###" target="_blank")
                img(src="img/icon_fb.svg", alt="")
            a(href="###" target="_blank")
                img(src="img/icon_ig.svg", alt="")
            a(href="###" target="_blank")
                img(src="img/icon_yt.svg", alt="")
        .copyright COPYRIGHT © KING CAR GROUP. 2022<br/> ALL RIGHTS RESERVED
//- footer
//-     -const footer={'footer1':'###','footer2':'/login','footer3':'/logout'};
//-     //-n 是值 i 是KEY
//-     each n,i in footer
//-         a(href=n)= i