//-var mailData={tit:'我是標題',cont:'我是內文',date:'2020/03/26'};
mixin mailBox(mailData)
    .mail-box
        if mailData.new
            .mail-tag new
        .mail-tit= mailData.tit
        .mail-txt= mailData.cont
            .mail-date= mailData.date

mixin tit(data)
    .tit-blur-area(class=data.isBtn?"tit":undefined)
        img(src="img/"+data.img, alt="")
        .tit-blur-box
            .tit-blur
                .tit #{data.tit}
                .sup !{data.sup}

//- 方塊產品
mixin itemCubeBox(data)
    .item-cube-box
        .item-cube-img
            .item-img
                if data.isnew
                    .icon-new New
                img(src="img/"+data.img, alt="")
            .item-info
                .tit-box
                    .en #{data.en}
                    .tit #{data.tit}
                .info !{data.info}
        .item-cube-name(id="itemCubeName"+data.id)
            .name #{data.tit}
            a(href=data.link) 暸解更多 <i class="fal fa-chevron-right"></i>
    
//- 方塊產品
mixin itemPageCubeBox(data)
    .item-page-cube-box
        .item-page-cube-img
            if data.isnew
                .icon-new New
            .item-img
                img(src="img/"+data.img, alt="")
        .item-page-cube-name
            .name #{data.tit}
            a(href=data.link) 暸解更多 <i class="fal fa-chevron-right"></i>

//- 推薦方塊產品
mixin itemPageCubeCont(data)
    .item-page-cube-cont.item(id="cube"+data.id)
        .item-page-cube-inn
            .item-page-cube-box
                .item-page-cube-img
                    if data.isNew
                        .icon-new New
                    .item-img
                        img(src="img/"+data.img, alt="")
                        //- img(src="img/coffee0"+data.id+".png", alt="")
                //- .item-page-cube-name(id="cubeName"+data.id)
                //-     .name #{data.name}
                //-     a(href="###") 暸解更多<i class="fal fa-chevron-right"></i>
            .item-page-cube-info-box
                .cont.item-scroll(id="cubeCont"+data.id) #{data.cont}
                .arr-box
                    a(href="###") 暸解更多<i class="fal fa-chevron-right"></i>
        .item-page-cube-box
            .item-page-cube-name(id="cubeName"+data.id)
                .name #{data.name}
                a(href="###") 暸解更多<i class="fal fa-chevron-right"></i>

//- 推薦方塊產品 - 手機
mixin itemPageCubeMbBox(data)
    .item-page-cube-mb-box
        .item-page-cube-mb-img-box
            .icon-new New
            .item-page-cube-mb-img
                img(src="img/coffee0"+data.id+".png", alt="")
        .item-page-cube-mb-info-box
            .tit.item-mb-tit(id="cubeMbTit"+data.id)
                .en #{data.en}
                .zh #{data.zh}
            .arr-box
                a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>

//- 咖啡新生活
mixin slideCoffeeBox(data)
    .slide-coffee-box
        .slide-coffee-img
            img(src="img/"+data.img, alt="")
        //- .slide-coffee-info-box (data-swiper-parallax-scale="0.9")
        .slide-coffee-info-cont(data-swiper-parallax-opacity="0" data-swiper-parallax="60%" data-swiper-parallax-x="-80" data-swiper-parallax-y="-80")
            .slide-coffee-info
                .tit !{data.tit}
                .date
                    span #{data.date}
                    a(href=data.link) 暸解更多 <i class="fal fa-chevron-right"></i>
                .cont #{data.cont}
            .slide-coffee-link
                a(href=data.link) 暸解更多 <i class="fal fa-chevron-right"></i>

//- 大事記 - pc
mixin aboutEventBox(data)
    .about-event-box
        .about-event-year(class=data.yclass) #{data.tit}
        .about-event-img
            lu.about-event-txt.scroll-cont
                each i in data.infoList
                    li !{i}
            img(src="img/"+data.img, alt="")
        //- if data.isTxt
        //-     .about-event-img.txt-img
        //-         .about-event-txt !{data.isTxt}
        //- else
        //-     .about-event-img
        //-         img(src="img/"+data.img, alt="")

//- 咖啡Hr circle
mixin coffeeHr
    .coffee-hr-box
        .circle-hr-box
            img.circle(src="img/circle.svg", alt="")
            img.dot(src="img/circle_dot.svg", alt="")

//- 咖啡Hr circle Mb
mixin coffeeHrMb
    .coffee-hr-box.mb-show
        .circle-hr-box
            img.circle(src="img/circle.svg", alt="")
            img.dot(src="img/circle_dot.svg", alt="")


//- 咖啡產品列表
mixin shopItemBox(data)
    a(href="shop_cont.html" data-aos="fade-zoom-in").shop-item-box
        .shop-item-img
            .bg-circle-box
                .bg-circle
                .icon-new New
            img(src="img/coffee01_n.png", alt="")
        .shop-item-info-area
            .shop-item-tit
                .tit 印尼弗洛勒斯
                .en Flores Black
            .shop-item-cont 嚴選印尼弗洛勒斯產區豆種<br>豐沃的火山土壤<br>孕育獨特風味的咖啡豆

//- 咖啡知識列表
mixin lifestyleBox(data)
    a(href="lifestyle_cont.html" data-aos="fade-up").lifestyle-box
        .lifestyle-info
            .info-top
                .info-box
                    .zh #{data.zh}
                    .en #{data.en}
                .date-box #{data.date}
                .tit !{data.tit}
            .info-bot
                span 暸解更多
                .arr
                //- <i class="fal fa-angle-right"></i>
        .lifestyle-img
            img(src="img/"+data.img, alt="")

//- 品牌快訊列表項目
mixin newsBox(data)
    a(href="news_cont.html" data-aos="fade-up").news-box
        .news-list-img
            img(src="img/"+data.img, alt="")
        .news-list-info-cont
            .news-list-info
                .tit
                    .icon-cof
                    span #{data.tit}
                .info
                    .date
                        .day 22
                        .mon APR
                    .txt !{data.txt}
            .news-list-more
                .mb-date 2021-APR-13
                .arr-box
                    .icon-pc-arr
                    span 暸解更多
                    <i class="fal fa-angle-right"></i>

//- 品牌快訊列表項目
mixin videoBox(data)
    .news-box(data-aos="fade-up" data-videoid="H9Viq60SkVk")
        .news-list-img
            img(src="img/"+data.img, alt="")
        .news-list-info-cont
            .news-list-info
                .tit
                    .icon-cof
                    span #{data.tit}
                .info
                    .date
                        .day 22
                        .mon APR
                    .txt !{data.txt}
            .news-list-more
                .mb-date 2021-APR-13
                .arr-box
                    .icon-pc-arr
                    span 立即觀看
                    <i class="fal fa-angle-right"></i>

//-input樣式
mixin contactFormBox(data)
    .contact-form-box
        label(for=data.name) #{data.tit}
        .input-box
            input.input-sty.input-val(type="text" name=data.name id=data.name placeholder=data.note)

//- 手機版下拉單
mixin selectMbBox(data)
    .select-mb-box#selectMbBox
        .tit
            span #{data.tit}
            <i class="fal fa-angle-down"></i>
        .select-list#selectMbList 
            each n in data.itemList
                a(href=n.url).item #{n.name}

//- 頁碼
mixin paginationBox
    .pagination-area
        .pagination-box
            a(href="###") 1
            a(href="###") 2
            a(href="###") 3
            a(href="###") 4
            a(href="###") 5
            a(href="###") 6
            a(href="###") 7
            a(href="###") 8
            span ...
            a(href="###") 15
            a(href="###") 16

//- 關於品質 - 手機
mixin mbAboutQualityBox(data)
    .mb-about-quality-box
        .mb-about-quality-img-box
            .mb-about-quality-img(id=data.id)
                img(src="img/"+data.img, alt="")
        .mb-about-quality-info-box
            .tit-box
                .en #{data.en}
                .tit #{data.tit}
            a(href="###").arr-box 暸解更多 <i class="fal fa-chevron-right"></i>


//- 大事記 - 手機
mixin aboutMbEventBox(data)
    .about-mb-event-box
        .tit #{data.tit}
        .info-box
            ul.info-list
                each i in data.infoList
                    li #{i}
            .img-box
                .img
                    img(src="img/"+data.imgMb, alt="")

//- footerLink
mixin fLink(data)
    .footer-link
        if !data.titUrl
            .tit.fc
                span #{data.tit}
                .icon.iconplus
        else
            .tit
                a(href=data.titUrl) #{data.tit}
                .icon.icongo
        ul.link
            if data.isInfo
                each n in data.linkList
                    li
                        span #{n.name}
            else
                each i in data.linkList
                    li
                        if i.id
                            a(href=i.link id=i.id) #{i.name}
                        else
                            a(href=i.link) #{i.name}