.mask#mask
.nav-area-bg#navAreaBg
.nav-area.page#navArea
    nav
        a.logo(href="index.html")
            h1 伯朗咖啡
            //- img(src="img/logo_b.svg", alt="") 
        .nav-btn-box
            //- -const nav={'探索伯朗':'###','懂你的咖啡':'###','咖啡生活':'###','最新消息':'###','EN':'###'};
            //- //-n 是值 i 是KEY
            //- each n,i in nav
            //-     a(href=n)= i
            -const nav=[{'tit':'探索伯朗','en':'About','linksId':'1','links':[{'name':'品牌精神','subId':'navAbout1','url':'about.html#a1'},{'name':'不妥協的品質','subId':'navAbout2','url':'about.html#a2'},{'name':'伯朗大事紀','subId':'navAbout3','url':'about.html#a3'},{'name':'永續發展','subId':'navAbout4','url':'about.html#a4'}]},{'tit':'懂你的咖啡','en':'Our Coffee','linksId':'2','links':[{'name':'即飲系列','url':'shop_list.html'}, {'name':'寶特系列','url':'###'}, {'name':'濾掛系列','url':'###'}, {'name':'咖啡豆系列','url':'###'}, {'name':'沖調系列','url':'###'}]},{'tit':'咖啡生活','en':'Life Style','linksId':'3','links':[{'name':'咖啡知識','url':'lifestyle_list.html'},{'name':'啡嚐享趣','url':'###'}]},{'tit':'最新消息','en':'Latest News','linksId':'4','links':[{'name':'活動影音專區','url':'video_list.html'},{'name':'品牌快訊','url':'news_list.html'}]},{'tit':'EN','link':'###'}];
            each n in nav
                if n.link
                    a.tit(href=n.link)
                        span.lan #{n.tit}
                else
                    .tit.hover(id='navTit'+n.linksId)
                        span.zh #{n.tit}
                        span.en #{n.en}
                        //- old
                        //- .nav-sub(id='navSub'+n.linksId)
                        //-     each item in n.links
                        //-         .nav-sub-btn
                        //-             if item.subId
                        //-                 a(href=item.url id=item.subId) #{item.name}
                        //-             else
                        //-                 a(href=item.url) #{item.name}
            //- nav mouseover
            .nav-mouse-area#navMouseArea
                .nav-social-box#navSocialBox
                    a(href="###" target="_blank").nav-social
                        img(src="img/ns_fb.svg", alt="")
                    a(href="###" target="_blank").nav-social
                        img(src="img/ns_ig.svg", alt="")
                    a(href="###" target="_blank").nav-social
                        img(src="img/ns_yt.svg", alt="")
                each m in nav
                    if m.link
                        .nav-mouse-box
                            .title #{m.tit}
                    else
                        .nav-mouse-box
                            .title #{m.tit}
                            .nav-mouse-link-box(id='navSub'+m.linksId)
                                each l in m.links
                                    .nav-sub-btn
                                        if l.subId
                                            a(href=l.url id=l.subId) #{l.name}
                                        else
                                            a(href=l.url) #{l.name}
        //- 漢堡
        .ham-box
            .mb-txt Meun
            button(class="hamburger hamburger--squeeze" type="button" id="hamBtn")
                span(class="hamburger-box")
                    span(class="hamburger-inner")
// 手機版nav
.mb-nav-bg#mbNavBg
-const navMb=[{'tit':'探索伯朗','en':'ABOUT','linksId':'1','links':[{'name':'品牌精神','subId':'mbAbout1','url':'about.html#a1'},{'name':'不妥協的品質','subId':'mbAbout2','url':'about.html#a2'},{'name':'伯朗大事紀','subId':'mbAbout3','url':'about.html#a3'},{'name':'永續發展','subId':'mbAbout4','url':'about.html#a4'}]},{'tit':'懂你的咖啡','en':'OUR COFFEE','linksId':'2','links':[{'name':'即飲系列','url':'shop_list.html'}, {'name':'寶特系列','url':'###'}, {'name':'濾掛系列','url':'###'}, {'name':'咖啡豆系列','url':'###'}, {'name':'沖調系列','url':'###'}]},{'tit':'咖啡生活','en':'LIFE STYLE','linksId':'3','links':[{'name':'咖啡知識','url':'lifestyle_list.html'},{'name':'啡嚐享趣','url':'###'}]},{'tit':'最新消息','en':'LATEAT NEWS','linksId':'4','links':[{'name':'活動影音專區','url':'###'},{'name':'品牌快訊','url':'news_list.html'}]}];
.mb-nav-area
    .mb-nav-top
        .logo-box
            .logo
                img(src="img/mb_nav_logo.svg", alt="").ani-item
        button(class="hamburger hamburger--squeeze" type="button" id="hamCloseBtn")
            span(class="hamburger-box")
                span(class="hamburger-inner")
    .mb-nav
        .mb-nav-cont-top
            .mb-nav-cont
                each item in navMb
                    .mb-nav-cont-cover
                        .mb-nav-tit-box.ani-item
                            .tit #{item.tit}
                            .arrow-box 
                                span #{item.en}
                                <i class="fal fa-angle-down"></i>
                        .mb-nav-sub
                            each l in item.links
                                if l.subId
                                    .item
                                        a(href=l.url id=l.subId) #{l.name}
                                else
                                    .item
                                        a(href=l.url) #{l.name}
            .mb-social-area
                .mb-social-cover
                    .mb-social-cont.ani-item
                        a(href="###") EN
                        .mb-social-box
                            a(href="###" target="_blank").box <i class="fab fa-facebook-square"></i>
                            a(href="###" target="_blank").box <i class="fab fa-instagram"></i>
                            a(href="###" target="_blank").box <i class="fab fa-youtube"></i>
        .mb-copyright-box
            .mb-copyright.ani-item COPYRIGHT © KING CAR GROUP. 2022