@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:200");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body {
  height: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
  transition: 0.2s;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

input, textarea, select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  border: none;
  border-radius: 0;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

body {
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  font-size: 16px;
  color: #292929;
}

input, textarea, select {
  font-family: "Noto Sans TC", "微軟正黑體", Arial, Helvetica, sans-serif, "STHeiti Light", "儷黑 Pro", "LiHei Pro", "新細明體";
  color: #292929;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-box-area {
  width: 100%;
  margin: 0 0 5px;
  text-align: left;
}
.input-box-area label {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}
.input-box-area p {
  color: #fff;
  line-height: 40px;
  display: block;
}

.input-box {
  position: relative;
}
.input-box label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0;
  background: #e53b57;
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 2;
  transform: translateY(-50%);
}

.input-sty {
  font-size: 15px;
  color: #292929;
  width: 100%;
  line-height: 38px;
  padding: 0 10px;
  border: 1px solid #A5A5A5;
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
}
.input-sty::placeholder {
  color: rgba(41, 41, 41, 0.8);
}

.label-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item-wrap label.error {
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
  margin: 0 0 0 10px;
  background: #e53b57;
}

.input-tit {
  font-size: 86%;
  color: #f9b601;
  margin: 0 0 5px;
  display: inline-block;
}

.label-item {
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.label-item span {
  font-size: 86%;
  margin: 0 0 0 5px;
}

.radio-box {
  width: 14px;
  height: 14px;
  padding: 2px 0 0 2px;
  border: 1px solid #009aff;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #009aff;
  display: block;
}

input[type=radio] {
  opacity: 0;
}

.check-box {
  width: 13px;
  height: 13px;
  border: 2px solid #009aff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box::after {
  content: "\f00c";
  font-size: 15px;
  color: #009aff;
  transform: translateY(-1px);
  display: block;
}

.input-sel {
  font-size: 100%;
  color: #f9b601;
  width: 100%;
  line-height: 32px;
  padding: 0 10px;
  border: 1px solid #f9b601;
  background: #fff;
  box-sizing: border-box;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 65px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background: #329a04;
}
.switch input:checked + .slider:after {
  content: "on";
  right: 35px;
}
.switch input:focus + .slider {
  box-shadow: 0 0 5px #111111;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 50px;
  padding: 3px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background: #ffffff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 30px;
  left: 3px;
  bottom: 3px;
}
.slider:after {
  position: absolute;
  content: "off";
  color: #ffffff;
  line-height: 25px;
  padding: 0 0 0 5px;
  right: 15px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgb(51, 51, 51) inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
}

.pasw {
  -webkit-text-security: disc;
}

.btn-area {
  text-align: center;
  margin: 15px 0 0;
}

.btn {
  font-size: 125%;
  color: #fff;
  font-weight: 500;
  width: 100px;
  padding: 5px 10px;
  background: #f9b601;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  opacity: 0.9;
}

.submit-btn {
  position: relative;
}
.submit-btn input {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.sub-filter-btn {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.sub-filter-btn input {
  position: absolute;
}
.sub-filter-btn label {
  color: #d89f1f;
  border-radius: 10px;
  padding: 3px 10px;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.sub-filter-btn label:hover {
  color: #fff;
}
.sub-filter-btn input[type=radio]:checked + label {
  color: #fff;
  background: #d89f1f;
}

.check-box2 {
  width: 13px;
  height: 13px;
  margin: 0 3px;
  border: 2px solid #d1c0a5;
  border-radius: 2px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

input[type=checkbox]:checked + .check-box2::after {
  content: "\f00c";
  font-size: 15px;
  color: #d1c0a5;
  transition: 0.2s;
}

.check-box-c {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}

input[type=checkbox]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

input[type=radio]:checked + .check-box-c::after {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url(../img/icon_c.png) no-repeat center center;
  background-size: contain;
  transition: 0.2s;
  position: absolute;
  top: -2px;
  left: -2px;
}

.ex-inp-wrap {
  margin: 10px 20px;
  border: 1px solid #009aff;
  border-radius: 5px;
}

.ex-tit {
  font-size: 18px;
  color: #fff;
  padding: 5px;
  background: #009aff;
}

.ex-box {
  padding: 5px;
}
.ex-box p {
  margin: 5px 0;
}
.ex-box i {
  color: #009aff;
}

.pug-h1 {
  font-size: 150%;
  font-weight: bold;
  color: #db972e;
  margin: 10px;
}

.pug-box {
  border: 1px solid #db972e;
  border-radius: 5px;
  margin: 10px;
}

.pug-nuit {
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  background: #db972e;
}

.pug-txt {
  font-size: 90%;
  color: #555;
  padding: 5px 10px;
}
.pug-txt span {
  color: #db972e;
}
.pug-txt a {
  color: #fff;
  background: #db972e;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
  display: inline-block;
}

.ex-box {
  padding: 3px 10px;
  color: #db972e;
}
.ex-box span {
  color: #3d80bf;
}

.mail-box {
  width: 300px;
  margin: 10px;
  border: 1px solid #ff6060;
  border-radius: 5px;
  position: relative;
}

.mail-tag {
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
  background: #2bc7b5;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}

.mail-tit {
  color: #fff;
  background: #ff6060;
  padding: 5px 10px;
}

.mail-txt {
  padding: 5px 10px;
}

.mail-date {
  color: #ff6060;
  text-align: right;
}

.de-input-box {
  width: 300px;
  padding: 10px;
}

.test-wrap {
  width: 300px;
  height: 200px;
  margin: 10px;
  background: #ff6c6c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.test-box {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
}
.test-box img {
  width: 100%;
}
.test-box .t-img {
  width: 80%;
}

.radio-wrap {
  display: inline-block;
  vertical-align: middle;
}

.border-grad {
  border: 2px solid;
  border-image: linear-gradient(145deg, #775729 10%, #eee33d 20%, #775729 30%) 10;
  padding: 50px;
  margin: 10px;
  display: inline-block;
  background: rgba(51, 28, 18, 0.35);
}
.border-grad p {
  background: -webkit-linear-gradient(top, #99432b, #ffaf2e 40%, #fcff96 48%, #fcffff, #fcff96 52%, #ffaf2e 60%, #99432b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1679px) {
  .slide-txt-cont .tit {
    font-size: 2.5vw;
  }
  .slide-txt-cont .cont {
    font-size: 1.19vw;
  }
  .slide-txt-cont .en img {
    width: 50.6%;
  }
  .slide-txt-area {
    width: 38.63%;
  }
}
@media screen and (max-width: 1550px) {
  .about-slogan {
    padding-left: 65px;
  }
  .about-area1 .main-cont {
    width: 100%;
  }
  .about-solgan-area .img-box {
    height: 600px;
    width: calc(100% - 535px);
  }
}
@media screen and (max-width: 1440px) {
  .ind-dot-side .main-area {
    padding: 0 30px 0 0;
  }
  .about-solgan-area {
    width: 100%;
  }
  .about-solgan-area .cube-info-box {
    width: 42%;
  }
  .about-solgan-area .cube-info-box:after {
    width: 65%;
  }
  .about-solgan-area .img-box {
    width: 58%;
  }
  .list-page-area .m-tit-box {
    width: 100%;
    padding: 0 30px;
  }
  .lifestyle-cont-info {
    width: calc(100% - 465px);
  }
  .column-main-area {
    padding: 0 40px;
  }
}
@media screen and (max-width: 1400px) {
  .nav-btn-box span.zh {
    font-size: 16px;
  }
  .nav-btn-box span.lan {
    font-size: 16px;
  }
  .nav-btn-box span.en {
    font-size: 16px;
  }
  .nav-mouse-box .title {
    font-size: 16px;
  }
  .nav-sub-btn a {
    font-size: 14px;
  }
  .ind-dot-side .main-area {
    padding: 0 90px 0 90px;
  }
  .slide-txt-cont .arr-box {
    font-size: 15px;
  }
  .m-tit h2 {
    font-size: 3.21vw;
  }
  .m-tit .sup span {
    font-size: 1.57vw;
  }
  .ind-cont01 {
    padding: 23% 0 0;
  }
  .ind-cont02 {
    padding: 23% 0 0;
  }
  .coffee-hr-box {
    padding: 23% 0;
  }
  .ind-cont03 {
    padding: 43% 0 0;
  }
  .circle-hr-box {
    width: 100px;
  }
  .slide-coffee-area {
    width: 100%;
  }
  .gotop .txt {
    font-size: 14px;
  }
  footer {
    margin: 0 90px;
  }
  .footer-link .tit a, .footer-link .tit span {
    font-size: 16px;
  }
  .footer-link a {
    font-size: 14px;
  }
  .footer-link span {
    font-size: 14px;
  }
  .footer-social-box a {
    width: 24px;
    margin-right: 24px;
  }
  .footer-social-box a:last-child {
    width: 34px;
  }
  .footer-social-box a.privacy {
    font-size: 13px;
  }
  .cube-info-txt .tit-box .tit {
    font-size: 30px;
  }
  .ind-val-area {
    margin: 0 auto;
  }
  .ind-val-area .cube-info-box {
    min-width: 470px;
    width: 52%;
    padding: 60px 20px;
  }
  .ind-val-area .cube-info-txt {
    max-width: 430px;
    margin: 0 auto;
  }
  .ind-val-area .img-box {
    width: 60%;
  }
  .item-cube-area {
    width: 100%;
  }
  .item-cube-group {
    width: calc(100% - 60px);
  }
  .dot-main-area {
    padding: 0 30px 0 65px;
  }
  .about-slogan {
    padding-right: 0;
  }
  .about-quality-area {
    width: 100%;
    padding: 0 106px;
  }
  .about-care-area {
    width: 100%;
  }
  .shop-item-img {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
  }
  .shop-item-img .bg-circle-box {
    width: 65%;
    padding-bottom: 65%;
    height: 0;
  }
  .shop-item-img .bg-circle {
    padding-bottom: 100%;
  }
  .shop-cont-area {
    width: 100%;
    padding: 195px 40px 0;
    box-sizing: border-box;
  }
  .shop-page-info-area {
    width: 100%;
  }
  .shop-page-info-tit {
    padding-left: 0;
  }
  .lifestyle-area .m-tit-box {
    padding: 0;
  }
  .lifestyle-list {
    padding-right: 100px;
  }
  .item-bottom-area {
    padding: 0 40px 315px;
  }
  .item-page-cube-area {
    width: 100%;
  }
  .item-page-cube-group .item {
    width: 25%;
    margin-right: 4%;
  }
  .item-page-cube-group .item.move {
    left: 17%;
  }
  .item-page-cube-info-box {
    width: 67%;
  }
  .news-area {
    padding: 0 30px;
  }
  .news-area .m-tit-box {
    padding: 0;
  }
  .news-list {
    width: 100%;
  }
  .column-info-box {
    width: 652px;
    padding-right: 0;
  }
  .privacy-info-box {
    width: 652px;
  }
}
@media screen and (max-width: 1200px) {
  .nav-btn-box .tit {
    padding-right: 50px;
  }
  .nav-btn-box span.zh {
    font-size: 15px;
  }
  .nav-btn-box span.en {
    font-size: 15px;
  }
  .nav-mouse-box .title {
    font-size: 15px;
    padding-right: 50px;
  }
  .slide-txt-cont .arr-box {
    font-size: 14px;
  }
  .slide-txt-cont .tit {
    font-size: 3vw;
    margin: 0 0 45px;
  }
  .slide-txt-cont .en {
    margin: 0 0 20px;
  }
  .slide-txt-cont .cont {
    font-size: 1.4vw;
  }
  .slide-txt-area {
    padding: 70px 40px;
  }
  .ind-life-area {
    width: 100%;
  }
  .ind-life-area .img-box {
    width: 51%;
    height: 0;
    padding-bottom: 70%;
  }
  .ind-life-area .cube-info-box {
    width: 49%;
    padding: 60px 20px;
  }
  .ind-life-area .cube-info-box:before {
    width: 80%;
  }
  .ind-life-area .cube-info-txt {
    max-width: 440px;
    margin: 0 auto;
  }
  .swiper-coffee .swiper-slide-active .slide-coffee-img {
    width: 50%;
    height: 690px;
    right: 50%;
    transform: translateY(-62px);
  }
  .slide-coffee-img {
    width: 50%;
    right: 50%;
    height: 690px;
  }
  .slide-coffee-info-cont {
    width: 50%;
    padding: 50px 40px;
  }
  .slide-coffee-info-cont:before {
    width: 60%;
  }
  .about-quality-area {
    padding: 0 20px;
  }
  .about-env-swiper-area {
    width: calc(100% - 60px);
  }
  .about-env-img-box {
    width: 50%;
  }
  .about-env-img-box .about-env-img {
    width: 100%;
  }
  .about-env-info-box {
    width: 50%;
  }
  .item-page-cube-area .item-cube-group {
    width: calc(100% - 80px);
  }
  .lifestyle-list {
    padding-right: 0;
  }
  .lifestyle-list:before {
    width: 515px;
    right: -30px;
    transform: translateX(0);
  }
  .lifestyle-box {
    width: 925px;
  }
  .lifestyle-info {
    width: 465px;
  }
  .lifestyle-cont-side {
    width: 350px;
  }
  .lifestyle-cont-info {
    width: calc(100% - 350px);
    padding: 50px;
  }
}
@media screen and (max-width: 1023px) {
  nav a.logo {
    width: 100px;
    height: 30px;
  }
  .nav-area {
    padding: 8px 18px;
  }
  .nav-btn-box .tit {
    padding: 10px 40px 12px 0;
  }
  .nav-mouse-box .title {
    font-size: 14px;
    padding: 10px 40px 12px 0;
  }
  .nav-sub-btn a {
    font-size: 13px;
  }
  .nav-btn-box span.zh {
    font-size: 14px;
  }
  .nav-btn-box span.en {
    font-size: 14px;
  }
  .ind-dot-side .main-area {
    padding: 0 60px;
  }
  .m-tit h2 {
    font-size: 4vw;
    margin: 0 -10px 6px 0;
  }
  .m-tit .sup span {
    font-size: 1.9vw;
  }
  .slide-txt-area {
    padding: 95px 30px;
  }
  .slide-txt-cont .arr-box {
    font-size: 13px;
  }
  .slide-txt-cont .arr-box .arr {
    width: 42.17%;
  }
  .slide-banner {
    width: calc(100% - 50px);
  }
  .swiper-side-banner {
    width: 50px;
  }
  .ind-cont01 .m-tit-box.ind {
    margin-bottom: 60px;
  }
  .ind-cont02 .m-tit-box.ind {
    margin-bottom: 60px;
  }
  .ind-cont04 .m-tit-box.ind {
    margin-bottom: 180px;
  }
  .coffee-hr-box {
    padding: 150px 0;
  }
  .ind-val-area .img-box {
    height: 580px;
  }
  .ind-val-area .cube-info-box {
    height: 450px;
    min-width: auto;
    padding: 40px 30px;
    bottom: 8%;
  }
  .cube-info-txt .tit-box .tit {
    font-size: 3vw;
    letter-spacing: 8px;
  }
  .cube-info-txt .cont-box .txt {
    font-size: 1.8vw;
  }
  .icon-new {
    font-size: 13px;
    width: 45px;
    height: 45px;
    line-height: 43px;
    top: 12px;
    right: 15px;
  }
  .item-cube-group {
    width: calc(100% - 50px);
  }
  .item-cube-area .arr-btn {
    margin: 0 0 87px;
  }
  .item-cube-img {
    margin: 0 0 20px;
  }
  .item-cube-img .item-info {
    padding: 16px;
  }
  .item-cube-img .item-info .en {
    font-size: 2.2vw;
    margin: 0 0 6px;
  }
  .item-cube-img .item-info .tit {
    font-size: 15px;
  }
  .item-cube-img .item-info .info {
    font-size: 13px;
    line-height: 1.4;
  }
  .item-cube-img .item-img img {
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
  }
  .item-cube-name .name {
    font-size: 15px;
    width: 100%;
    margin: 0 0 8px;
  }
  .item-cube-name a {
    font-size: 13px;
    width: 100%;
  }
  .circle-hr-box {
    width: 80px;
  }
  .ind-cont03 {
    padding: 26% 0 0;
  }
  .ind-life-area .cube-info-box {
    height: 480px;
    padding: 40px 30px;
  }
  .side-act-area {
    width: 36px;
    height: 320px;
  }
  .side-act-area .tit {
    font-size: 13px;
  }
  .act-dot-box .dot {
    height: 30px;
    margin: 0 0 12px;
  }
  .ind-cont04 {
    padding: 26% 0 0;
  }
  .tit-more span {
    font-size: 13px;
  }
  .tit-more img {
    width: 50px;
  }
  .swiper-coffee .swiper-slide-active .slide-coffee-img {
    height: 470px;
    transform: translateY(-42px);
  }
  .slide-coffee-info .tit {
    font-size: 18px;
    margin: 0 0 30px;
  }
  .slide-coffee-info .date {
    font-size: 13px;
  }
  .slide-coffee-info .cont {
    font-size: 14px;
    line-height: 1.6;
  }
  .slide-coffee-link a {
    font-size: 13px;
  }
  .slide-coffee-info-cont {
    height: 450px;
    padding: 40px 30px;
  }
  .about-area1 {
    padding: 100px 0;
  }
  .about-area2 {
    padding: 150px 0;
  }
  .about-area3 {
    padding: 150px 0 0;
  }
  .about-area4 {
    padding: 150px 0 200px;
  }
  .about-solgan-area .cube-info-box {
    width: 90%;
    height: auto;
    margin-right: 10%;
    transform: translateY(0);
    padding: 50px 20px;
    border-radius: 0 0 15px 15px;
    order: 1;
  }
  .about-solgan-area .cube-info-box:after {
    width: 100%;
    top: 0;
    height: 50%;
    bottom: auto;
    border-radius: 15px 15px 0 0;
    transform: translateY(-99.5%);
  }
  .about-solgan-area .m-tit-box {
    margin: 0 0 60px;
  }
  .about-solgan-area .img-box {
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    order: 0;
  }
  .about-quality-area {
    padding: 0 30px;
  }
  .about-quality-box {
    margin: 0 0 200px;
  }
  .about-quality-box .info-box {
    max-width: initial;
    margin-bottom: 50px;
  }
  .about-quality-box .tit-box {
    margin: 0 0 50px;
  }
  .about-quality-box .img-area {
    width: 100%;
  }
  .about-quality-box .img-area .str-more {
    margin-left: 20px;
  }
  .about-quality-box .img-area:after {
    width: 70%;
    height: 100%;
  }
  .about-quality-box .img-box {
    width: 100%;
    height: 0;
    padding-bottom: 70%;
  }
  .about-quality-box:nth-child(even) .info-box {
    order: 0;
  }
  .about-quality-box:nth-child(even) .img-area {
    order: 1;
  }
  .about-event-area .m-tit-box {
    margin: 0 0 150px;
  }
  .about-event-list-area {
    width: 100%;
    padding: 90px 50px 0;
  }
  .about-event-box {
    padding-left: 50px;
  }
  .about-event-box:nth-child(even) {
    padding-right: 50px;
  }
  .about-event-box:nth-child(even) .about-event-year {
    left: -50px;
  }
  .about-event-year {
    right: -50px;
  }
  .about-event-img {
    width: 100%;
    height: 0;
    padding-bottom: 125%;
  }
  .about-env-info {
    padding: 50px 30px;
  }
  .shop-item-img .icon-new {
    top: -15px;
    right: -15px;
  }
  .shop-banner-cont {
    height: 600px;
  }
  .shop-banner-img {
    align-items: center;
  }
  .shop-banner-img .shop-banner-item {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 0;
  }
  .shop-banner-img .circle {
    width: 70%;
    height: 0;
    padding-bottom: 70%;
  }
  .shop-cont-area {
    padding: 150px 40px 0;
  }
  .shop-page-info-tit {
    width: 100%;
    margin: 0 0 80px;
  }
  .shop-page-info-cont {
    width: 100%;
  }
  .item-bottom-area {
    padding: 0 40px 150px;
  }
  .item-page-cube-group .item {
    width: 26%;
    margin-right: 2.2%;
  }
  .item-page-cube-group .item.move {
    left: 17.5%;
  }
  .item-page-cube-img .icon-new {
    right: -10px;
  }
  .item-page-cube-info-box {
    padding: 15px;
  }
  .lifestyle-list:before {
    width: calc(55% + 30px);
    right: -30px;
  }
  .lifestyle-box {
    width: 100%;
  }
  .lifestyle-info {
    width: 45%;
  }
  .lifestyle-info .info-top .info-box {
    margin: 0 0 30px;
  }
  .lifestyle-info .info-top .date-box {
    margin: 0 0 50px;
  }
  .lifestyle-img {
    width: 55%;
    padding-bottom: 70%;
    height: auto;
  }
  .news-list {
    padding: 0 0 200px;
  }
  .news-list-info-cont {
    padding: 40px;
  }
  .news-list-info {
    width: 100%;
    padding-left: 20px;
  }
  .news-box:nth-child(even) .news-list-info {
    padding-right: 20px;
  }
  .video-light-area {
    width: 80%;
  }
  .video-light-box {
    width: 100%;
    height: 0;
    padding-bottom: 56%;
  }
  .column-info-box {
    width: 100%;
    padding-right: 0;
  }
  .privacy-info-box {
    width: 100%;
  }
  .contact-side-box {
    width: 100%;
    align-content: unset;
    justify-content: space-between;
    align-items: center;
  }
  .contact-form-area {
    width: 100%;
  }
  .contact-copyright {
    width: auto;
  }
  .gotop .txt {
    font-size: 12px;
  }
  .footer-area {
    padding: 50px 0 60px;
  }
  .f-logo {
    margin: 0 0 20px;
  }
  .f-logo img {
    width: 150px;
  }
  footer {
    margin: 0 40px;
  }
  .footer-link {
    min-width: 105px;
    margin-right: 25px;
  }
  .footer-link .tit {
    margin: 0 0 14px;
  }
  .footer-link .tit a {
    font-size: 14px;
  }
  .footer-link .tit span {
    font-size: 14px;
  }
  .footer-link a {
    font-size: 13px;
  }
  .footer-link span {
    font-size: 13px;
  }
  .footer-link ul.link li {
    margin: 0 0 2px;
  }
  .footer-social-area {
    width: 60px;
  }
  .footer-social-box a {
    margin-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .nav-area {
    padding: 14px 25px 13px 29px;
  }
  nav a.logo {
    width: 130px;
    height: 35px;
  }
  .nav-btn-box {
    display: none;
  }
  .ham-box {
    display: flex;
  }
  .ind-dot-side .main-area {
    padding: 0 30px;
  }
  .banner-area {
    height: 735px;
    bottom: 0;
  }
  .arr-circle {
    background: #5F1E00;
    color: #fff;
  }
  .side-act-area.on {
    left: -60px;
  }
  .m-tit .sup span {
    font-size: 15px;
  }
  .slogin-box br {
    display: block;
  }
  .slogin-box .tit {
    font-size: 23px;
    color: #E2DBD2;
    font-weight: 400;
  }
  .slogin-box .cont {
    font-size: 17px;
    color: #E2DBD2;
  }
  .slide-banner {
    width: 100%;
  }
  .slide-txt-area {
    width: calc(100% - 98px);
    padding: 31px 41px 44px;
    height: auto;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    border-bottom: 7px solid #C89664;
  }
  .slide-txt-cont .tit {
    font-size: 18px;
    color: #E2DBD2;
    letter-spacing: 3px;
    margin: 0 0 14px;
  }
  .slide-txt-cont .tit .dot {
    display: block;
  }
  .slide-txt-cont .en {
    display: none;
  }
  .slide-txt-cont .cont {
    font-size: 13px;
    color: #E2DBD2;
    margin: 0;
    letter-spacing: 2.5px;
  }
  .slide-txt-cont .arr-box {
    display: none;
  }
  .swiper-side-banner {
    display: none;
  }
  .swiper-slide-active .slide-coffee-info-cont {
    transform: scale(1);
    opacity: 1;
  }
  .slide-coffee-area {
    display: none;
  }
  .m-slide-group {
    margin: 0 -20px;
    position: relative;
    display: block;
  }
  .m-slide-group:before {
    content: "";
    width: calc(100% - 80px);
    height: 430px;
    background: #C89664;
    border-radius: 10px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 40px;
    z-index: 1;
  }
  .m-slide-coffee-area {
    display: block;
    position: relative;
    left: 19.1%;
    z-index: 2;
  }
  .m-slide-coffee-area .swiper {
    overflow: visible;
  }
  .m-slide-coffee-area .m-slide-coffee-box {
    border-radius: 10px;
    overflow: hidden;
  }
  .m-slide-coffee-box {
    width: 100%;
  }
  .m-slide-coffee-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .m-slide-coffee-txt-area {
    width: 235px;
    margin: 0 auto;
    padding: 40px 0 38px;
    position: relative;
  }
  .m-slide-coffee-txt-area .swiper {
    overflow: visible;
  }
  .m-slide-coffee-txt-area h3 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #E2DBD2;
    padding: 0 0 7px;
    margin: 0 0 12px;
    border-bottom: 1px solid #E2DBD2;
  }
  .m-slide-coffee-txt-area .mb-swiper-btn-box {
    display: flex;
    position: absolute;
    bottom: -50px;
    z-index: 2;
    padding: 0;
    margin: 0;
  }
  .m-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .m-info .date {
    font-family: "Commissioner", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #E2DBD2;
  }
  .m-info a {
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 300;
    color: #E2DBD2;
    display: block;
  }
  .mb-show {
    display: block;
  }
  .m-tit h2 {
    font-size: 25px;
    margin: 0 0 5px;
    letter-spacing: 5px;
  }
  .m-tit .sup {
    font-size: 15px;
  }
  .m-tit .sup:before, .m-tit .sup:after {
    width: 7px;
    height: 10px;
  }
  .cube-info-txt .tit-box .en, .cube-info-txt .cont-box .en {
    margin: 0 0 15px;
  }
  .cube-info-txt .tit-box .tit, .cube-info-txt .cont-box .tit {
    font-size: 38px;
  }
  .cube-info-txt .tit-box {
    margin: 0 0 30px;
  }
  .ind-cont01 {
    padding: 100px 0 0;
  }
  .ind-cont01 .m-tit-box.ind {
    margin-bottom: 60px;
  }
  .ind-cont02 {
    padding: 100px 0 0;
  }
  .ind-cont02 .m-tit-box.ind {
    margin-bottom: 59px;
  }
  .ind-cont03 {
    padding: 150px 0 0;
  }
  .ind-cont04 {
    padding: 0;
    margin: 0 0 60px;
  }
  .ind-cont04 .m-tit-box.ind {
    margin-bottom: 61px;
  }
  .circle-hr-box {
    width: 80px;
  }
  .mb-swiper-btn-box {
    display: flex;
  }
  .mb-cube-area {
    display: block;
  }
  .ind-val-area {
    display: none;
    justify-content: flex-start;
  }
  .ind-val-area .cube-info-box {
    width: 90%;
    min-width: auto;
    height: auto;
    margin-top: -20%;
    order: 1;
    position: relative;
    bottom: 0;
  }
  .ind-val-area .img-box {
    width: 90%;
    height: 0;
    padding-bottom: 120%;
    margin-left: 10%;
    order: 0;
  }
  .item-cube-end-box {
    margin: 0 -30px;
  }
  .item-cube-area {
    margin-top: 30px;
    position: relative;
  }
  .item-cube-area:after {
    content: "";
    display: block;
    width: 88%;
    height: 91%;
    border-radius: 10px;
    background: #F5F5EF;
    position: absolute;
    bottom: 0;
    left: 6%;
    z-index: 0;
  }
  .item-cube-area .arr-btn {
    display: none;
  }
  .item-cube-area .swiper-button-prev, .item-cube-area .swiper-button-next {
    display: none;
  }
  .item-cube-group {
    width: 100%;
    transform: translateY(-30px);
    z-index: 2;
  }
  .item-cube-group .swiper-slide .item-cube-name {
    opacity: 0;
    transition: 0.2s;
    position: relative;
  }
  .item-cube-img .item-info {
    padding: 30px;
    align-content: center;
  }
  .item-cube-img .item-info .en {
    margin: 0 0 30px;
  }
  .item-cube-img .item-info .tit-box {
    margin: 0 0 50px;
  }
  .item-cube-name .name {
    font-size: 18px;
  }
  .item-cube-name a {
    font-size: 13px;
    width: auto;
  }
  .ind-life-area {
    display: none;
  }
  .ind-life-area .img-box {
    width: 90%;
    margin-right: 10%;
    padding-bottom: 120%;
    position: relative;
    transform: translateY(0px);
  }
  .ind-life-area .cube-info-box {
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin-top: -30%;
    z-index: 2;
  }
  .ind-life-area .cube-info-box:before {
    display: none;
  }
  .ind-life-area .cube-info-txt {
    max-width: auto;
  }
  .tit-more {
    font-size: 15px;
  }
  .swiper-coffee {
    width: 100%;
    margin-left: 0;
  }
  .slide-coffee-img {
    width: 75%;
    height: 0;
    left: auto;
    right: auto;
    padding-bottom: 100%;
    margin: 0 auto;
    position: relative;
    transform: translateY(0px) scale(0.9);
  }
  .swiper-coffee .swiper-slide-active .slide-coffee-img {
    width: 75%;
    height: 0;
    right: 0;
    padding-bottom: 100%;
    transform: translateY(0px) scale(1);
  }
  .swiper-coffee .swiper-slide-prev .slide-coffee-img {
    right: -27%;
  }
  .swiper-coffee .swiper-slide-next .slide-coffee-img {
    right: 27%;
  }
  .slide-coffee-info-cont {
    width: 100%;
    border-radius: 0 0 15px 15px;
    padding: 40px 45px;
    height: auto;
  }
  .slide-coffee-info-cont:before {
    width: 100%;
    height: 130%;
    top: 0;
    bottom: auto;
    border-radius: 15px 15px 0 0;
    transform: translateY(-99.5%);
  }
  .slide-coffee-info {
    width: 100%;
    max-width: none;
  }
  .slide-coffee-info .tit {
    font-size: 18px;
    margin: 0 0 15px;
  }
  .slide-coffee-info .date {
    font-size: 13px;
    margin: 0;
    padding: 17px 0 0;
    border-top: 1px solid #E2DBD2;
    border-bottom: none;
  }
  .slide-coffee-info .date a {
    font-size: 13px;
    display: block;
  }
  .slide-coffee-info .cont, .slide-coffee-info .link {
    display: none;
  }
  .slide-coffee-link {
    display: none;
  }
  .ind-bot-banner {
    height: 0;
  }
  .footer-video-bg {
    display: none;
  }
  .dot-main-area {
    padding: 0 40px;
  }
  .m-tit.inn h2 {
    font-size: 24px;
    letter-spacing: 5px;
  }
  .about-area2 {
    padding: 150px 0 0;
  }
  .about-area3 {
    padding: 150px 0 0;
  }
  .about-area4 {
    padding: 150px 0;
  }
  .about-area1 .mb-cube-area {
    width: 100%;
  }
  .about-solgan-area {
    display: none;
  }
  .about-banner {
    height: 430px;
  }
  .about-banner .slogan-box {
    display: none;
  }
  .about-banner .mb-slogan-box {
    display: block;
  }
  .about-quality-area {
    padding-right: 0;
  }
  .about-quality-list {
    display: none;
  }
  .about-quality-box .tit-box .tit {
    font-size: 38px;
  }
  .about-quality-box .tit-box .sup {
    font-size: 20px;
  }
  .about-quality-box .info-box {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .about-quality-box:nth-child(even) .info-box {
    margin-right: 30px;
  }
  .mb-about-quality-area {
    display: block;
  }
  .light-quality-info-box {
    padding: 40px 50px;
  }
  .light-quality-info .en {
    display: block;
  }
  .light-quality-info .tit {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E2DBD2;
  }
  .light-quality-info .txt {
    font-size: 15px;
  }
  .about-event-area .m-tit-box {
    margin: 0 0 40px;
  }
  .about-event-list-area {
    display: none;
  }
  .about-event-line {
    left: 0;
    transform: translateX(0px);
  }
  .about-event-box {
    width: 100%;
    margin: 0 0 80px;
  }
  .about-event-box .about-event-year {
    right: 10px;
  }
  .about-event-box:nth-child(2), .about-event-box:nth-child(odd) {
    margin-top: 0;
  }
  .about-event-box:nth-child(even) {
    padding-left: 50px;
    padding-right: 0;
    justify-content: flex-start;
  }
  .about-event-box:nth-child(even) .about-event-year {
    left: 30px;
  }
  .about-event-box:nth-child(even):before {
    right: auto;
    left: 0;
  }
  .about-event-year {
    font-size: 36px;
    line-height: 1;
  }
  .about-event-year:after {
    transform: translate(-50%, -10px);
  }
  .about-event-img {
    height: 0;
    padding-bottom: 120%;
  }
  .about-event-txt {
    padding: 25px 25px 90px;
  }
  .about-mb-event-list-area {
    display: block;
  }
  .about-care-area {
    padding-right: 0;
  }
  .about-care-area .m-tit-box {
    margin-bottom: 100px;
  }
  .about-care-area .swiper-pagination {
    display: none;
  }
  .about-env-area .arr-btn {
    display: none;
  }
  .about-env-swiper-area {
    width: 100%;
  }
  .about-env-img-box {
    width: 100%;
    height: auto;
    margin: 0;
    transform: translateY(0px);
  }
  .about-env-img-box .about-env-img {
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    border-radius: 10px 10px 0 0;
  }
  .about-env-info-box {
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: auto;
  }
  .about-env-info-box:before {
    display: none;
  }
  .about-env-info-box .swiper-pagination {
    bottom: 20px;
    width: 100%;
    left: 0;
  }
  .about-env-info-box .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
  .about-env-info-box .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .about-env-info .tit {
    font-size: 21px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    margin: 0 0 50px;
  }
  .about-env-info .cont {
    font-size: 15px;
    height: 200px;
  }
  .list-page-area .m-tit-box {
    margin: 0 0 50px;
  }
  .shop-area {
    padding: 0 30px;
  }
  .shop-area .m-tit-box {
    padding: 0;
  }
  .shop-class-box.pc {
    display: none;
  }
  .select-mb-box {
    display: block;
  }
  .item-bottom-area {
    padding: 0 40px 150px;
  }
  .item-bottom-area .m-tit-box {
    justify-content: flex-start;
    margin: 0 0 70px;
    padding: 0 20px;
  }
  .shop-item-box {
    width: 100%;
    padding: 0;
    margin: 0 0 90px;
  }
  .shop-item-box:hover {
    background: none;
  }
  .shop-item-box:hover .shop-item-tit {
    opacity: 1;
  }
  .shop-item-box:last-child {
    margin: 0;
  }
  .shop-item-img {
    width: calc(100% - 40px);
    margin: 0 auto 35px;
    border-radius: 15px;
    background: #E4D8CB;
  }
  .shop-item-img .bg-circle-box {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    left: 50%;
  }
  .shop-item-img .bg-circle {
    display: none;
  }
  .shop-item-img .icon-new {
    top: -30px;
    right: -30px;
  }
  .shop-item-tit {
    padding: 0 0 10px;
    border-bottom: 1px solid #C8BEAF;
  }
  .shop-item-tit .tit {
    font-size: 15px;
    margin: 0 0 3px;
  }
  .shop-item-tit .en {
    font-size: 13px;
  }
  .shop-item-cont {
    display: none;
  }
  .shop-banner-area:before, .shop-banner-area:after {
    display: none;
  }
  .shop-banner-cont {
    height: auto;
  }
  .shop-banner-img {
    width: 100%;
    padding: 10% 0 0;
    border-bottom: 7px solid #C89664;
  }
  .shop-banner-img .circle {
    width: 60%;
    padding-bottom: 60%;
  }
  .shop-banner-img .icon-new {
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: 0;
    right: 26%;
  }
  .shop-banner-info {
    color: #292929;
    width: 100%;
    padding: 50px 35px 0;
    background: none;
  }
  .shop-banner-info .tit-box {
    margin: 0 0 5px;
  }
  .shop-banner-info .tit-box .en {
    display: none;
  }
  .shop-banner-info .tit-box .tit {
    font-size: 15px;
  }
  .shop-banner-info .info-box {
    width: 100%;
    text-align: center;
  }
  .shop-banner-info .info-box .pc-en {
    display: none;
  }
  .shop-banner-info .info-box .mb-en-txt {
    font-size: 13px;
    margin: 0 0 70px;
    padding-bottom: 50px;
    border-bottom: 1px solid #C8BEAF;
    display: block;
  }
  .shop-banner-info .info-box .mb-en {
    margin: 0 0 10px;
    display: block;
  }
  .shop-cont-area {
    padding: 0 40px;
  }
  .shop-cont-area + .coffee-hr-box {
    display: none;
  }
  .shop-page-info-area {
    padding: 15px;
    border-radius: 15px;
    background: #F5F5EF;
  }
  .shop-page-info-area .coffee-hr-box {
    background: #F5F5EF;
    padding-bottom: 100px;
  }
  .shop-page-info-tit {
    width: 100%;
    margin: 0 0 50px;
    padding: 20px;
  }
  .shop-page-info-tit .tit {
    font-size: 21px;
    margin: 0 0 10px;
  }
  .shop-page-info-tit .tit br {
    display: block;
  }
  .shop-page-info-tit .en {
    font-size: 13px;
  }
  .shop-page-info-cont {
    width: 100%;
  }
  .shop-page-info-cont p.shop-def {
    padding: 0 20px;
  }
  .edit-area p.shop-def {
    font-size: 15px;
  }
  .page-btn-box {
    font-size: 13px;
    margin-top: 50px;
  }
  .page-btn-box i {
    font-size: 22px;
  }
  .page-btn-box .back i {
    display: inline-block;
  }
  .page-btn-box .prev, .page-btn-box .next {
    display: none;
  }
  .page-btn-box:after {
    content: "";
    display: block;
    width: calc(50% - 65px);
    height: 1px;
    background: #5F1E00;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
  }
  .item-page-cube-area .page-btn {
    display: block;
  }
  .item-page-cube-group {
    display: none;
  }
  .item-page-cube-mb-group {
    display: block;
  }
  .lifestyle-area .m-tit-box {
    padding: 0;
  }
  .lifestyle-area .shop-class-box {
    width: 100%;
    margin: 20px 0 0;
  }
  .lifestyle-list:before {
    width: calc(55% + 40px);
    right: -40px;
  }
  .lifestyle-box {
    margin: 0 0 100px;
  }
  .lifestyle-box:hover .lifestyle-info .info-bot:after {
    width: calc(100% - 100px);
  }
  .lifestyle-info {
    width: 100%;
    padding: 40px 25px 30px;
  }
  .lifestyle-info .info-top .info-box {
    margin: 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .lifestyle-info .info-top .info-box .zh {
    font-size: 15px;
  }
  .lifestyle-info .info-top .info-box .en {
    font-size: 13px;
  }
  .lifestyle-info .info-top .date-box {
    font-size: 13px;
    line-height: 2;
    margin: 0 0 30px;
  }
  .lifestyle-info .info-top .tit {
    margin: 0 0 80px;
  }
  .lifestyle-info .info-bot {
    font-size: 13px;
    padding-bottom: 0;
    border-bottom: none;
    position: relative;
  }
  .lifestyle-info .info-bot:after {
    content: "";
    display: block;
    width: calc(100% - 90px);
    height: 1px;
    background: #E2DBD2;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transition: 0.2s;
  }
  .lifestyle-img {
    width: 100%;
    padding-bottom: 100%;
  }
  .pagination-box a, .pagination-box span {
    margin-right: 20px;
  }
  .lifestyle-cont-area {
    align-items: stretch;
    padding-bottom: 0;
  }
  .lifestyle-cont-side.nofix {
    align-content: flex-end;
  }
  .lifestyle-cont-side.nofix .tit-mb-box {
    position: relative;
    top: 0;
  }
  .lifestyle-cont-side {
    width: 80px;
    height: auto;
    padding: 180px 0 100px;
    position: relative;
    top: 0;
    background: none;
    z-index: 3;
  }
  .lifestyle-cont-side:before {
    display: none;
  }
  .lifestyle-cont-side .tit-box {
    display: none;
  }
  .lifestyle-cont-side .tit-mb-box.on {
    color: #292929;
  }
  .lifestyle-cont-side .tit-mb-box.on .en img {
    opacity: 0;
  }
  .lifestyle-cont-side .tit-mb-box.on .en img.on {
    opacity: 1;
  }
  .lifestyle-cont-side .tit-mb-box.ontrans {
    transition: 0s;
  }
  .lifestyle-cont-side .tit-mb-box {
    color: #E2DBD2;
    position: sticky;
    top: 245px;
    transition: 0.4s;
    margin: 0 0 30px;
    display: block;
  }
  .lifestyle-cont-side .tit-mb-box .zh {
    font-size: 13px;
    margin: 0 auto 40px;
    letter-spacing: 3px;
    writing-mode: vertical-lr;
  }
  .lifestyle-cont-side .tit-mb-box .en {
    font-family: "Marck Script", cursive;
    writing-mode: vertical-lr;
    position: relative;
  }
  .lifestyle-cont-side .tit-mb-box .en img {
    opacity: 1;
    transition: 0.4s;
  }
  .lifestyle-cont-side .tit-mb-box .en img.on {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .lifestyle-cont-side .side-bot-box .tit-en {
    display: none;
  }
  .lifestyle-social-cont .tit {
    font-size: 13px;
    color: #5F1E00;
    writing-mode: vertical-lr;
    width: auto;
    margin: 0 auto 30px;
  }
  .lifestyle-social-box a {
    width: 30px;
    height: 30px;
    margin: 0 20px 25px;
  }
  .lifestyle-social-box a:last-child {
    margin-bottom: 0;
  }
  .lifestyle-social-box .social-fb {
    background: url(../img/icon_mbfb.svg) no-repeat center center/contain;
  }
  .lifestyle-social-box .social-ig {
    background: url(../img/icon_mbig.svg) no-repeat center center/contain;
  }
  .lifestyle-social-box .social-google {
    background: url(../img/icon_mbgoogle.svg) no-repeat center center/contain;
  }
  .lifestyle-social-box .social-line {
    background: url(../img/icon_mbline.svg) no-repeat center center/contain;
  }
  .lifestyle-banner-mb-img-box {
    height: 600px;
    position: relative;
    display: block;
  }
  .lifestyle-banner-mb-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .lifestyle-banner-mb-img-box:before {
    content: "";
    display: block;
    width: 90px;
    height: 100%;
    background: #7D0F14;
    transform: translateX(-85px);
  }
  .lifestyle-banner-mb-img-box .cover {
    width: calc(100% + 80px);
    height: 100%;
    background: #EDE9DF;
    transition-timing-function: ease-in;
    position: absolute;
    top: 0;
    left: 101%;
    z-index: 2;
    transition: 0.4s;
  }
  .lifestyle-banner-mb-img-box .cover.on {
    left: -80px;
  }
  .lifestyle-cont-info {
    width: calc(100% - 80px);
    padding: 0;
  }
  .lifestyle-banner-img-box {
    display: none;
  }
  .lifestyle-cont-info-txt {
    padding: 30px 50px 30px 10px;
  }
  .lifestyle-cont-info-txt .date {
    font-size: 13px;
    margin: 0 0 30px;
    text-align: left;
  }
  .lifestyle-cont-info-txt .tit-box {
    font-size: 21px;
    text-align: left;
  }
  .lifestyle-cont-info-txt .page-btn-box {
    padding: 0 20px;
    justify-content: flex-start;
  }
  .lifestyle-cont-info-txt .page-btn-box:after {
    width: calc(100% - 120px);
  }
  .news-area {
    padding: 0 40px;
  }
  .news-list {
    padding: 0 0 150px;
  }
  .news-list .pagination-area {
    margin: 50px auto 0;
  }
  .news-box {
    margin: 0 0 60px;
  }
  .news-box:nth-child(even) {
    flex-flow: wrap;
  }
  .news-box:nth-child(even) .news-list-info-cont {
    justify-content: flex-start;
  }
  .news-box:nth-child(even) .news-list-info {
    padding: 0;
  }
  .news-box:nth-child(even) .news-list-more {
    flex-flow: row;
  }
  .news-box:hover .news-list-more {
    border-color: #E2DBD2;
  }
  .news-list-img {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }
  .news-list-info-cont {
    width: 100%;
    padding: 15px 25px 25px;
  }
  .news-list-info {
    padding: 0;
    margin: 0 0 30px;
  }
  .news-list-info .tit {
    margin: 0 0 55px;
  }
  .news-list-info .info .date {
    display: none;
  }
  .news-list-info .info .txt {
    width: 100%;
    padding: 0;
    border-left: none;
  }
  .news-list-more {
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #7D0F14;
    justify-content: space-between;
  }
  .news-list-more .mb-date, .news-list-more i {
    display: block;
  }
  .news-list-more .arr-box span {
    font-size: 13px;
  }
  .news-list-more .icon-pc-arr {
    display: none;
  }
  .video-light-area {
    width: 90%;
  }
  .column-area {
    padding: 80px 0 100px;
  }
  .contact-form-box.hasval label {
    opacity: 0;
  }
  .contact-form-box {
    position: relative;
  }
  .contact-form-box label {
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    transform: translateY(-50%);
    opacity: 1;
  }
  .label-top label {
    position: absolute;
    top: 12px;
    left: 10px;
    z-index: 2;
    transform: translateY(0);
  }
  .input-box {
    width: 100%;
  }
  .submit-input-area {
    width: 100%;
  }
  .input-box.w150 {
    width: 150px;
  }
  .contact-copyright {
    display: none;
  }
  .contact-info-area {
    font-size: 13px;
    margin: 0 0 70px;
  }
  .contact-form-cont {
    margin: 0;
  }
  .contact-form-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contact-form-area p.note, .contact-form-area .contact-form-cont, .contact-form-area .contact-info-area {
    width: 100%;
  }
  .contact-form-area .contact-info-area {
    order: 0;
  }
  .contact-form-area p.note {
    font-size: 13px;
    order: 1;
  }
  .contact-form-area .contact-form-cont {
    order: 2;
  }
  .footer-area {
    padding: 60px 40px 30px;
  }
  footer {
    margin: 0;
  }
  .footer-link-area {
    margin: 0 0 30px;
  }
  .footer-link-box {
    width: calc(100% - 75px);
    align-content: flex-start;
    align-items: unset;
    margin: 0;
  }
  .footer-social-area {
    width: 55px;
  }
  .footer-social-box {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-social-box a {
    margin: 0 10px 0 0;
    width: 25px;
    display: block;
  }
  .footer-social-box a img {
    width: 100%;
  }
  .footer-social-box a:last-child {
    width: 35px;
    margin: 0;
  }
  .footer-social-box a.privacy {
    margin: 0 10px 0 0;
  }
  .footer-link {
    width: 100%;
    min-width: auto;
    margin: 0;
  }
  .footer-link:after {
    display: none;
  }
  .footer-link a {
    font-size: 13px;
  }
  .footer-link .tit {
    font-size: 15px;
    margin: 0 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .footer-link .tit span {
    font-size: 15px;
    cursor: pointer;
  }
  .footer-link .tit span:hover {
    color: #C89664;
    text-decoration: underline;
  }
  .footer-link .tit a {
    font-size: 15px;
  }
  .footer-link .tit .icon {
    display: block;
  }
  .footer-link .link {
    margin: 0 0 20px;
    display: none;
  }
  .footer-link .link span {
    font-size: 13px;
  }
  .mb-footer-info {
    display: block;
  }
  .copyright {
    font-size: 10px;
    padding: 30px 0 0;
  }
  .gotop {
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 480px) {
  .ind-dot-side .main-area {
    padding: 0 20px;
  }
  .side-act-area {
    width: 40px;
  }
  .act-dot-box .dot {
    height: 30px;
  }
  .cube-info-txt .tit-box .tit {
    font-size: 32px;
  }
  .cube-info-txt .cont-box .en {
    font-size: 28px;
  }
  .tit-more {
    width: 100%;
    margin-top: 15px;
  }
  .item-cube-end-box {
    margin: 0 -20px;
  }
  .item-cube-img {
    margin: 0 0 44px;
  }
  .item-cube-img .item-info .en {
    margin: 0 0 10px;
  }
  .item-cube-img .item-info .tit-box {
    margin: 0 0 20px;
  }
  .item-cube-name .name {
    font-size: 18px;
  }
  .slide-coffee-img.prve {
    right: -31%;
  }
  .slide-coffee-img.next {
    left: -31%;
  }
  .about-area1 {
    padding: 50px 0 100px;
  }
  .about-area2 {
    padding: 80px 0 30px;
  }
  .about-banner .slogan-box {
    padding: 0 50px;
  }
  .about-quality-box {
    margin: 0 0 100px;
  }
  .about-quality-box .tit-box .tit {
    font-size: 32px;
  }
  .about-quality-box .tit-box .sup {
    font-size: 18px;
  }
  .about-quality-box .info-box {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .about-quality-box .tit-box {
    margin: 0 0 30px;
  }
  .about-quality-box .img-area {
    width: 100%;
  }
  .about-quality-box .img-area .str-more {
    margin-left: 10px;
  }
  .about-quality-box .img-area:after {
    transform: translate(40px, 15%);
  }
  .about-quality-box .img-box {
    width: calc(100% - 50px);
    padding-bottom: 65%;
  }
  .about-quality-box:nth-child(even) .info-box {
    margin-right: 20px;
  }
  .about-quality-box:nth-child(even) .img-area:after {
    transform: translate(-50px, 15%);
  }
  .mb-about-quality-info-box:before {
    height: 150%;
  }
  .mb-about-quality-img-box.next {
    left: -31%;
  }
  .mb-about-quality-img-box.prve {
    right: -31%;
  }
  .list-page-area {
    padding-top: 50px;
  }
  .shop-area {
    padding: 0 20px;
  }
  .shop-banner-info {
    padding: 50px 25px 0;
  }
  .shop-cont-area {
    padding: 0 20px;
  }
  .item-bottom-area {
    padding: 0 10px 150px;
  }
  .item-page-cube-mb-img-box {
    width: calc(100% - 30px);
  }
  .lifestyle-list {
    margin: 0 0 100px;
  }
  .lifestyle-list:before {
    width: 150px;
  }
  .lifestyle-box {
    margin: 0 0 80px;
  }
  .lifestyle-info {
    padding: 30px;
  }
  .pagination-box a, .pagination-box span {
    margin-right: 15px;
  }
  .lifestyle-cont-side {
    padding: 70px 0 100px;
  }
  .lifestyle-cont-side .tit-mb-box {
    top: 135px;
  }
  .lifestyle-banner-mb-img-box {
    height: 385px;
  }
  .news-list {
    padding: 0 0 100px;
  }
  .news-list .pagination-area {
    margin: 100px auto 0;
  }
  .news-list-info-cont {
    padding: 30px;
  }
  .news-list-info {
    padding: 0;
  }
  .news-box:nth-child(even) .news-list-info {
    padding: 0;
  }
  .column-info-box {
    padding-top: 50px;
  }
  .contact-copyright {
    width: 100%;
    margin: 30px 0 0;
  }
  .stbmit-btn-box {
    width: 100%;
    margin: 10px 0 0;
  }
  .stbmit-btn {
    display: inline-block;
  }
  .f-logo img {
    width: 189px;
  }
  .f-logo {
    margin: 0 0 53px;
  }
  .copyright {
    line-height: 1.8;
    padding: 25px 0 0;
  }
  .copyright br {
    display: block;
  }
  .social-side-area {
    right: 15px;
  }
  .social-side-area.on {
    bottom: 15px;
  }
}
@media screen and (max-width: 414px) {
  .m-tit-box.ind {
    padding: 0 30px;
  }
  .mb-cube-area {
    padding: 0 20px;
  }
  .item-cube-img .icon-new {
    font-size: 13px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    top: 14px;
    right: 14px;
  }
  .slide-coffee-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .slide-coffee-info-cont {
    width: 90%;
  }
  .slide-coffee-info-cont:before {
    height: 259px;
  }
  .swiper-coffee .swiper-slide-active .slide-coffee-img {
    width: 69%;
    padding-bottom: 89.6%;
  }
  .swiper-coffee .swiper-slide-prev .slide-coffee-img {
    right: -41.5%;
  }
  .swiper-coffee .swiper-slide-next .slide-coffee-img {
    right: 41.5%;
  }
  .slide-coffee-img {
    width: 56%;
    padding-bottom: 83.5%;
  }
  .slide-coffee-info .tit {
    margin: 0 0 7px;
  }
  .footer-area {
    padding: 49px 46px;
  }
  .gotop .txt {
    font-size: 13px;
  }
  .footer-link-area {
    padding: 0 10px 0 7px;
    margin: 0 0 55px;
  }
  .mb-footer-social-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .mb-footer-social-box a {
    width: 20px;
    display: block;
    margin: 0 auto 21px;
  }
  .mb-footer-social-box a img {
    width: 100%;
  }
  .mb-footer-social-box a:nth-child(3) {
    width: 26px;
    margin: 0 auto;
  }
  .mb-footer-social-box .social {
    width: 30px;
    margin: 0 0 32px;
  }
  .mb-footer-social-box a.privacy {
    color: #E2DBD2;
    font-size: 13px;
    letter-spacing: 2px;
    width: 75px;
    margin: 0;
  }
  .footer-social-box {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .m-slide-group:before {
    width: calc(100% - 60px);
    height: 350px;
    left: 30px;
  }
  .m-slide-coffee-txt-area {
    width: 190px;
    padding: 30px 0 30px;
  }
  .m-slide-coffee-txt-area h3 {
    font-size: 16px;
  }
  .m-info .date {
    font-size: 12px;
  }
  .m-info a {
    font-size: 12px;
  }
}
