include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body.about-dot-side
		include includes/page_nav
		//- 不妥協品質lightbox
		.light-quality-area#lgQuality
			.light-close
			.light-quality-img-box#lgQualityImg
				img(src="img/about03.jpg", alt="")
				img(src="img/about04.jpg", alt="")
				img(src="img/about05.jpg", alt="")
			.light-quality-info-box#lgQualityInfoBox
				.light-quality-info#lgQualityInfo
					.en#lgQualityEn Our Spirits
					.tit#lgQualityTit 咖啡豆新鮮烘焙
					.txt#lgQualityTxt 伯朗的咖啡豆供應源自全球各咖啡產地，經過適宜處理並篩檢出優質的咖啡生豆，經台灣在地新鮮烘焙，並依不同咖啡豆特性、精準掌握最適當烘焙度，使咖啡的迷人風味得以完美展現。
		.main-area.dot-main-area.about-slogan
			.about-area1#cont1
				section.main-cont
					//- 桌機
					.about-solgan-area
						.cube-info-box
							.cube-info-txt
								.m-tit-box
									.m-tit.w
										h2#indTit1 品牌精神
										.sup
											span Brand Concept
								.cont-box
									.en
										img(src="img/banner_en.svg", alt="")
									//- Coffee Art
									.txt 生活，從遇見Mr.Brown Coffee開始<br>香醇的咖啡<br>分享著不同的生活與故事<br>伯朗咖啡館，與您一同迎接生活的美好片刻
						.img-box
							img(src="img/about01.jpg", alt="")
					//- 手機
					.mb-cube-area
						.top-box
							//- .title-box
							//- 	.en
							//- 		img(src="img/indmbentop1.svg", alt="")
							//- 	.tit 堅持好品質
								//- .img-box.img-load-scale.off
							.img-box
								//- .img-mask#imgMask3
								img(src="img/about01.jpg", alt="")
						.bot-box
							.info-box
								.en
									img(src="img/about_brown.svg", alt="")
								.txt 生活，從遇見Mr.Brown Coffee開始<br>每杯香醇的咖啡<br>分享著不同的生活與故事<br>伯朗咖啡館<br>與您一同迎接生活的美好片刻
		.about-banner
			img(src="img/about02.jpg", alt="")
			.slogan-box
				.tit(data-aos="fade-up") 堅持好品質 安全不妥協
				.cont 
					span(data-aos="fade-up") 伯朗咖啡每項產品的誕生<br>
					span(data-aos="fade-up") 都歷經從產地起繁複的品質與專業要求<br>
					span(data-aos="fade-up") 每個階段的把關與用心<br>
					span(data-aos="fade-up") 都為讓品嚐咖啡香醇的時光變得更加美好
			.mb-slogan-box
				.tit
					div(data-aos="fade-up") 堅持好品質
					div(data-aos="fade-up") 安全不妥協
				.circle-hr-box
					img.circle(src="img/circle_b.svg" alt="")
					img.dot(src="img/circle_dot_b.svg" alt="")
		.main-area.dot-main-area.about-main-area
			section.main-cont.about-area2#cont2
				.about-quality-area
					.m-tit-box(style="display:none;")
						.m-tit
							h2#indTit2 不妥協的品質
							.sup
								span Premium quality
					.about-quality-list
						.about-quality-box
							.info-box
								.tit-box
									.tit 咖啡豆<br>新鮮烘焙
									.sup Our Spirits
								.cont 伯朗咖啡豆供應源自全球各咖啡產地，經過適宜處理並篩檢出優質的咖啡生豆。
							.img-area
								.img-box.light-info#quality1
									img(src="img/about03.jpg", alt="")
								//- a(href="###").str-more
								//- 	span 暸解更多
								//- 	.arr <i class="fal fa-angle-down"></i>
						.about-quality-box
							.info-box
								.tit-box
									.tit 一貫化<br>生產作業
									.sup Line Production
								.cont 擁有優異先進的量產設備，自咖啡豆焙炒、萃取成咖啡液或製為咖啡粉到包裝，全程皆為一貫化生產。
							.img-area
								.img-box.light-info#quality2
									img(src="img/about04.jpg", alt="")
						.about-quality-box
							.info-box
								.tit-box
									.tit 嚴格<br>品質檢驗
									.sup Quality Guarantee
								.cont 伯朗各式的咖啡產品，在原料、包材與產品都備受嚴格把關、全系列產品皆通過多項高標準檢驗，金車企業自有的中央研究所，其檢驗操作與檢測數據都經驗證達國際規範，以專業檢驗技術控管食品安全。
							.img-area
								.img-box.light-info#quality3
									img(src="img/about05.jpg", alt="")
								//- .str-more
					//- 手機
					.mb-about-quality-area
						.swiper.swiper-quality#swiperQuality
							.swiper-wrapper
								.swiper-slide
									-const mbAboutQuality01={'id':'qualityMb1','img':'about03.jpg','en':'Our Spirits','tit':'咖啡豆新鮮烘培'};
									+mbAboutQualityBox(mbAboutQuality01)
								.swiper-slide
									-const mbAboutQuality02={'id':'qualityMb2','img':'about04.jpg','en':'Line Production','tit':'一貫化生產作業'};
									+mbAboutQualityBox(mbAboutQuality02)
								.swiper-slide
									-const mbAboutQuality03={'id':'qualityMb3','img':'about05.jpg','en':'Quality Guarantee','tit':'嚴格品質檢驗'};
									+mbAboutQualityBox(mbAboutQuality03)
						.mb-swiper-btn-box
							.left#qualityMbPrev
							.page#qualityMbPage
							.right#qualityMbNext
			+coffeeHr
			section.main-cont.about-area3#cont3
				.about-event-area
					.m-tit-box
						.m-tit
							h2#indTit3 伯朗大事紀
							.sup
								span Chronology of events
					.about-event-list-area
						.about-event-line
						.about-event-list
							-const aboutEventBox01={'yclass':'ey07','tit':'2021 - 至今','infoList':['推出「伯朗PURE醇飲冷萃瓶裝咖啡系列」無糖黑咖啡、無加糖拿鐵咖啡','推出「伯朗雨林聯盟認證豆咖啡系列」陽光馥郁風味、焙郁醇香風味'],'imgMb':'mb_event01.jpg','img':'about_line07.jpg'};
							-const aboutEventBox02={'yclass':'ey06','tit':'2019 - 2020','infoList':['推出「伯朗精品咖啡系列」巴西、衣索比亞弗洛勒斯、瓜地馬拉湖濱莊園','推出「伯朗絲絨奶茶」','推出「伯朗絲絨奶茶」榮獲2020法國AVPA國際美食評鑑大賞認可'],'imgMb':'mb_event01.jpg','img':'about_line06.jpg'};
							-const aboutEventBox03={'yclass':'ey05','tit':'2017 - 2018','infoList':['結合獨特香氣萃集技術，推出「莊園級冷萃黑咖啡」','推出「冷凍乾燥即溶咖啡」'],'imgMb':'mb_event01.jpg','img':'about_line05.jpg'};
							-const aboutEventBox04={'yclass':'ey04','tit':'2011 - 2016','infoList':['2012年伯朗咖啡滿30歲囉','在台首創推出認證豆即飲咖啡，雨林聯盟與UTZ認證咖啡，愛地球上市','陸續推出伯朗認證豆咖啡系列，開始以具體行動展現品牌責任','添購濾掛咖啡生產包裝線','伯朗罐裝咖啡全系列換新裝','增購咖啡萃取液噴霧乾燥產線，使用於全系列三合一咖啡'],'imgMb':'mb_event01.jpg','img':'mb_event01.jpg'};
							-const aboutEventBox05={'yclass':'ey03','tit':'2006 - 2010','infoList':['咖啡產品的出口國別已橫跨中東與非洲，外銷超過30國','咖啡豆業務順利推廣至許多知名連鎖企業與通路','增購冷藏咖啡充填產線','推出伯朗Cafe Lounge冷藏咖啡系列','伯朗三合一全系列換新裝'],'imgMb':'mb_event01.jpg','img':'about_line03.jpg'};
							-const aboutEventBox06={'yclass':'ey02','tit':'1986 - 2005','infoList':['陸續推出伯朗藍山咖啡、曼特寧咖啡等經典口味','伯朗咖啡外銷前進美洲囉','1998年拓展「伯朗咖啡館」現煮咖啡專賣通路','自國外引進寶特瓶無菌充填產線','以寶特瓶的包裝形式，推出阿拉比卡330ml咖啡系列','伯朗的外銷國別拓展到歐洲、大洋洲'],'imgMb':'mb_event01.jpg','img':'about_line02.jpg'};
							-const aboutEventBox07={'yclass':'ey01','tit':'1979 - 1985','infoList':['金車中壢廠於1979年成立，籌備設置咖啡生產線','1982年第一罐伯朗咖啡誕生','強力的廣告宣傳配合金車的高鋪貨率，一上市的市佔率即高達60%','開始將罐裝咖啡外銷到亞洲'],'imgMb':'mb_event01.jpg','img':'about_line01.jpg'};
							+aboutEventBox(aboutEventBox07)
							+aboutEventBox(aboutEventBox06)
							+aboutEventBox(aboutEventBox05)
							+aboutEventBox(aboutEventBox04)
							+aboutEventBox(aboutEventBox03)
							+aboutEventBox(aboutEventBox02)
							+aboutEventBox(aboutEventBox01)
					//- 手機
					.about-mb-event-list-area
						-const aboutMbEvent01={'tit':'2021 - 至今','infoList':['推出「伯朗PURE醇飲冷萃瓶裝咖啡系列」無糖黑咖啡、無加糖拿鐵咖啡','推出「伯朗雨林聯盟認證豆咖啡系列」陽光馥郁風味、焙郁醇香風味'],'imgMb':'mb_event01.jpg'};
						+aboutMbEventBox(aboutMbEvent01)
						-const aboutMbEvent02={'tit':'2019 - 2020','infoList':['推出「伯朗精品咖啡系列」巴西、衣索比亞弗洛勒斯、瓜地馬拉湖濱莊園','推出「伯朗絲絨奶茶」','推出「伯朗絲絨奶茶」榮獲2020法國AVPA國際美食評鑑大賞認可'],'imgMb':'mb_event01.jpg'};
						+aboutMbEventBox(aboutMbEvent02)
						-const aboutMbEvent03={'tit':'2017 - 2018','infoList':['結合獨特香氣萃集技術，推出「莊園級冷萃黑咖啡」','推出「冷凍乾燥即溶咖啡」'],'imgMb':'mb_event01.jpg'};
						+aboutMbEventBox(aboutMbEvent03)
						-const aboutMbEvent04={'tit':'2011 - 2016','infoList':['2012年伯朗咖啡滿30歲囉','在台首創推出認證豆即飲咖啡，雨林聯盟與UTZ認證咖啡，愛地球上市','陸續推出伯朗認證豆咖啡系列，開始以具體行動展現品牌責任','添購濾掛咖啡生產包裝線','伯朗罐裝咖啡全系列換新裝','增購咖啡萃取液噴霧乾燥產線，使用於全系列三合一咖啡'],'imgMb':'mb_event01.jpg'};
						+aboutMbEventBox(aboutMbEvent04)
						-const aboutMbEvent05={'tit':'2006 - 2010','infoList':['咖啡產品的出口國別已橫跨中東與非洲，外銷超過30國','咖啡豆業務順利推廣至許多知名連鎖企業與通路','增購冷藏咖啡充填產線','推出伯朗Cafe Lounge冷藏咖啡系列','伯朗三合一全系列換新裝'],'imgMb':'mb_event01.jpg'};
						+aboutMbEventBox(aboutMbEvent05)
						-const aboutMbEvent06={'tit':'1986 - 2005','infoList':['陸續推出伯朗藍山咖啡、曼特寧咖啡等經典口味','伯朗咖啡外銷前進美洲囉','1998年拓展「伯朗咖啡館」現煮咖啡專賣通路','自國外引進寶特瓶無菌充填產線','以寶特瓶的包裝形式，推出阿拉比卡330ml咖啡系列','伯朗的外銷國別拓展到歐洲、大洋洲'],'imgMb':'mb_event01.jpg'};
						+aboutMbEventBox(aboutMbEvent06)
						-const aboutMbEvent07={'tit':'1979 - 1985','infoList':['金車中壢廠於1979年成立，籌備設置咖啡生產線','1982年第一罐伯朗咖啡誕生','強力的廣告宣傳配合金車的高鋪貨率，一上市的市佔率即高達60%','開始將罐裝咖啡外銷到亞洲'],'imgMb':'mb_event01.jpg'};
						+aboutMbEventBox(aboutMbEvent07)
			+coffeeHr
			section.main-cont.about-area4#cont4
				.about-care-area
					.m-tit-box
						.m-tit
							h2#indTit4 永續環境
							.sup
								span Environment Care
					.about-env-area
						.arr-btn.arr-prev-btn.evn-prev
						//- <i class="fal fa-angle-left"></i>
						.about-env-swiper-area
							.about-env-img-box
								.swiper.about-env-swiper#aboutEnvSwiper
									.swiper-wrapper
										.swiper-slide
											.about-env-img
												img(src="img/img_env01.jpg", alt="")
										.swiper-slide
											.about-env-img
												img(src="img/about03.jpg", alt="")
							.about-env-info-box
								.swiper.about-env-info-swiper#aboutEnvInfoSwiper
									.swiper-wrapper
										.swiper-slide
											.about-env-info
												.tit 伯朗重視的<br>品牌責任
												.cont.scroll-cont 我們盡力投入環境永續<br>並以此為伯朗重視的品牌責任<br><br>我們希望能與所有支持與購買伯朗咖啡產品的廣大消費者，攜手創造對環境貢獻心力的價值、同時為推廣生態保護所努力。<br><br>我們想為好咖啡做更多，所以設法減少咖啡需求對環境所造成的影響，這不僅是伯朗重視的品牌責任，更是金車企業對社會與環境的責任。
										.swiper-slide
											.about-env-info
												.tit 伯朗重視的<br>品牌責任2
												.cont.scroll-cont 222我們盡力投入環境永續<br>並以此為伯朗重視的品牌責任<br><br>我們希望能與所有支持與購買伯朗咖啡產品的廣大消費者，攜手創造對環境貢獻心力的價值、同時為推廣生態保護所努力。<br><br>我們想為好咖啡做更多，所以設法減少咖啡需求對環境所造成的影響，這不僅是伯朗重視的品牌責任，更是金車企業對社會與環境的責任。
								//- .swiper-pagination#aboutEnvInfoPage
						.arr-btn.arr-next-btn.evn-next
						//- <i class="fal fa-angle-right"></i>
					.swiper-pagination#aboutEnvInfoPage
					.mb-swiper-btn-box
						.left.evn-prev#aboutEnvMbPrev
						.page#aboutEnvMbPage
						.right.evn-next#aboutEnvMbNext
					//- .about-care-group
					//- 	.about-care-info
					//- 		.tit-box
					//- 			.tit 伯朗重視的<br>品牌責任
					//- 			.txt 我們盡力投入環境永續<br>並以此為伯朗重視的品牌責任
					//- 		.en-txt Brand CSR
					//- 	.about-care-cont
					//- 		.img-box
					//- 			img(src="img/about_care01.jpg", alt="")
					//- 		.txt-cont
					//- 			.txt 我們希望能與所有支持與購買伯朗咖啡產品的廣大消費者，攜手創造對環境貢獻心力的價值、同時為推廣生態保護所努力。<br>我們想為好咖啡做更多，所以設法減少咖啡需求對環境所造成的影響，這不僅是伯朗重視的品牌責任，更是金車企業對社會與環境的責任。
					//- 		.img-box
					//- 			img(src="img/about_care01.jpg", alt="")
					//- 		.txt-cont
					//- 			.txt 我們希望能與所有支持與購買伯朗咖啡產品的廣大消費者，攜手創造對環境貢獻心力的價值、同時為推廣生態保護所努力。<br>我們想為好咖啡做更多，所以設法減少咖啡需求對環境所造成的影響，這不僅是伯朗重視的品牌責任，更是金車企業對社會與環境的責任。
		.side-act-area#sideActArea
			.tit#sideActTit 品牌精神
			.act-dot-box#actDotBox
				.dot#sideDot1.act
				.dot#sideDot2
				.dot#sideDot3
				.dot#sideDot4
		//-內容
		include includes/footer

script.
	var lightQualityData=[{'tit':'咖啡豆新鮮烘培','en':'Our Spirits','txt':'伯朗的咖啡豆供應源自全球各咖啡產地，經過適宜處理並篩檢出優質的咖啡生豆，經台灣在地新鮮烘焙，並依不同咖啡豆特性、精準掌握最適當烘焙度，使咖啡的迷人風味得以完美展現。'},{'tit':'一貫化生產作業','en':'Line Production','txt':'伯朗的咖啡豆供應源自全球各咖啡產地，經過適宜處理並篩檢出優質的咖啡生豆，經台灣在地新鮮烘焙，並依不同咖啡豆特性、精準掌握最適當烘焙度，使咖啡的迷人風味得以完美展現。'},{'tit':'嚴格品質檢驗','en':'Quality Guarantee','txt':'伯朗的咖啡豆供應源自全球各咖啡產地，經過適宜處理並篩檢出優質的咖啡生豆，經台灣在地新鮮烘焙，並依不同咖啡豆特性、精準掌握最適當烘焙度，使咖啡的迷人風味得以完美展現。'}]
	$(document).ready(function(){
		AOS.init({
			easing: 'ease-in-out',
			duration: 1000,
			once: true,
			anchorPlacement: 'center-center',
		});
		$("#sideActArea").addClass('on');
		//=== 側邊區域點擊滑動和footer狀態 ===
		var clickScrollList=[
			{'btn':'#sideDot1','cont':'#cont1','navBtn':'#navAbout1','footerBtn':'#fabout1','href':'#a1'},
			{'btn':'#sideDot2','cont':'#cont2','navBtn':'#navAbout2','footerBtn':'#fabout2','href':'#a2'},
			{'btn':'#sideDot3','cont':'#cont3','navBtn':'#navAbout3','footerBtn':'#fabout3','href':'#a3'},
			{'btn':'#sideDot4','cont':'#cont4','navBtn':'#navAbout4','footerBtn':'#fabout4','href':'#a4'}
		];
		$.each(clickScrollList,function(ind,val){
			//= nav 點擊狀態 =
			var $navBtn=$(val.navBtn);
			$navBtn.attr('href',val.href);
			$navBtn.on('click',function(){
				scrollToArea($cont);
			});
			//= 側邊點擊狀態 =
			var $btn=$(val.btn);
			var $cont=$(val.cont);
			$btn.on('click',function(){
				scrollToArea($cont);
				//- $('html,body').stop().animate({
				//- 	scrollTop: ($cont.offset().top)
				//- }, 'slow');
			});
			//= footer 點擊狀態 =
			var $fBtn=$(val.footerBtn);
			$fBtn.attr('href',val.href);
			$fBtn.on('click',function(){
				scrollToArea($cont);
			});
		});

		//=== 不妥協品質 ===
		//== 燈箱 - pc ==
		$('.light-info').on('click',function(){
			var qId = $(this).attr('id');
			var qIdNum = qId.replace('quality','');
			//= 動畫 = 把this自己帶進去
			lightAni($(this),qId,qIdNum,50);
		});
		//== 燈箱 - mb ==
		$('.mb-about-quality-img').on('click',function(){
			var qId = $(this).attr('id');
			var qIdNum = qId.replace('qualityMb','');
			//= 動畫 =
			lightAni($(this),qId,qIdNum,40);
		});
		//= 關燈箱 =
		$('.light-close').on('click',function(){
			gsap.to('#lgQuality', {
				ease: "power1.out",
				opacity: 0,
				duration: 0.3,
				onComplete() {
					$('#lgQuality').removeAttr('style');
					$('#lgQualityImg').removeAttr('style');
					$('#lgQualityInfoBox').removeAttr('style');
					$('#lgQualityInfo').removeAttr('style');
					bgUnFix();
				}
			});
		});
		//== sw ==
		var $imgBox=$('.mb-about-quality-img-box');
		$imgBox.eq(1).addClass('next');
		var swiperQuality = new Swiper('#swiperQuality', {
			spaceBetween: 30,
			//- breakpoints: {
			//- 	1200: {
			//- 		spaceBetween: 30
			//- 	}
			//- },
			on: {
				slideChange() {
					var actIndex = this.activeIndex;
					//- console.log(actIndex);
					$imgBox.removeClass('prve');
					$imgBox.removeClass('next');
					if(actIndex==0){
						$imgBox.eq(1).addClass('next');
					}else if(actIndex==1){
						$imgBox.eq(0).addClass('prve');
						$imgBox.eq(2).addClass('next');
					}else if(actIndex==2){
						$imgBox.eq(1).addClass('prve');
					}
				}
			},
			pagination: {
				el: "#qualityMbPage",
				type: "fraction",
			},
			navigation: {
				nextEl: "#qualityMbNext",
				prevEl: "#qualityMbPrev",
			},
		});

		//=== 大事記點選 ===
		$('.about-event-box').on('click',function(){
			var hasOn=$(this).hasClass('on');
			hasOn ? $(this).removeClass('on') : $(this).addClass('on');
		});
		//=== 大事紀手機點選 ===
		$('.about-mb-event-box').on('click',function(){
			$('.about-mb-event-box').removeClass('on');
			$(this).addClass('on');
		});

		//=== 永續環境sw ===
		$(".scroll-cont").mCustomScrollbar();
		var aboutEnvSwiper = new Swiper('#aboutEnvSwiper', {
			effect: 'fade',
			navigation: {
				nextEl: ".evn-next",
				prevEl: ".evn-prev",
			},
			pagination: {
				el: "#aboutEnvMbPage",
				type: "fraction",
			},
			on: {
			    slideChange() {
			        var actIndex = this.activeIndex;
					aboutEnvInfoSwiper.slideTo(actIndex, 500, false);
			    }
			}
		});
		var aboutEnvInfoSwiper = new Swiper('#aboutEnvInfoSwiper', {
			effect: 'fade',
			fadeEffect: {//默認是false 會把每一個swiper重疊
				crossFade: true, //true 只顯示act的當前swiper
			},
			pagination: {
				el: "#aboutEnvInfoPage",
				clickable: true
			},
			on: {
			    slideChange() {
			        var actIndex = this.activeIndex;
					aboutEnvSwiper.slideTo(actIndex, 500, false);
			    }
			}
		});
	});

	$(window).scroll(function () {
		var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
		//=== 滾動到footer 一半高側邊要收起來 ===
		var windowH = $(window).outerHeight();
		var windowHF = windowH / 3;
		var windowHF2 = windowHF * 2;
		var footerTop = $('.footer-area').offset().top;
		var footerTopHLine = footerTop - windowHF2;
		if(windowScrollNum > footerTopHLine){
			$("#sideActArea").removeClass('on');
		}else{
			$("#sideActArea").addClass('on');
		}
		//=== 滾動到第一個 要出現側邊 ===
		//- var areaFirstH = $('#indCont1').offset().top - 20;
		//- var botBannerH=$('#botBanner').offset().top;
		//- if (windowScrollNum > areaFirstH) {
		//- 	if(windowScrollNum > botBannerH){
		//- 		$("#sideActArea").removeClass('on');
		//- 	}else{
		//- 		$("#sideActArea").addClass('on');
		//- 	}
		//- } else {
		//- 	$("#sideActArea").removeClass('on');
		//- }
		//=== 滾動距離側邊act ===
		var scrollList=['cont4','cont3','cont2','cont1'];
		$.each(scrollList, function (ind, val) {
			var areaH = $('#' + val).offset().top - 20;//自己的上方高度(-10多一點距離滾到這才會上act)
			if (windowScrollNum < areaH) {
				//=== 因為超過自己會下在自己但還是在上一個的區域，所以要上在下一個上 ===
				//ex:
				//=== 1 === (超過這)
				//= cont 1 =
				//=== 2 === (上滾大於這，不大於上一個，act會在這，但還沒超過 所以要下下一個[array已倒序])
				//= cont 2 =
				// console.log('=== item ===',scrollList[ind+1]);
				if (scrollList[ind + 1]) {//超過第一個之前會找不到下一個，所以要過濾
					var actId = scrollList[ind + 1].replace('cont', '');
					reSetSideAct(actId);
				}
			} else if (windowScrollNum > areaH && ind == 0) {
				//= 如果超過，又剛好是第一個，就直接下在自己，因為沒有下一個了 =
				var actId = val.replace('cont', '');
				reSetSideAct(actId);
			}
		});
	});
	function reSetSideAct(num){
		var $actDot=$('#sideDot'+num);
		var actTit=$('#indTit'+num).html();
		//- console.log(actTit);
		$('#sideActTit').html(actTit);
		$('#actDotBox').find('.dot').removeClass('act');
		$actDot.addClass('act');
	}

	$(window).on('load', function () {
		console.log('load Fin');
		//=== hash tage scroll ===
		hashScroll();
	});

	//=== hash tage scroll ===
	function hashScroll() {
		var hashId = window.location.hash;
		console.log(hashId);
		if (hashId !== '') {
			var hrefNum = hashId.replace('#a', '');
			console.log(hrefNum);
			var hashToId = '#cont' + hrefNum;
			var $hashCont=$(hashToId);
			scrollToArea($hashCont);
		}
	}

	//=== scroll to 滾動到指定區域 ===
	function scrollToArea($cont){
		var windowW = $(window).width();
		var plusH;
		if(windowW > 1023){
			plusH = 150;
		}else{
			plusH = 50;
		}
		var actId=$cont.attr('id');
		if(actId=='cont1'){
			plusH = 0;
		}
		$('html,body').stop().animate({
			scrollTop: ($cont.offset().top + plusH)
		}, 'slow');
		//- var navH = $('.header-wrap').outerHeight();
		//- var navHMar = navH + 20;
		//- $('html,body').stop().animate({
		//- 	scrollTop: ($cont.offset().top - navHMar)
		//- }, 'slow');
	}

	//=== 燈箱動畫 ===
	// 圖片物件,圖片ID,圖片ID號,燈箱圖片想要的高度
	function lightAni(item,qId,qIdNum,imgH){
		var imgind = qIdNum-1;
		//- var imgUrl=$(this).find('img').attr('src');
		console.log(qId);
		var $this = item;
		var itemW = $this.find('img').width();
		var itemH = $this.find('img').height();
		var item = document.getElementById(qId);
		var clientRect = item.getBoundingClientRect();
		var clientY = clientRect.top;
		var clientX = clientRect.left;
		console.log(itemW,itemH);
		console.log(clientY,clientX);
		var imgH = imgH;
		var contH = 100 - imgH;
		bgFix();
		//- $('#lgQualityImg').find('img').attr('src',imgUrl);
		//- lightQualityData
		$('#lgQualityImg').find('img').hide();
		$('#lgQualityImg').find('img').eq(imgind).show();
		
		$('#lgQualityEn').html(lightQualityData[imgind].en);
		$('#lgQualityTit').html(lightQualityData[imgind].tit);
		$('#lgQualityTxt').html(lightQualityData[imgind].txt);
		$('#lgQuality').show();
		//- $('#lgQuality').css({'width':itemW,'height':itemH,'transform': 'translate('+clientX+'px, '+clientY+'px)'});
		$('#lgQuality').css({'width':itemW,'height':itemH,'top': clientY,'left':clientX});
		console.log('Y',clientY,'X',clientX);
		//== 動畫 ==
		gsap.to('#lgQuality', {
			// this is the vars object
			// it contains properties to animate
			top: 0,
			left: 0,
			width: 100+'%',
			height: 100+'%',
			ease: "power3.out",
			// and special properties
			duration: 0.8,
			onComplete() {
				//= 圖文區塊進場 =
				gsap.to('#lgQualityImg', {
					height: imgH+'%',
					ease: "power1.out",
					duration: 0.7,
					delay: 0.1
				});
				gsap.to('#lgQualityInfoBox', {
					height: contH+'%',
					ease: "power1.out",
					duration: 0.7,
					delay: 0.1
				});
				//= 文 =
				gsap.to('#lgQualityInfo', {
					top: 0,
					ease: "power1.out",
					opacity: 1,
					duration: 0.7,
					delay: 0.5
				});
			},
		});
	}