include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.column-main-area
			.main-cont
				section.column-area
					.column-side-box.contact-side-box
						.m-tit-box
							.m-tit.inn
								h2 聯絡我們
								.sup
									span Contact Us
						.contact-copyright COPYRIGHT © KING CAR GROUP. 2022<br>ALL RIGHTS RESERVED
					.column-info-box
						.contact-form-area
							p.note 請確實填寫您的資料以及保貴意見和問題，將有專員為您服務。
							form(action="###").contact-form-cont
								-const contactFormBox01={'tit':'姓名','name':'name'};
								+contactFormBox(contactFormBox01)
								.contact-form-box
									label(for="mail") 電子郵件
									.input-box
										input.input-sty.input-val(type="e-mail" name="mail" id="mail" placeholder="")
								-const contactFormBox02={'tit':'聯絡電話','name':'phone'};
								+contactFormBox(contactFormBox02)
								-const contactFormBox03={'tit':'問題類型','name':'questType'};
								+contactFormBox(contactFormBox03)
								.contact-form-box.label-top
									label(for="cont") 訊息內容
									.input-box
										textarea.input-val(name="cont" id="cont" placeholder="")
								.contact-form-box.label-top#passBox
									label(for="pass") 驗證碼
									.submit-input-area
										.pass-area
											.input-box.w150
												input.input-sty(type="text" name="pass" id="pass" placeholder="")
											.pass-box
												img(src="img/pass.jpg", alt="")
										.stbmit-btn-box
											.stbmit-btn 發 送
												input(type="submit")
							.contact-info-area
								| 電話｜0800-231-136<br>
								| 傳真｜(02)2368-8128<br>
								| 地址｜100台北市羅斯福路三段230號<br>
								| 服務時間｜週一至週五 AM 08:30-12:00 PM 13:00-17:30 (國定假日除外)
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$('.input-val').each(function(){
			$(this).on('keyup',function(){
				var hasVal = $(this).val();
				console.log('231')
				if(hasVal){
					$(this).parent().parent().addClass('hasval');
				}else{
					$(this).parent().parent().removeClass('hasval');
				}
			});
		});
		$('#pass').on('keyup',function(){
			var hasVal = $(this).val();
			if(hasVal){
				$('#passBox').addClass('hasval');
			}else{
				$('#passBox').removeClass('hasval');
			}
		});
	});
			