<!DOCTYPE html>
html
    include includes/header
    body
        include includes/nav
        .slide-banner-area
            .swiper.slide-banner#swiperSlideBanner
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/banner.jpg", alt="")
                    .swiper-slide
                        img(src="img/banner02.jpg", alt="")
                .slide-txt-area
                    .slide-txt-cont#slideTxt1
                        .tit 咖啡美學
                        .en Coffee Art
                        .cont 咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行
                        a(href="###").arr-box
                            span 暸解更多
                            .arr
                                img(src="img/news_arr_on.svg", alt="")
                    .slide-txt-cont#slideTxt2
                        .tit 咖啡美學
                        .en Coffee Art
                        .cont 咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行
                        a(href="###").arr-box
                            span 暸解更多
                            .arr
                                img(src="img/news_arr_on.svg", alt="")
script.
    $(document).ready(function(){
        changeDataAni(1);
        //=== banner ===
        var swiperBanner = new Swiper('#swiperSlideBanner', {
            //dosomthing
            loop: true,
            on: {
                slideChange() {
                    var actIndex = this.realIndex;//activeIndex
                    var actNum=actIndex+1;
                    console.log(actIndex);
                    console.log(actNum);
                    changeDataAni(actNum);
                }
            }
        });
    });
    //=== 側邊資料顯示動畫 ===
    function changeDataAni(num) {
        $('.slide-txt-cont').hide();
        $('#slideTxt'+num).show();

        var element = document.querySelector('#slideTxt'+num);
        // element.classList.add('aaa', 'bbb');
        element.classList.add('change-data');
        element.addEventListener('animationend', () => {
            // do something
            $('#slideTxt'+num).removeClass('change-data');
        });
    }