include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body.ind-dot-side
		.loading#loading
			.loading-box
				.loadin-img
					img(src="img/icon_load.svg", alt="")
				.loadin-txt
					img(src="img/icon_cofcup.svg", alt="")
					span BREWING...
			.progress-box
				.progress#progress
		include includes/nav
		.banner-area#bannerArea
			.banner-video-box#bannerVideoBox
				.banner-video
					//- autoplay
					video.video#bannerVideo(playsinline muted)
						source(src="video/video_3_zip.mp4" type="video/mp4")
				.slogin-box
					.tit 探索伯朗
					.cont 伯朗咖啡館與您一同迎接生活的<br>美好片刻
				.banner-icon
					.circle-hr-box
						img.circle(src="img/circle_w.svg" alt="")
						img.dot(src="img/circle_dot_w.svg" alt="")
			.slide-banner-area
				.swiper.slide-banner#swiperSlideBanner
					.swiper-wrapper
						.swiper-slide
							img(src="img/banner.jpg", alt="")
						.swiper-slide
							img(src="img/banner02.jpg", alt="")
						.swiper-slide
							img(src="img/ind03_1.jpg", alt="")
					.slide-txt-area
						.slide-txt-cont#slideTxt1
							.tit
								.dot
								span 咖啡美學
							//- .en Coffee Art
							.en
								img(src="img/banner_en.svg", alt="")
							.cont 咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行
							a(href="###").arr-box
								span 暸解更多
								.arr
									img(src="img/news_arr_on.svg", alt="")
						.slide-txt-cont#slideTxt2
							.tit
								.dot
								span 咖啡美學2
							//- .en Coffee Art
							.en
								img(src="img/banner_en.svg", alt="")
							.cont 咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行
							a(href="###").arr-box
								span 暸解更多
								.arr
									img(src="img/news_arr_on.svg", alt="")
						.slide-txt-cont#slideTxt3
							.tit
								.dot
								span 咖啡美學3
							//- .en Coffee Art
							.en
								img(src="img/banner_en.svg", alt="")
							.cont 咖啡職人Barista：<br>沖出屬於自己的美好片刻<br>帶你的味蕾感受一場旅行
							a(href="###").arr-box
								span 暸解更多
								.arr
									img(src="img/news_arr_on.svg", alt="")
				.swiper.swiper-side-banner#swiperSideBanner
					.swiper-wrapper
						.swiper-slide
							img(src="img/banner02.jpg", alt="")
						.swiper-slide
							img(src="img/ind03_1.jpg", alt="")
						.swiper-slide
							img(src="img/banner.jpg", alt="")
		.main-area.ind-main-area
			section.main-cont.ind-cont01#indCont1
				.m-tit-box.ind
					.m-tit(data-aos="fade-up")
						h2#indTit1 探索伯朗
						.sup
							span About Mr.Brown
				//- 桌機
				.ind-val-area
					.cube-info-box
						.cube-info-txt
							.tit-box(data-aos="fade-up")
								//- .en Our Value
								.en
									img(src="img/indentop1.svg", alt="")
								.tit 堅持好品質
							.cont-box(data-aos="fade-up")
								//- .en Our Spirit
								.en
									img(src="img/inden1.svg", alt="")
								.txt 伯朗咖啡每項產品的誕生，都歷經從產地起繁複的品質與專業要求，伯朗自全球採購咖啡豆，嚴選出產高品質咖啡豆的國別與供應者,每個階段的把關與用心，都為讓品嚐咖啡香醇的時光變得更加美好。
					.img-box.img-load-scale.off
						.img-mask#imgMask1
						img(src="img/ind01.jpg", alt="")
				//- 手機
				.mb-cube-area
					.top-box
						.title-box
							.en
								img(src="img/indmbentop1.svg", alt="")
							.tit 堅持好品質
						.img-box.img-load-scale.off
							.img-mask#imgMask3
							img(src="img/ind01.jpg", alt="")
					.bot-box
						.info-box
							.en
								img(src="img/indmben1.svg", alt="")
							.txt 將驟快的時間放慢步調，讓美與空間產生對話伯朗咖啡以選品遊覽世界之美，以書藉閱讀萬物思想。
			section.main-cont.ind-cont02#indCont2
				.m-tit-box.ind
					.m-tit(data-aos="fade-up")
						h2#indTit2 精選系列
						.sup
							span Feature Flavors
				.item-cube-end-box
					.item-cube-area
						.arr-btn.arr-prev-btn#itemPrev.itemPrev
						//- .swiper-button-prev#itemPrev.itemPrev <i class="fal fa-angle-left"></i>
						.swiper.item-cube-group#swiperItem
							.swiper-wrapper
								.swiper-slide
									-const itemCubeBox01={'id':'1','img':'coffee01.png','isnew': true ,'en':'Colombia','tit':'印尼弗洛勒斯','info':'味道圓潤滑順<br>酸味猶如法國玫瑰紅酒般輕淡明亮<br>香味迷人','link':'###'};
									+itemCubeBox(itemCubeBox01)
								.swiper-slide
									-const itemCubeBox02={'id':'2','img':'coffee02.png','en':'Colombia','tit':'巴西聖多士','info':'味道圓潤滑順<br>酸味猶如法國玫瑰紅酒般輕淡明亮<br>香味迷人','link':'###'};
									+itemCubeBox(itemCubeBox02)
								.swiper-slide
									-const itemCubeBox03={'id':'3','img':'coffee03.png','en':'Colombia','tit':'哥倫比亞','info':'味道圓潤滑順<br>酸味猶如法國玫瑰紅酒般輕淡明亮<br>香味迷人','link':'###'};
									+itemCubeBox(itemCubeBox03)
								.swiper-slide
									-const itemCubeBox04={'id':'4','img':'coffee01.png','en':'Colombia','tit':'哥倫比亞','info':'味道圓潤滑順<br>酸味猶如法國玫瑰紅酒般輕淡明亮<br>香味迷人','link':'###'};
									+itemCubeBox(itemCubeBox04)
						.arr-btn.arr-next-btn#itemNext.itemNext
						//- .swiper-button-next#itemNext.itemNext <i class="fal fa-angle-right"></i>
					.mb-swiper-btn-box
						.left#itemMbPrev.itemPrev
						.page#mbItemPage
						.right#itemMbNext.itemNext
						//- a(href="###").str-more
						//- 	span 暸解更多
						//- 	.arr <i class="fal fa-angle-down"></i>
			+coffeeHr
			.main-cont.ind-cont03#indCont3
				.ind-life-area
					.img-box.img-load-scale.off
						.img-mask#imgMask2
						img(src="img/ind02.jpg", alt="")
					.cube-info-box
						.cube-info-txt
							.tit-box(data-aos="fade-up")
								//- .en Fresh as always
								.en
									img(src="img/indentop2.svg", alt="")
								.tit#indTit3 單醇新享受
							.cont-box(data-aos="fade-up")
								//- .en Liftstyle
								.en
									img(src="img/inden2.svg", alt="")
								.txt 伯朗咖啡每項產品的誕生，都歷經從產地起繁複的品質與專業要求，每個階段的把關與用心，都為讓品嚐咖啡香醇的時光變得更加美好。伯朗自全球採購咖啡豆，嚴選出產高品質咖啡豆的國別與供應者，經過各項嚴謹審核流程後，才能成為伯朗咖啡豆的供應夥伴。
				//- 手機
				.mb-cube-area.life
					.top-box
						.title-box
							.en
								img(src="img/indmbentop2.svg", alt="")
							.tit 單醇新享受
						.img-box.img-load-scale.off
							.img-mask#imgMask4
							img(src="img/ind02.jpg", alt="")
					.bot-box
						.info-box
							.en
								img(src="img/indmben2.svg", alt="")
							.txt 伯朗咖啡以選品遊覽世界之美，以書藉閱讀萬物思想。集合各種Lifestyle可能性的事物，傳遞美學生活。
			+coffeeHrMb
			section.main-cont.ind-cont04#indCont4
				.m-tit-box.ind
					.m-tit(data-aos="fade-up")
						h2#indTit4 咖啡生活
						.sup
							span Roaster’s Diary
					a(href="lifestyle_list.html", data-aos="fade-up").tit-more
						span 暸解更多
						img(src="img/arr.svg", alt="")

				.slide-coffee-area()
					.swiper.swiper-coffee#swiperCoffeeLife
						.swiper-wrapper
							.swiper-slide.noSwiping
								-const slideCoffeeBox01={'img':'ind03_1.jpg','tit':'咖啡豆<br>從樹上到杯中的旅程','date':'2021-APR-13','cont':'伯朗咖啡每項產品的誕生，都歷經從產地起繁複的品質與專業要求，每個階段的把關與用心，都為讓品嚐咖啡香醇的時光變得更加美好。伯朗自全球採購咖啡豆，嚴選出產高品質咖啡豆的國別與供應者，經過各項嚴謹審核流程後，才能成為伯朗咖啡豆的供應夥伴。','link':'###'};
								+slideCoffeeBox(slideCoffeeBox01)
							.swiper-slide.noSwiping
								-const slideCoffeeBox02={'img':'ind03_2.jpg','tit':'咖啡豆<br>從樹上到杯中的旅程','date':'2021-APR-13','cont':'伯朗咖啡每項產品的誕生，都歷經從產地起繁複的品質與專業要求，每個階段的把關與用心，都為讓品嚐咖啡香醇的時光變得更加美好。伯朗自全球採購咖啡豆，嚴選出產高品質咖啡豆的國別與供應者，經過各項嚴謹審核流程後，才能成為伯朗咖啡豆的供應夥伴。','link':'###'};
								+slideCoffeeBox(slideCoffeeBox02)
							.swiper-slide.noSwiping
								-const slideCoffeeBox03={'img':'ind03_3.jpg','tit':'咖啡豆<br>從樹上到杯中的旅程','date':'2021-APR-13','cont':'伯朗咖啡每項產品的誕生，都歷經從產地起繁複的品質與專業要求，每個階段的把關與用心，都為讓品嚐咖啡香醇的時光變得更加美好。伯朗自全球採購咖啡豆，嚴選出產高品質咖啡豆的國別與供應者，經過各項嚴謹審核流程後，才能成為伯朗咖啡豆的供應夥伴。','link':'###'};
								+slideCoffeeBox(slideCoffeeBox03)
					.mb-swiper-btn-box
						.left#lifeMbPrev
						.page#lifeMbPage
						.right#lifeMbNext
					
				.m-slide-group
					.m-slide-coffee-area
						.swiper.swiper-coffee#mSwiperCoffeeLife
							.swiper-wrapper
								.swiper-slide
									.m-slide-coffee-box(data-swiper-parallax-scale="0.8")
										img(src="img/ind03_1.jpg", alt="")
								.swiper-slide
									.m-slide-coffee-box(data-swiper-parallax-scale="0.8")
										img(src="img/ind03_2.jpg", alt="")
								.swiper-slide
									.m-slide-coffee-box(data-swiper-parallax-scale="0.8")
										img(src="img/ind03_3.jpg", alt="")
					.m-slide-coffee-txt-area
						.swiper.swiper-coffee#mSwiperCoffeeLifeTxt
							.swiper-wrapper
								.swiper-slide.noSwiping
									h3() 1咖啡豆<br/>從樹上到杯中的旅程
									.m-info()
										.date 2021-APR-13
										a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
								.swiper-slide.noSwiping
									h3() 2咖啡豆<br/>從樹上到杯中的旅程
									.m-info()
										.date 2021-APR-13
										a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
								.swiper-slide.noSwiping
									h3() 3咖啡豆<br/>從樹上到杯中的旅程
									.m-info()
										.date 2021-APR-13
										a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
						.mb-swiper-btn-box
							.left#mSiperPrev.itemPrev
							.page#mSiperPagin
							.right#mSiperNext.itemNext

			+coffeeHr
		.ind-bot-banner-box#botBannerCover
		.ind-bot-banner#botBanner
			//- img(src="img/banner_bot.jpg", alt="")
		.footer-video-bg#footerVideo
			video.video(autoplay loop playsinline muted)
				source(src="video/video_2_zip.mp4" type="video/mp4")
		.side-act-area#sideActArea
			.tit#sideActTit 探索伯朗
			.act-dot-box#actDotBox
				.dot#sideDot1.act
				.dot#sideDot2
				.dot#sideDot3
				.dot#sideDot4
		//-內容
		include includes/footer
script.
	var swiperBanner,swiperSideBanner;
	var isLoadEnd = false;
	
	$(window).on('load', function(){
		AOS.init({
			offset: 120,
			duration: 1000,
			easing: 'ease-out',
			once: false,
		});
	})
	$(document).ready(function(){
		var bannerVideo = document.getElementById('bannerVideo');
		//=== 讀取進度條 ===
		//- var isLoadEnd = false;
		// 获取进度条 div
		var $progress = document.getElementById('progress');
		// 初始进度，1%
		var progress = 1;
		// 生成随机数
		var random = function(min, max){
			return Math.floor(Math.random() * (max - min + 1) + min);
		};
		// 跑进度
		var onprogress = function () {
			// 随机时间
			var timeout = random(50, 70);
			//- var timeout = random(10, 30);
			setTimeout(function () {
				//= 3秒後 =
				if(isLoadEnd){
					$progress.style.width = '100%';
					//= 關loading畫面 =
					$('#loading').addClass('on');
					bannerVideo.play();
					return;
				}
				// 假设页面载入完成，则直接进度到 100%
				//- if(window.loaded){
				//- 	$progress.style.width = '100%';
				//- 	return;
				//- }
				// 随机进度
				progress += random(1, 5);
				// 随机进度不能超过 98%，以免页面还没载入完成。进度已经 100% 了
				if(progress > 98){
					progress = 98;
				}
				$progress.style.width = progress + '%';
				onprogress();
			}, timeout);
		};
		// 開始跑进度
		onprogress();
		//=== 3秒後100% ===
		setTimeout(function () {
			isLoadEnd = true;
			console.log('3秒');
		}, 3000);

		//=== banner video ===
		document.getElementById('bannerVideo').addEventListener('ended',videoEnd,false);
		
		//=== banner ===
		swiperBanner = new Swiper('#swiperSlideBanner', {
			//dosomthing
			speed: 1000,
			//- loop: true,
			//- autoplay: {
			//- 	delay: 3000,
			//- 	disableOnInteraction: false,//自己點擊滑動後是否停止autoplay
			//- },
			on: {
				slideChange() {
					var actIndex = this.realIndex;//activeIndex
					var actNum = actIndex+1;
					//- console.log(actIndex);
					//- console.log(actNum);
					changeDataAni(actNum);
					//= 同步側邊sw =
					if(swiperSideBanner){
						swiperSideBanner.slideTo(actIndex, 500, false);
					}
				}
			}
		});
		swiperBanner.autoplay.stop();
		//=== banner side ===
		swiperSideBanner = new Swiper('#swiperSideBanner', {
			//dosomthing
			speed: 1000,
			//- loop: true,
			noSwiping: true,
			//- on: {
			//- 	slideChange() {
			//- 		var actIndex = this.realIndex;//activeIndex
			//- 		//= 同步sw =
			//- 		swiperBanner.slideTo(actIndex, 500, false);
			//- 		//- console.log(actIndex);
			//- 		//- console.log(actNum);
			//- 		//- changeDataAni(actNum);
			//- 	}
			//- }
		});
		//- var swiperBanner = new Swiper('#swiperBanner', {
		//- 	//- spaceBetween: 55,
		//- 	//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
		//- 	//- navigation: {
		//- 	//- 	nextEl: '.swiper-button-next',
		//- 	//- 	prevEl: '.swiper-button-prev',
		//- 	//- },
		//- });

		//=== 精選系列 ===
		var prveInd=0;
		$('#swiperItem').find('.item-cube-name').eq(prveInd).css({'opacity':1});
		var swiperItem = new Swiper('#swiperItem', {
			spaceBetween: 58,
			slidesPerView: 3,
			centeredSlides: false,
			navigation: {
				nextEl: ".itemNext",
				prevEl: ".itemPrev",
			},
			pagination: {
				el: "#mbItemPage",
				type: "fraction",
			},
			breakpoints: {
				1023: {
					spaceBetween: 30,
					slidesPerView: 3,
					centeredSlides: false,
				},
				768: {
					spaceBetween: 18,
				},
				320: {
					slidesPerView: 1.38,
					centeredSlides: true,
					spaceBetween: 28,
					navigation: {
						nextEl: "#itemMbNext",
						prevEl: "#itemMbPrev",
					},
				}
				//- 768: {
				//- 	spaceBetween: 28,
				//- 	slidesPerView: 1.38,
				//- 	centeredSlides: true,
				//- 	//- navigation: {
				//- 	//- 	nextEl: "#itemMbNext",
				//- 	//- 	prevEl: "#itemMbPrev",
				//- 	//- },
				//- }
			},
			on:{
				slideChange() {
					var actIndex = this.activeIndex;
					console.log(actIndex);
					$('#swiperItem').find('.item-cube-name').eq(prveInd).removeAttr('style');
					if(prveInd < actIndex){
						console.log('左');
						prveInd = actIndex;
						var actNum=actIndex+1;
						gsap.from('#itemCubeName'+actNum, {
							left: 30,
							ease: "power1.out",
							duration: 0.5,
						});
					}else{
						console.log('右');
						prveInd = actIndex;
						var actNum=actIndex+1;
						gsap.from('#itemCubeName'+actNum, {
							right: 30,
							ease: "power1.out",
							duration: 0.5,
						});
					}
					gsap.to('#itemCubeName'+actNum, {
						opacity: 1,
						ease: "power1.out",
						duration: 0.5,
					});
				}
			},
			//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
		});
		//=== coffeeLife ===
		//- $('.slide-coffee-img').eq(1).addClass('next');
		//- $('.slide-coffee-img').eq(2).addClass('pc3');

		//slide
		var coffeeLife = new Swiper('#swiperCoffeeLife', {
			//- slidesPerView: 1.563,
			slidesPerView: 'auto',
			spaceBetween: 123,
			slideToClickedSlide: true,
			parallax: true,
			speed: 1000,
			//- noSwipingClass: 'noSwiping',
			//- loopAdditionalSlides: 1,//loop增加一塊 避免空白
			centeredSlides: true,
			centeredSlidesBounds: true,
			loop: true,
			breakpoints: {
				768: {
					spaceBetween: 50
				},
				1200: {
					spaceBetween: 60
				},
				1400: {
					spaceBetween: 123
				}
			},
			on:{
				slideChange() {
					var actIndex = this.activeIndex;
					console.log(actIndex);
					//- this.slideToLoop(this.realIndex,0,true)
				}
			},
			//- on: {
			//- 	slideChange() {
			//- 		var actIndex = this.activeIndex;
			//- 		//- console.log(actIndex);
			//- 		$('.slide-coffee-img').removeClass('prve');
			//- 		$('.slide-coffee-img').removeClass('next');
			//- 		if(actIndex===0){
			//- 			$('.slide-coffee-img').eq(1).addClass('next');
			//- 			$('.slide-coffee-img').eq(2).addClass('pc3');
			//- 		}else if(actIndex===1){
			//- 			$('.slide-coffee-img').eq(0).addClass('prve');
			//- 			$('.slide-coffee-img').eq(2).addClass('next');
			//- 			$('.slide-coffee-img').eq(2).removeClass('pc3');
			//- 		}else if(actIndex===2){
			//- 			$('.slide-coffee-img').eq(1).addClass('prve');
			//- 		}
			//- 	}
			//- },
			pagination: {
				el: "#lifeMbPage",
				type: "fraction",
			},
			navigation: {
				nextEl: "#lifeMbNext",
				prevEl: "#lifeMbPrev",
			},
			//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
			//- navigation: {
			//- 	nextEl: '.swiper-button-next',
			//- 	prevEl: '.swiper-button-prev',
			//- },
		});

		//- coffeeLife.slideNext();

		//- const slideImg = document.querySelectorAll('.slide-coffee-img');
		//- for( let i = 0; i< slideImg.length; i++){
		//- 	slideImg[i].addEventListener('click',()=>{
		//- 		console.log('...',i)
		//- 		coffeeLife.slideTo(i);
		//- 	})
		//- }

		//手機版 圖文連動
		var mCoffeeLifeTxt = new Swiper('#mSwiperCoffeeLifeTxt', {
			slidesPerView: 1,
			spaceBetween: 30,
			speed: 800,
			noSwipingClass: 'noSwiping',
			//- centeredSlides: true, 如果搭配居中使用，會跳號
			//- centeredSlidesBounds: true, 如果搭配居中使用，會跳號
			loop: true,
			parallax: true,
			watchSlidesProgress: true,
			breakpoints: {
				320: {
					slidesPerView: 1,
				},
				//- 768: {
				//- 	spaceBetween: 50
				//- }
			},
		});



		var mCoffeeLife = new Swiper('#mSwiperCoffeeLife', {
			slidesPerView: 1.61,
			spaceBetween: 0,
			speed: 800,
			//- centeredSlides: true, 如果搭配居中使用，會跳號
			//- centeredSlidesBounds: true, 如果搭配居中使用，會跳號
			loop: true,
			parallax: true,
			thumbs: {
				swiper: mCoffeeLifeTxt,
			},
			pagination: {
				el: "#mSiperPagin",
				type: "fraction",
			},
			navigation: {
				nextEl: "#mSiperNext",
				prevEl: "#mSiperPrev",
			},
		});


		

		//=== 側邊區域點擊滑動 ===
		var clickScrollList=[
			{'btn':'#sideDot1','cont':'#indCont1'},
			{'btn':'#sideDot2','cont':'#indCont2'},
			{'btn':'#sideDot3','cont':'#indCont3'},
			{'btn':'#sideDot4','cont':'#indCont4'}
		];
		$.each(clickScrollList,function(ind,val){
			var $btn=$(val.btn);
			var $cont=$(val.cont);
			var windowW = $(window).width();
			var plusH;
			if(windowW > 1023){
				plusH = 150;
			}else{
				plusH = 50;
			}
			$btn.on('click',function(){
				$('html,body').stop().animate({
					scrollTop: ($cont.offset().top + plusH)
				}, 'slow');
			});
		});

		//=== 如果是手機的時候 上方要加on ===
		//- var windowRW = 767;
		var windowWAct = $(window).width();
		if (windowWAct <= windowRW) {
			$('#navArea').addClass('on');
		}
	});

	$(window).resize(function () {
		//- var windowRW = 767;
		var windowWAct = $(window).width();
		var bannerVideoIsShow = $('#bannerVideoBox').is(':visible');
		//= 手機時影片還在播放 =
		if (windowWAct > windowRW && bannerVideoIsShow){
			$('#navArea').removeClass('on');
		}
		if (windowWAct <= windowRW){
			$('#navArea').addClass('on');
		}
	});

	//- $(window).on('load',function(){
	//- 	console.log('window load end')
	//- 	isLoadEnd=true;
	//- 	$('#loading').addClass('on');
	//- });

	$(window).scroll(function () {
		var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
		//=== 滾動到第一個 要出現側邊 ===
		var areaFirstH = $('#indCont1').offset().top - 20;
		var botBannerCoverH=$('#botBannerCover').offset().top;
		var botBannerH=$('#botBanner').offset().top;
		if (windowScrollNum > areaFirstH) {
			if(windowScrollNum > botBannerCoverH-(areaFirstH+200)){
				$("#sideActArea").removeClass('on');
			}else{
				$("#sideActArea").addClass('on');
			}
		} else {
			$("#sideActArea").removeClass('on');
		}
		//=== 滾動距離側邊act ===
		var scrollList=['indCont4','indCont3','indCont2','indCont1'];
		$.each(scrollList, function (ind, val) {
			var areaH = $('#' + val).offset().top - 20;//自己的上方高度(-10多一點距離滾到這才會上act)
			if (windowScrollNum < areaH) {
				//=== 因為超過自己會下在自己但還是在上一個的區域，所以要上在下一個上 ===
				//ex:
				//=== 1 === (超過這)
				//= cont 1 =
				//=== 2 === (上滾大於這，不大於上一個，act會在這，但還沒超過 所以要下下一個[array已倒序])
				//= cont 2 =
				// console.log('=== item ===',scrollList[ind+1]);
				if (scrollList[ind + 1]) {//超過第一個之前會找不到下一個，所以要過濾
					var actId = scrollList[ind + 1].replace('indCont', '');
					reSetSideAct(actId);
				}
			} else if (windowScrollNum > areaH && ind == 0) {
				//= 如果超過，又剛好是第一個，就直接下在自己，因為沒有下一個了 =
				var actId = val.replace('indCont', '');
				reSetSideAct(actId);
			}
		});

		//=== 圖片滾動出現放大效果 ===
		var windowH = $(window).height();
		var window4H = windowH/10;
		$('.img-load-scale').each(function(ind,val){
			var imgH = $(val).offset().top;
			var maskId = $(val).find('.img-mask').attr('id');
			//- console.log(maskId);
			var startH = imgH - (windowH - window4H);
			//- console.log(imgH);
			//- console.log('startH',startH);
			if(windowScrollNum > startH){
				gsap.to("#"+maskId, { height: '0', duration: 0.8, ease: "ease-out",
					//- onComplete() {
					//- 	$("#"+maskId).hide();
					//- 	$(val).removeClass('off');
					//- },
				});
				$(val).removeClass('off');
				
			}
		});

		//=== footer video ===
		var allH=$('.ind-dot-side').outerHeight();
		//- windowScrollNum  windowH
		var botBannerTop = $('#botBanner').offset().top;
		var videoStart = botBannerTop - windowH; // 影片區塊在底部時的高度
		//- var botBanner = document.getElementById('botBanner');
		//- var clientRect = botBanner.getBoundingClientRect();
		//- var clientX = clientRect.left;
		//- var clientY = clientRect.top;
		//- console.log(clientX,clientY);
		if(windowScrollNum > videoStart){
			//- console.log('到影片');
			var plusH = windowScrollNum - videoStart;//影片在底部出現的高度
			var videoEnd;//因為影片在底部 所以有可能影片頂部還沒滑倒頂就停 //結束的高度就可能有兩種 1.已經滑到最底，2.影片已經滑倒頂部 
			//- botBannerTop
			var footerEnd = allH - windowH; //滑到最底部的距離
			if(botBannerTop > footerEnd){//因為影片在底部 所以有可能影片頂部還沒滑倒頂就停 所以要判斷誰比較高而改變滑動得長度距離
				videoEnd = footerEnd;//如果影片沒碰到頂部
			}else{
				videoEnd = botBannerTop;//如果影片會碰到頂部
			}
			//- console.log(plusH);
			//- console.log('botBannerTop',botBannerTop);
			//- console.log('footerEnd',videoEnd);
			var part1L = videoEnd - videoStart; //從影片出現到滑到影片到頂部的距離 或 影片還沒到頂部就滑到底的距離
			//- console.log('part1L',part1L);
			// 100/1000 = X/250 , X = (100/1000)*250;
			var videoTrmY = (plusH/part1L) * 250 - 250;//可以改變滾動的距離(250)
			//- if(videoTrmY > 0){//如果影片滑到頂部就不移動了
			//- 	videoTrmY = 0;
			//- }
			$('#footerVideo').css({'transform': 'translateY('+-videoTrmY+'px)'});


			//======
			//- var h = (plusH/5) - 250;
			//- if(h > 0){
			//- 	h = 0;
			//- }
			//- $('#footerVideo').css({'transform': 'translateY('+-h+'px)'});
		}
	});
	function reSetSideAct(num){
		var $actDot=$('#sideDot'+num);
		var actTit=$('#indTit'+num).html();
		//- console.log(actTit);
		$('#sideActTit').html(actTit);
		$('#actDotBox').find('.dot').removeClass('act');
		$actDot.addClass('act');
	}

	function videoEnd(e) {
		// What you want to do after the event
		console.log('videoEnd');
		$('#bannerVideoBox').fadeOut();
		$('#navArea').addClass('on');
		//== slidebanner文字入場 ==
		changeDataAni(1);
		//== 開自動輪播 ==
		//- swiperBanner.autoplay.start();
	}

	//=== 側邊資料顯示動畫 ===
	function changeDataAni(num) {
		$('#slideTxt'+num).removeClass('change-data');
		$('.slide-txt-cont').hide();
		$('#slideTxt'+num).show();
		
		
		var element = document.querySelector('#slideTxt'+num);
		// element.classList.add('aaa', 'bbb');
		element.classList.add('change-data');
		element.addEventListener('animationend', () => {
			// do something
			$('#slideTxt'+num).removeClass('change-data');
		});
	}

