include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.dot-main-area.lifestyle-area
			.main-cont
				section.list-page-area
					.m-tit-box
						.m-tit.inn
							h2 咖啡知識
							.sup
								span Coffee Knowledge
						.shop-class-box.pc
							a(href="###").item.act 咖啡知識
							a(href="###").item 啡嚐享趣
						-const selectMbBox={'tit':'咖啡知識','itemList':[{'url':'###','name':'咖啡知識'},{'url':'###','name':'啡嚐享趣'}]}
						+selectMbBox(selectMbBox)
					.lifestyle-list
						-const lifestyle01={'zh':'咖啡果實','en':'Coffee Tree','tit':'咖啡豆<br>從樹上到杯中的旅程','date':'2021-APR-13','img':'know01.jpg'};
						+lifestyleBox(lifestyle01)
						-const lifestyle02={'zh':'咖啡產地','en':'Coffee Origin','tit':'咖啡豆的種類<br>及產地分別','date':'2021-APR-13','img':'know02.jpg'};
						+lifestyleBox(lifestyle02)
						-const lifestyle03={'zh':'優質咖啡豆','en':'Premium Coffee Beans','tit':'如何挑選優質<br>咖啡豆','date':'2021-APR-13','img':'know03.jpg'};
						+lifestyleBox(lifestyle03)
						-const lifestyle04={'zh':'咖啡杯測','en':'Coffee Cupping','tit':'咖啡杯測<br>品出咖啡神秘風味','date':'2021-APR-13','img':'know04.jpg'};
						+lifestyleBox(lifestyle04)
						-const lifestyle05={'zh':'烘焙等級','en':'Coffee Baking Grade','tit':'辯識咖啡豆<br>烘焙度','date':'2021-APR-13','img':'know05.jpg'};
						+lifestyleBox(lifestyle05)
						+paginationBox
		.side-act-area#sideActArea
			.tit#sideActTit 咖啡知識
			.act-dot-box#actDotBox
				a(href="lifestyle_list.html").dot#sideDot1.act
				a(href="###").dot#sideDot2
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== 手機下拉單 ===
		$('#selectMbBox').on('click',function(){
			var $list=$('#selectMbList');
			var isAct=$list.is(':visible');
			isAct ? $list.removeClass('on') : $list.addClass('on');
			//- isAct ? $list.slideUp() : $list.slideDown();
		});

		$("#sideActArea").addClass('on');
		//=== 進場動畫 ===
		AOS.init({
			easing: 'ease-in-out',
			duration: 500,
			once: true,
			anchorPlacement: 'center-bottom',
		});
	});

	$(window).scroll(function () {
		var windowScrollNum = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
		//=== 滾動到footer 一半高側邊要收起來 ===
		var windowH = $(window).outerHeight();
		var windowHF = windowH / 3;
		var windowHF2 = windowHF * 2;
		var footerTop = $('.footer-area').offset().top;
		var footerTopHLine = footerTop - windowHF2;
		if(windowScrollNum > footerTopHLine){
			$("#sideActArea").removeClass('on');
		}else{
			$("#sideActArea").addClass('on');
		}
	});