include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area
			.main-cont
				section.lifestyle-cont-area
					.lifestyle-cont-side#lifestyleContSide
						.tit-box 咖啡果實
						.tit-mb-box#titMbBox
							.zh 咖啡果實
							.en
								img(src="img/sidetxt.svg", alt="")
								img.on(src="img/sidetxton.svg", alt="")
								//- Coffee Tree
						.side-bot-box
							.tit-en
								img(src="img/life_art_txt.svg", alt="")
								//- Coffee Tree
							.lifestyle-social-cont
								.tit#socialTit 分享好伯朗
								.lifestyle-social-box
									a(href="###").social-fb
									a(href="###").social-ig
									a(href="###").social-google
									a(href="###").social-line
					.lifestyle-cont-info
						.lifestyle-banner-mb-img-box
							.cover#mbImgCover
							img(src="img/life01.jpg", alt="")
						.lifestyle-cont-info-txt
							.date 2021-APR-13
							h2.tit-box 咖啡豆<br>從樹上到杯中的旅程
							.lifestyle-banner-img-box
								.lifestyle-banner-img
									img(src="img/life01.jpg", alt="")
								.lifestyle-banner-en Coffee Tree
							.lifestyle-info-txt.edit-area
								p.def 非水洗式（乾燥式）精製，又稱日曬法Nature Dry果實採收後，將果實攤放在露天日曬場，以陽光曝曬乾燥，為避免乾燥不平均，必須適時攪拌日曬天數視果實的成熟度而定，成熟度越高則僅需數日，未成熟的果實需要曬上一至二週。
								p.def 另外還有半日曝曬處理法Pulped Natural此法是部分使用日曬處理的咖啡園，為了提升日曬法咖啡豆品質而改良出來的。
								p.def 半日曬法的前兩個步驟和水洗法一樣，先初步篩選浮豆，然後去除果皮、果肉。接下來的步驟就像日曬法了，將只剩果膠的種子，以日曬的方式進行乾燥。
								p.def 水洗式精製，又稱為水洗法Washed(又稱濕式加工法)首先將咖啡果實的果肉去除，接著用發酵槽去除殘留在果皮上的黏膜，豆子清洗過後加以乾燥。可以透過每個步驟去除瑕疵豆與雜質（石頭或垃圾等），因此生豆的水準極高，外觀均一，普遍認為具有高水準。
								//- img.def.def-txt(src="img/life01.jpg", alt="")
								//- .img-note Coffee Tree
								img.def(src="img/life02.jpg", alt="")
								p.def 另外還有半水洗法Semi Washed介於日曬法與水洗法中間，先將收成的咖啡果實水洗後，再用機械去除外皮的果肉，用日光使之乾燥，再用機械乾燥結束。
								p.def 與水洗法的不同之處，在於過程中不將咖啡果實放入發酵槽，品質又比日曬法穩定。
							.page-btn-box
								//- a(href="###").prev <i class="fal fa-angle-left"></i> 上一篇
								a(href="###").prev
									.arr
									span 上一篇
								a(href="lifestyle_list.html").back <i class="fal fa-angle-left"></i> 返回列表
								a(href="###").next
									span 下一篇
									.arr
								//- a(href="###").next 下一篇 <i class="fal fa-angle-right"></i>
				+coffeeHr
				section.item-bottom-area
					.m-tit-box
						.m-tit
							h2 其他文章
							.sup
								span Other Blog
					.item-page-cube-area
						.page-btn.prve#itemPrev <i class="fal fa-angle-left"></i>
						.item-page-cube-group
							-const cubeItem01={'id':'1','img':'other_b01.jpg','name':'印尼弗洛勒斯','cont':'咖啡豆的種類非常多，依其產地的不同、口感及香味都有所差異。','en':'Black Coffee','zh':'醇黑咖啡'};
							-const cubeItem02={'id':'2','img':'other_b02.jpg','name':'如何挑選咖啡豆','cont':'咖啡豆的種類非常多，依其產地的不同、口感及香味都有所差異。','en':'Black Coffee','zh':'醇黑咖啡'};
							-const cubeItem03={'id':'3','img':'other_b03.jpg','name':'咖啡豆烘焙度','cont':'咖啡豆的種類非常多，依其產地的不同、口感及香味都有所差異。','en':'Black Coffee','zh':'醇黑咖啡'};
							+itemPageCubeCont(cubeItem01)
							+itemPageCubeCont(cubeItem02)
							+itemPageCubeCont(cubeItem03)
						// 手機
						.swiper.item-page-cube-mb-group#swiperItem
							.swiper-wrapper
								.swiper-slide
									+itemPageCubeMbBox(cubeItem01)
								.swiper-slide
									+itemPageCubeMbBox(cubeItem02)
								.swiper-slide
									+itemPageCubeMbBox(cubeItem03)
						.page-btn.next#itemNext <i class="fal fa-angle-right"></i>
					//- .item-cube-area.item-page-cube-area
					//- 	.swiper-button-prev#itemPrev <i class="fal fa-angle-left"></i>
					//- 	.swiper.item-cube-group#swiperItem
					//- 		.swiper-wrapper
					//- 			.swiper-slide
					//- 				-const itemCubeBox01={'img':'coffee01.png','isnew': true ,'tit':'印尼弗洛勒斯','link':'###'};
					//- 				+itemPageCubeBox(itemCubeBox01)
					//- 			.swiper-slide
					//- 				-const itemCubeBox02={'img':'coffee02.png','tit':'巴西聖多士','link':'###'};
					//- 				+itemPageCubeBox(itemCubeBox02)
					//- 			.swiper-slide
					//- 				-const itemCubeBox03={'img':'coffee03.png','tit':'哥倫比亞','link':'###'};
					//- 				+itemPageCubeBox(itemCubeBox03)
					//- 			.swiper-slide
					//- 				+itemPageCubeBox(itemCubeBox03)
					//- 	.swiper-button-next#itemNext <i class="fal fa-angle-right"></i>
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== 底部商品介紹 ===
		$('#cube1').addClass('act');
		$('#cubeCont1').mCustomScrollbar();
		$('#cube2,#cube3').addClass('move');
		//= 文區塊進場 =
		gsap.to('#cubeCont1', {
			top: 0,
			opacity: 1,
			ease: "power1.out",
			duration: 0.5,
			delay: 0.2
		});
		var itemSlideList=[
			{'id':'1','remove':['cube2','cube3']},
			{'id':'2','remove':['cube3']},
			{'id':'3','remove':[]},
		];
		$.each(itemSlideList,function(ind,val){
			var $actItem=$('#cube'+val.id);
			$actItem.on('mouseenter',function(){//click
				var hasAct=$actItem.hasClass('act');
				if(!hasAct){
					$('.item').removeClass('act');
					$actItem.addClass('act');
					$('.item').removeClass('move');
					//= 偏移取消 =
					if(val.remove){
						$.each(val.remove,function(i,c){
							$('#'+c).addClass('move');
						});
					}
					//= 文區塊取消 =
					$('.item-scroll').removeAttr('style');
					$('.item-scroll').mCustomScrollbar("destroy");
					$('#cubeCont'+val.id).mCustomScrollbar();
					//= 文區塊進場 =
					gsap.to('#cubeCont'+val.id, {
						top: 0,
						opacity: 1,
						ease: "power1.out",
						duration: 0.5,
						delay: 0.2
					});
				}
			});
		});

		var swiperItem = new Swiper('#swiperItem', {
			spaceBetween: 30,
			slidesPerView: 1,
			navigation: {
				nextEl: "#itemNext",
				prevEl: "#itemPrev",
			},
		});

		//- var swiperItem = new Swiper('#swiperItem', {
		//- 	spaceBetween: 30,
		//- 	slidesPerView: 3,
		//- 	centeredSlides: false,
		//- 	navigation: {
		//- 		nextEl: "#itemNext",
		//- 		prevEl: "#itemPrev",
		//- 	},
		//- 	breakpoints: {
		//- 		767: {
		//- 			slidesPerView: 1.3,
		//- 			centeredSlides: true,
		//- 		},
		//- 		480:{
		//- 			slidesPerView: 1.3,
		//- 			centeredSlides: true,
		//- 			spaceBetween: 15,
		//- 		}
		//- 	},
		//- 	//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
		//- });
	});

	$(window).scroll(function(){
		var windowW = $(window).width();
		//- var scrollT = document.documentElement.scrollTop || window.pageYOffset || document.body.scrollTop;
		if(scrollTop > 0 && windowW <= 767){
			$('#titMbBox').addClass('on');
			$('#mbImgCover').addClass('on');
		}else{
			$('#titMbBox').removeClass('on');
			$('#mbImgCover').removeClass('on');
		}
		var socialTitTop = $('#socialTit').offset().top;
		var titMbBoxH = $('#titMbBox').outerHeight();
		var marCH = 30;//側邊上下兩個的間距(.tit-mb-box的margin-bottom)
		var socialTitMarTop = titMbBoxH + marCH + 245;//這裡245是titMbBox topfix 距離
		var socialTitMarTopMore = titMbBoxH + (marCH*2) + 245;//這裡245是titMbBox topfix 距離
		//== 先取消過場時間，才不會因為top改動有跳動 ==
		if(scrollTop > socialTitTop - socialTitMarTopMore){
			$('#titMbBox').addClass('ontrans');
		}else{
			$('#titMbBox').removeClass('ontrans');
		}
		if(scrollTop > socialTitTop - socialTitMarTop){
			$('#lifestyleContSide').addClass('nofix');
		}else{
			$('#lifestyleContSide').removeClass('nofix');
		}
	});