include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area
			.main-cont
				section.lifestyle-cont-area
					.lifestyle-cont-side
						.tit-box 醇飲冷萃<br>無加糖咖啡
						.side-bot-box
							.tit-en Pure<br>Cold Brew
							.lifestyle-social-cont
								.tit 分享好伯朗
								.lifestyle-social-box
									a(href="###")
										img(src="img/icon_bfb.svg", alt="")
									a(href="###")
										img(src="img/icon_big.svg", alt="")
									a(href="###")
										img(src="img/icon_bgoogle.svg", alt="")
									a(href="###")
										img(src="img/icon_bline.svg", alt="")
					.lifestyle-cont-info
						.date 2021-APR-13
						h2.tit-box 咖啡豆<br>從樹上到杯中的旅程
						.lifestyle-info-txt.edit-area
							p.def 非水洗式（乾燥式）精製，又稱日曬法Nature Dry果實採收後，將果實攤放在露天日曬場，以陽光曝曬乾燥，為避免乾燥不平均，必須適時攪拌日曬天數視果實的成熟度而定，成熟度越高則僅需數日，未成熟的果實需要曬上一至二週。
							p.def 另外還有半日曝曬處理法Pulped Natural此法是部分使用日曬處理的咖啡園，為了提升日曬法咖啡豆品質而改良出來的。
							p.def 半日曬法的前兩個步驟和水洗法一樣，先初步篩選浮豆，然後去除果皮、果肉。接下來的步驟就像日曬法了，將只剩果膠的種子，以日曬的方式進行乾燥。
							p.def 水洗式精製，又稱為水洗法Washed(又稱濕式加工法)首先將咖啡果實的果肉去除，接著用發酵槽去除殘留在果皮上的黏膜，豆子清洗過後加以乾燥。可以透過每個步驟去除瑕疵豆與雜質（石頭或垃圾等），因此生豆的水準極高，外觀均一，普遍認為具有高水準。
							img.def.def-txt(src="img/life01.jpg", alt="")
							.img-note Coffee Tree
							img.def(src="img/life02.jpg", alt="")
							p.def 另外還有半水洗法Semi Washed介於日曬法與水洗法中間，先將收成的咖啡果實水洗後，再用機械去除外皮的果肉，用日光使之乾燥，再用機械乾燥結束。
							p.def 與水洗法的不同之處，在於過程中不將咖啡果實放入發酵槽，品質又比日曬法穩定。
							.page-btn-box
								a(href="###").prev <i class="fal fa-angle-left"></i> 上一篇
								a(href="lifestyle_list.html") 返回列表
								a(href="###").next 下一篇 <i class="fal fa-angle-right"></i>
				+coffeeHr
				//- .coffee-hr-box
				//- 	img(src="img/icon_bcof.svg", alt="")
				section.item-bottom-area
					.m-tit-box
						.m-tit
							h2 其他快訊
							.sup
								span Other News
					.item-cube-area.item-page-cube-area
							.swiper-button-prev#itemPrev <i class="fal fa-angle-left"></i>
							.swiper.item-cube-group#swiperItem
								.swiper-wrapper
									.swiper-slide
										-const itemCubeBox01={'img':'coffee01.png','isnew': true ,'tit':'印尼弗洛勒斯','link':'###'};
										+itemPageCubeBox(itemCubeBox01)
									.swiper-slide
										-const itemCubeBox02={'img':'coffee02.png','tit':'巴西聖多士','link':'###'};
										+itemPageCubeBox(itemCubeBox02)
									.swiper-slide
										-const itemCubeBox03={'img':'coffee03.png','tit':'哥倫比亞','link':'###'};
										+itemPageCubeBox(itemCubeBox03)
									.swiper-slide
										+itemPageCubeBox(itemCubeBox03)
							.swiper-button-next#itemNext <i class="fal fa-angle-right"></i>

				
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		$('#shopCircle').addClass('on');
		var swiperItem = new Swiper('#swiperItem', {
			spaceBetween: 30,
			slidesPerView: 3,
			centeredSlides: false,
			navigation: {
				nextEl: "#itemNext",
				prevEl: "#itemPrev",
			},
			breakpoints: {
				767: {
					slidesPerView: 1.3,
					centeredSlides: true,
				},
				480:{
					slidesPerView: 1.3,
					centeredSlides: true,
					spaceBetween: 15,
				}
			},
			//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
		});
	});