include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.news-area
			.main-cont
				section.list-page-area
					.m-tit-box
						.m-tit.inn
							h2 品牌快訊
							.sup
								span Brand News
						.shop-class-box.pc
							a(href="video_list.html").item 活動影音
							a(href="news_list.html").item.act 品牌快訊
						-const selectMbBox={'tit':'品牌快訊','itemList':[{'url':'video_list.html','name':'活動影音'},{'url':'news_list.html','name':'品牌快訊'}]}
						+selectMbBox(selectMbBox)
					.news-list
						-const newsBox01={'img':'news01.jpg','tit':'秋季系列飲品','txt':'粉嫩芬芳與香醇濃厚交織而成獨特風味，<br>令人難忘！'};
						+newsBox(newsBox01)
						-const newsBox02={'img':'news02.jpg','tit':'精品咖啡上市','txt':'精選印尼弗洛勒斯產區豆種，<br>豐沃火山土質孕育了獨一無二的咖啡風味'};
						+newsBox(newsBox02)
						-const newsBox03={'img':'news03.jpg','tit':'手沖咖啡教學','txt':'手沖達人沖煮步驟不私藏<br>伯朗教您品嚐親手沖泡的香醇風味'};
						+newsBox(newsBox03)
						+paginationBox
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== 手機下拉單 ===
		$('#selectMbBox').on('click',function(){
			var $list=$('#selectMbList');
			var isAct=$list.is(':visible');
			isAct ? $list.removeClass('on') : $list.addClass('on');
			//- isAct ? $list.slideUp() : $list.slideDown();
		});

		//=== 進場動畫 ===
		AOS.init({
			easing: 'ease-in-out',
			duration: 500,
			once: true,
			anchorPlacement: 'center-bottom',
		});
	});