include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.column-main-area
			.main-cont
				section.column-area
					.column-side-box
						.m-tit-box
							.m-tit.inn
								h2 隱私政策
								.sup
									span Privacy Policy
					.column-info-box
						.privacy-info-box
							.privacy-box
								.tit 會員協議條款｜
								p 伯朗咖啡網站會員協議條款（以下簡稱「本條款」），是金車股份有限公司之伯朗咖啡系列產品之網站（以下簡稱「伯朗咖啡網站 」）與伯朗咖啡網站會員（以下簡稱「會員」、「您」或「您的」）的共同協議條款。<br><br>「伯朗咖啡網站」，係由金車股份有限公司所擁有的網站，「會員」係使用伯朗咖啡網站服務之貴賓。伯朗咖啡網站將按照本協議條款的內容及服務條款執行。敬請詳閱本條款內容，如果您不接受本條款之任何協議事項，請勿註 冊成為會員。
							.privacy-box
								.tit 會員服務簡介｜
								p 伯朗咖啡網站透過國際互聯網路為會員提供各項服務。<br>會員必須：<br><br>(1)自行配備上網的所需設備，包括個人電腦或其他必備的上網裝置。<br>(2)自行負擔個人上網所需支付與此服務有關的電話或網路連線費用。<br><br>伯朗咖啡網站除以下情形外，不能公開會員的姓名、地址、郵件、IP地址予第三人：<br><br>(1)經會員要求伯朗咖啡網站上述資訊。<br>(2)依法律之規定需要伯朗咖啡網站提供會員的資料。會員在使用伯朗咖啡網站各項服務的同時，會員同意接受伯朗咖啡網站提供的各類訊息服務。
							.privacy-box
								.tit 服務條款之修訂權利｜
								p 伯朗咖啡網站保留修改或中斷服務是否須通知會員的權利。服務條款更動，會在重要頁面上提示修改內容。會員如果不同意所改動的內容，可以主動終止網路服務。如果繼續使用伯朗咖啡網站提供的服務，則視為接受服務條款的變動。伯朗咖啡網站行使修改或中斷服務的權利，無須對會員或第三人負擔法律責任。
							.privacy-box
								.tit 隱私權約定｜
								p 伯朗咖啡網站尊重會員個人隱私。伯朗咖啡網站不會在未經會員合法授權之情況下公開或透露會員的資料，除非以下所列之狀況：<br><br>(1)遵守法律規定，在有關執法部門依法查詢時，提供會員在伯朗咖啡網站的網頁上發佈的訊息內容及其發佈時間、互聯網地址或者域名。<br>(2)伯朗咖啡網站內容服務程式之需求。<br>(3)為維護伯朗咖啡網站的智慧財產權。
							.privacy-box
								.tit 會員資訊之安全性｜
								p 用戶註冊成為會員後，伯朗咖啡網站將有屬於您自己的一個帳號和密碼。如果您未保管好自己的帳號和密碼而對您、伯朗咖啡網站或第三方造成損害，您將負全部責任。另會員須對其帳戶中的所有行為負責。會員同意若發現任何非法使用會員帳號或安全漏洞的情況時，有義務立即通知伯朗咖啡網站。
							.privacy-box
								.tit 會員義務｜
								p 會員須對自己在使用伯朗咖啡網站服務過程中的行為承擔法律責任。並不得以任何方式破壞或妨礙伯朗咖啡網站的服務，為此您同意以下事項：<br><br>(1)提供您本人正確、最新及完整的資料，依本服務註冊表之提示完成登錄註冊。<br>(2)為確保您的權益，請維持並更新您個人資料，確保其為正確、最新及完整。若您提供的資料有任何錯誤或不實，伯朗咖啡網站有權暫停或終止您的帳號，並拒絕您使用本服務之全部或一部份。
							.privacy-box
								.tit 準據法與管轄法院約定｜
								p 本條款之解釋與適用，均應依照中華民國法律，本條款有關的爭議，同意以台灣台北地方法院為第一審管轄法院。
		//-內容
		include includes/footer