include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area
			.shop-banner-area
				.shop-banner-cont
					.shop-banner-img
						.shop-banner-item
							.icon-new New
							.circle#shopCircle
							img(src="img/main_coffee.png", alt="")
							//- img(src="img/shop_img.png", alt="")
					.shop-banner-info
						.tit-box
							.en
								img(src="img/shop_rtd.svg", alt="")
								//- Ready to Drink
							.tit 印尼弗洛勒斯
						.info-box
							.pc-en
								img(src="img/shop_pro_en_n.svg", alt="")
							.mb-en-txt Flores Black
							.mb-en
								img(src="img/shop_mb_en.svg", alt="")
							.txt 嚴選印尼弗洛勒斯產區豆種，<br>豐沃的火山土壤孕育獨特風味的咖啡豆。
			+coffeeHrMb
			.main-cont
				section.shop-cont-area
					//- .shop-banner-cont
					//- 	.shop-banner-img
					//- 		.shop-banner-item
					//- 			.icon-new New
					//- 			.circle#shopCircle
					//- 			img(src="img/shop_img.png", alt="")
					//- 	.shop-banner-info
					//- 		.tit-box
					//- 			.en Ready to Drink
					//- 			.tit 印尼弗洛勒斯
					//- 		.info-box
					//- 			.en Flores Black
					//- 			.txt 嚴選印尼弗洛勒斯產區豆種，<br>豐沃的火山土壤孕育獨特風味的咖啡豆。
					.shop-page-info-area
						.shop-page-info-tit
							h2.tit 產地<br>與種類
							.en Sourcing And<br>Processing
						.shop-page-info-cont.edit-area
							img.shop-def(src="img/shop01.jpg", alt="")
							p.shop-def 嚴選印尼弗洛勒斯產區豆種，豐沃的火山土壤孕育獨特風味的咖啡豆。使用冷萃技術，降低咖啡酸度苦澀，擁有清新花香，尾韻帶有木質巧克力氣息，口感溫和適中。產品風味經由國際咖啡品質鑑定學會(CQI)認證的杯測鑑定師團隊專業研發。
							img.shop-def(src="img/shop02.jpg", alt="")
							p.shop-def 嚴選印尼弗洛勒斯產區豆種，豐沃的火山土壤孕育獨特風味的咖啡豆。使用冷萃技術，降低咖啡酸度苦澀，擁有清新花香，尾韻帶有木質巧克力氣息，口感溫和適中。產品風味經由國際咖啡品質鑑定學會(CQI)認證的杯測鑑定師團隊專業研發。
					.page-btn-box
						//- a(href="###").prev <i class="fal fa-angle-left"></i> 上一篇
						a(href="###").prev
							.arr
							span 上一篇
						a(href="shop_list.html").back <i class="fal fa-angle-left"></i> 返回列表
						a(href="###").next
							span 下一篇
							.arr
						//- a(href="###").next 下一篇 <i class="fal fa-angle-right"></i>
					//- +coffeeHrMb
					+coffeeHr
				section.item-bottom-area
					.m-tit-box
						.m-tit
							h2 其他商品
							.sup
								span Other Series
					.item-page-cube-area
						.page-btn.prve#itemPrev <i class="fal fa-angle-left"></i>
						.item-page-cube-group
							-const cubeItem01={'id':'1','isNew':true,'img':'coffee01.png','name':'印尼弗洛勒斯','cont':'選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。','en':'Black Coffee','zh':'醇黑咖啡'};
							-const cubeItem02={'id':'2','isNew':true,'img':'coffee02.png','name':'印尼弗洛勒斯','cont':'選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。','en':'Black Coffee','zh':'醇黑咖啡'};
							-const cubeItem03={'id':'3','isNew':true,'img':'coffee03.png','name':'印尼弗洛勒斯','cont':'選用100%的阿拉比卡咖啡豆萃取而成，無添加香料最佳原味。','en':'Black Coffee','zh':'醇黑咖啡'};
							+itemPageCubeCont(cubeItem01)
							+itemPageCubeCont(cubeItem02)
							+itemPageCubeCont(cubeItem03)
							//- .item-page-cube-cont.item#slide1
							//- 	.item-page-cube-box
							//- 		.item-page-cube-img
							//- 			.icon-new New
							//- 			.item-img
							//- 				img(src="img/coffee01.png", alt="")
							//- 		.item-page-cube-name#slideName1
							//- 			.name 印尼弗洛勒斯
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- 	.item-page-cube-info-box
							//- 		.cont.item-scroll#slideCont1 選用100%阿拉比卡咖啡豆萃取而成，無添加香料的最佳原味。
							//- 		.arr-box
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- .item-page-cube-cont.item#slide2
							//- 	.item-page-cube-box
							//- 		.item-page-cube-img
							//- 			.icon-new New
							//- 			.item-img
							//- 				img(src="img/coffee02.png", alt="")
							//- 		.item-page-cube-name
							//- 			.name 印尼弗洛勒斯
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- 	.item-page-cube-info-box
							//- 		.cont.item-scroll#slideCont2 選用100%阿拉比卡咖啡豆萃取而成，無添加香料的最佳原味。
							//- 		.arr-box
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- .item-page-cube-cont.item#slide3
							//- 	.item-page-cube-box
							//- 		.item-page-cube-img
							//- 			.icon-new New
							//- 			.item-img
							//- 				img(src="img/coffee03.png", alt="")
							//- 		.item-page-cube-name
							//- 			.name 印尼弗洛勒斯
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
							//- 	.item-page-cube-info-box
							//- 		.cont.item-scroll#slideCont3 選用100%阿拉比卡咖啡豆萃取而成，無添加香料的最佳原味。
							//- 		.arr-box
							//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
						// 手機
						.swiper.item-page-cube-mb-group#swiperItem
							.swiper-wrapper
								.swiper-slide
									+itemPageCubeMbBox(cubeItem01)
								.swiper-slide
									+itemPageCubeMbBox(cubeItem02)
								.swiper-slide
									+itemPageCubeMbBox(cubeItem03)
									//- .item-page-cube-mb-box
									//- 	.item-page-cube-mb-img-box
									//- 		.icon-new New
									//- 		.item-page-cube-mb-img
									//- 			img(src="img/coffee01.png", alt="")
									//- 	.item-page-cube-mb-info-box
									//- 		.tit.item-mb-tit#itemMbTit1
									//- 			.en Black Coffee
									//- 			.zh 醇黑咖啡
									//- 		.arr-box
									//- 			a(href="###") 暸解更多 <i class="fal fa-chevron-right"></i>
						.page-btn.next#itemNext <i class="fal fa-angle-right"></i>
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== banner 進場 ===
		$('#shopCircle').addClass('on');

		//=== 底部商品介紹 ===
		$('#cube1').addClass('act');
		$('#cubeCont1').mCustomScrollbar();
		$('#cube2,#cube3').addClass('move');
		//= 文區塊進場 =
		gsap.to('#cubeCont1', {
			top: 0,
			opacity: 1,
			ease: "power1.out",
			duration: 0.5,
			delay: 0.2
		});
		var itemSlideList=[
			{'id':'1','remove':['cube2','cube3']},
			{'id':'2','remove':['cube3']},
			{'id':'3','remove':[]},
		];
		$.each(itemSlideList,function(ind,val){
			var $actItem=$('#cube'+val.id);
			$actItem.on('mouseenter',function(){//click
				var hasAct=$actItem.hasClass('act');
				if(!hasAct){
					$('.item').removeClass('act');
					$actItem.addClass('act');
					$('.item').removeClass('move');
					//= 偏移取消 =
					if(val.remove){
						$.each(val.remove,function(i,c){
							$('#'+c).addClass('move');
						});
					}
					//= 文區塊取消 =
					$('.item-scroll').removeAttr('style');
					$('.item-scroll').mCustomScrollbar("destroy");
					$('#cubeCont'+val.id).mCustomScrollbar();
					//= 文區塊進場 =
					gsap.to('#cubeCont'+val.id, {
						top: 0,
						opacity: 1,
						ease: "power1.out",
						duration: 0.5,
						delay: 0.2
					});
				}
			});
		});

		//- $('#cube1').on('click',function(){
		//- 	$('.item').removeClass('act');
		//- 	$(this).addClass('act');
		//- 	$('.item').removeClass('move');
		//- 	$('#cube2,#cube3').addClass('move');
		//- 	//= 圖文區塊進場 =
		//- 	gsap.to('#cubeCont1', {
		//- 		top: 0,
		//- 		opacity: 1,
		//- 		ease: "power1.out",
		//- 		duration: 0.5,
		//- 		delay: 0.2
		//- 	});
		//- });
		//- $('#cube2').on('click',function(){
		//- 	$('.item').removeClass('act');
		//- 	$(this).addClass('act');
		//- 	$('.item').removeClass('move');
		//- 	$('#cube3').addClass('move');
			
		//- 	$('#cubeCont1').removeAttr('style');
		//- });
		//- $('#cube3').on('click',function(){
		//- 	$('.item').removeClass('act');
		//- 	$(this).addClass('act');
		//- 	$('.item').removeClass('move');
		//- });
		//- $(".item-scroll").mCustomScrollbar();

		var swiperItem = new Swiper('#swiperItem', {
			spaceBetween: 30,
			slidesPerView: 1,
			navigation: {
				nextEl: "#itemNext",
				prevEl: "#itemPrev",
			},
		});
	});
	