include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.main-area.shop-area
			.main-cont
				section.list-page-area
					.m-tit-box
						.m-tit.inn
							h2 即飲系列
							.sup
								span Ready to Drink
						.shop-class-box.pc
							a(href="###").item.act 即飲系列
							a(href="###").item 寶特系列
							a(href="###").item 濾掛系列
							a(href="###").item 咖啡豆系列
							a(href="###").item 沖調系列
						-const selectMbBox={'tit':'即飲系列','itemList':[{'url':'###','name':'即飲系列'},{'url':'###','name':'寶特系列'},{'url':'###','name':'濾掛系列'},{'url':'###','name':'咖啡豆系列'},{'url':'###','name':'沖調系列'}]}
						+selectMbBox(selectMbBox)
					.shop-list
						-const shopItemBox={};
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
						+shopItemBox(shopItemBox)
				+coffeeHr
				.ind-bot-banner-box
				//- section.item-bottom-area
				//- 	.m-tit-box
				//- 		.m-tit
				//- 			h2 其他系列
				//- 			.sup
				//- 				span Other Series
				//- 	.item-cube-area.item-page-cube-area
				//- 			.swiper-button-prev#itemPrev <i class="fal fa-angle-left"></i>
				//- 			.swiper.item-cube-group#swiperItem
				//- 				.swiper-wrapper
				//- 					.swiper-slide
				//- 						-const itemCubeBox01={'img':'coffee01.png','isnew': true ,'tit':'印尼弗洛勒斯','link':'###'};
				//- 						+itemPageCubeBox(itemCubeBox01)
				//- 					.swiper-slide
				//- 						-const itemCubeBox02={'img':'coffee02.png','tit':'巴西聖多士','link':'###'};
				//- 						+itemPageCubeBox(itemCubeBox02)
				//- 					.swiper-slide
				//- 						-const itemCubeBox03={'img':'coffee03.png','tit':'哥倫比亞','link':'###'};
				//- 						+itemPageCubeBox(itemCubeBox03)
				//- 					.swiper-slide
				//- 						+itemPageCubeBox(itemCubeBox03)
				//- 			.swiper-button-next#itemNext <i class="fal fa-angle-right"></i>
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== 手機下拉單 ===
		$('#selectMbBox').on('click',function(){
			var $list=$('#selectMbList');
			var isAct=$list.is(':visible');
			isAct ? $list.removeClass('on') : $list.addClass('on');
			//- isAct ? $list.slideUp() : $list.slideDown();
		});

		//=== 商品進場 ===
		AOS.init({
			easing: 'ease-in-out',
			duration: 1000,
			once: true,
			anchorPlacement: 'center-bottom',
		});

		//=== 其他 ===
		//- var swiperItem = new Swiper('#swiperItem', {
		//- 	spaceBetween: 30,
		//- 	slidesPerView: 3,
		//- 	centeredSlides: false,
		//- 	navigation: {
		//- 		nextEl: "#itemNext",
		//- 		prevEl: "#itemPrev",
		//- 	},
		//- 	breakpoints: {
		//- 		767: {
		//- 			slidesPerView: 1.3,
		//- 			centeredSlides: true,
		//- 		},
		//- 		480:{
		//- 			slidesPerView: 1.3,
		//- 			centeredSlides: true,
		//- 			spaceBetween: 15,
		//- 		}
		//- 	},
		//- 	//- autoHeight: true,//讓外層高隨不同slide內容改變高度 不會有多餘的空白
		//- });
	});