include includes/mixin
<!DOCTYPE html>
html
	include includes/header
	body
		include includes/page_nav
		.video-light-area#videoLightArea
			.close#videoClose
			.video-light-box
				iframe#videoLight(src="https://www.youtube.com/embed/H9Viq60SkVk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		.main-area.news-area
			.main-cont
				section.list-page-area
					.m-tit-box
						.m-tit.inn
							h2 活動影音
							.sup
								span Activity Video
						.shop-class-box.pc
							a(href="video_list.html").item.act 活動影音
							a(href="news_list.html").item 品牌快訊
						-const selectMbBox={'tit':'活動影音','itemList':[{'url':'video_list.html','name':'活動影音'},{'url':'news_list.html','name':'品牌快訊'}]}
						+selectMbBox(selectMbBox)
					.news-list
						-const newsBox01={'img':'video01.jpg','tit':'早餐司機篇','txt':'雙倍強勁能量，<br>陪你克服生活中的一切挑戰！'};
						+videoBox(newsBox01)
						-const newsBox02={'img':'video02.jpg','tit':'伯朗時光篇 完整版 ','txt':'40年來，伯朗咖啡<br>陪伴著我們度過日常的每一刻'};
						+videoBox(newsBox02)
						-const newsBox03={'img':'video03.jpg','tit':'伯朗精品咖啡','txt':'柑橘香氣及咖啡苦味<br>喚醒舌尖口感溫和而厚實'};
						+videoBox(newsBox03)
						+paginationBox
		//-內容
		include includes/footer
script.
	$(document).ready(function(){
		//=== 手機下拉單 ===
		$('#selectMbBox').on('click',function(){
			var $list=$('#selectMbList');
			var isAct=$list.is(':visible');
			isAct ? $list.removeClass('on') : $list.addClass('on');
			//- isAct ? $list.slideUp() : $list.slideDown();
		});

		//=== 進場動畫 ===
		AOS.init({
			easing: 'ease-in-out',
			duration: 500,
			once: true,
			anchorPlacement: 'center-bottom',
		});

		//=== 影片開啟關閉 ===
		//- https://www.youtube.com/embed/H9Viq60SkVk
		$('.news-box').on('click',function(){
			var videoId=$(this).data('videoid');
			var videoUrl='https://www.youtube.com/embed/'+videoId;
			$('#videoLightArea,#mask').fadeIn(300);
			$('#videoLight').attr('src',videoUrl);
		});
		$('#videoClose').on('click',function(){
			$('#videoLightArea,#mask').fadeOut(300);
			$('#videoLight').attr('src','');
		});
	});